[interface_0]
type=^IFTYPE_LAYER
width=512
height=334

[interface_0:1]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:2]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:3]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:4]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:5]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:6]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:7]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:8]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:9]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:10]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:11]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:12]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:13]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:14]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:15]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:16]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:17]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:18]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:19]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:20]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:21]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:22]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:23]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:24]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:25]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:26]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:27]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:28]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:29]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:30]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_0:31]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_0:32]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_0:33]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_0:34]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_0:35]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_0:36]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_0:37]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_0:38]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_0:39]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_0:40]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_0:41]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_0:42]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_0:43]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_0:44]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_0:45]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_0:46]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:47]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:48]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:49]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:50]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:51]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:52]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:53]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:54]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:55]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:56]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:57]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:58]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:59]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:60]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:61]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:62]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:63]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:64]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:65]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:66]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:67]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:68]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:69]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:70]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:71]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_0:72]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_0:73]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:74]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_0:75]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_0:76]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:77]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:78]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:79]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:80]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:81]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:82]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:83]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:84]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:85]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:86]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:87]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:88]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_0:89]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_0:90]
x=154
y=30
type=^IFTYPE_TEXT
width=194
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Thessalias' Makeovers (Legs)"
colour=0xFFFF00
shadowed=yes

[interface_0:91]
x=59
y=249
type=^IFTYPE_RECTANGLE
width=403
height=28
fill=yes

[interface_0:92]
x=85
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=263
script1op3=0
option="Khaki"
fill=yes
colour=0x7B6E32

[interface_0:93]
x=110
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=263
script1op3=0
option="Black"
fill=yes
colour=0x262323

[interface_0:94]
x=135
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=263
script1op3=0
option="Crimson"
fill=yes
colour=0x752F3B

[interface_0:95]
x=160
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=263
script1op3=0
option="Navy"
fill=yes
colour=0x3B3B4E

[interface_0:96]
x=185
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=263
script1op3=0
option="Straw"
fill=yes
colour=0xAA9045

[interface_0:97]
x=210
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=263
script1op3=0
option="White"
fill=yes
colour=0xBEB89C

[interface_0:98]
x=235
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=263
script1op3=0
option="Red"
fill=yes
colour=0x8B3B2A

[interface_0:99]
x=260
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=263
script1op3=0
option="Blue"
fill=yes
colour=0x2D5272

[interface_0:100]
x=285
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=263
script1op3=0
option="Green"
fill=yes
colour=0x2D723E

[interface_0:101]
x=310
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=263
script1op3=0
option="Yellow"
fill=yes
colour=0xA3970D

[interface_0:102]
x=335
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=263
script1op3=0
option="Purple"
fill=yes
colour=0x83537B

[interface_0:103]
x=360
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=263
script1op3=0
option="Orange"
fill=yes
colour=0x9D642F

[interface_0:104]
x=385
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=263
script1op3=0
option="Rose"
fill=yes
colour=0xA17067

[interface_0:105]
x=410
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=263
script1op3=0
option="Lime"
fill=yes
colour=0x829472

[interface_0:106]
x=435
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=263
script1op3=0
option="Cyan"
fill=yes
colour=0x728C94

[interface_0:107]
x=60
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=263
script1op3=0
option="Emerald"
fill=yes
colour=0x1C6135

[interface_0:108]
x=197
y=289
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=127
height=14
font=^BOLD
text="CONFIRM (500 gold)"
colour=0x00FF00
overcolour=0xFF0000
shadowed=yes

[interface_0:109]
x=59
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:110]
x=84
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:111]
x=109
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:112]
x=134
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:113]
x=160
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:114]
x=185
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:115]
x=210
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:116]
x=235
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:117]
x=260
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:118]
x=285
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:119]
x=310
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:120]
x=335
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:121]
x=360
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:122]
x=385
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:123]
x=410
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:124]
x=435
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_0:125]
x=220
y=225
type=^IFTYPE_TEXT
width=73
height=14
font=^PLAIN
text="Select colour"
colour=0xFFFF00
shadowed=yes

[interface_0:126]
x=50
y=220
type=^IFTYPE_MODEL
width=32
height=32
model=254
zoom=400

[interface_0:127]
x=185
y=220
type=^IFTYPE_MODEL
width=32
height=32
model=271
zoom=400

[interface_0:128]
x=310
y=210
type=^IFTYPE_MODEL
width=32
height=32
model=267
zoom=420

[interface_0:129]
x=435
y=220
type=^IFTYPE_MODEL
width=32
height=32
model=274
zoom=400

[interface_0:130]
x=46
y=89
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=40
height=120
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
option="Plain"

[interface_0:131]
x=180
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=40
height=120
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
option="Shorts"

[interface_0:132]
x=306
y=86
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=40
height=120
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
option="Flares"

[interface_0:133]
x=430
y=88
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=40
height=120
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_0:134]
x=53
y=90
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_0:135]
x=187
y=90
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_0:136]
x=313
y=87
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_0:137]
x=436
y=89
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_0:138]
x=211
y=62
type=^IFTYPE_TEXT
width=87
height=14
font=^PLAIN
text="Select leg style"
colour=0xFFFF00
shadowed=yes

