[interface_1908]
type=^IFTYPE_LAYER
width=512
height=334

[interface_1908:1911]
x=14
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1918]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1921]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1928]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1931]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1936]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1939]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1946]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1949]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1956]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1959]
x=412
y=46
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1966]
x=361
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1969]
x=274
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1974]
x=187
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1977]
x=100
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1984]
x=13
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:1987]
x=409
y=232
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6868]
x=272
y=231
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6869]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6870]
x=359
y=235
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6871]
x=185
y=235
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6872]
x=98
y=233
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6873]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6874]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6875]
x=12
y=231
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6876]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6877]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6878]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6879]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6880]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_1908:6881]
x=12
y=42
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_1908:6882]
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_1908:6883]
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_1908:6884]
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_1908:6885]
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_1908:6886]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_1908:6887]
x=479
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_1908:6888]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_1908:6889]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_1908:6890]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_1908:6891]
x=31
y=49
type=^IFTYPE_MODEL
width=437
height=242
zoom=606
xan=1551
yan=1020

[interface_1908:6892]
x=55
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6893]
x=125
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6894]
x=160
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6895]
x=195
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6896]
x=230
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6897]
x=265
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6898]
x=300
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6899]
x=335
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6900]
x=370
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6901]
x=405
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6902]
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_1908:6903]
x=90
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6904]
x=71
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6905]
x=106
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6906]
x=141
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6907]
x=176
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6908]
x=211
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6909]
x=246
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6910]
x=281
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6911]
x=316
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6912]
x=479
y=61
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_1908:6913]
x=351
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6914]
x=386
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6915]
y=67
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_1908:6916]
x=421
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6917]
x=248
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6918]
x=36
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6919]
x=20
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6920]
x=475
y=42
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_1908:6921]
x=456
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6922]
x=475
y=265
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_1908:6923]
x=440
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_1908:6924]
x=421
y=54
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_1908:6925]
x=283
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6926]
x=318
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6927]
x=353
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6928]
x=388
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6929]
x=423
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6930]
x=458
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6931]
x=213
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6932]
x=178
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6933]
x=143
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6934]
x=108
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6935]
x=73
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6936]
x=12
y=265
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_1908:6937]
x=38
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6938]
x=17
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_1908:6939]
x=42
y=127
type=^IFTYPE_TEXT
width=438
height=26
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Proceed with caution. If you go much further north you will enter the\nwilderness. This is a very dangerous area where other players can attack you!"
colour=0xFFFFFF
shadowed=yes

[interface_1908:6940]
x=206
y=55
type=^IFTYPE_TEXT
width=102
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="WARNING !!!"
colour=0xFF0000
shadowed=yes

[interface_1908:6941]
x=45
y=171
type=^IFTYPE_TEXT
width=423
height=26
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="The further north you go the more dangerous it becomes, but there is more\ntreasure to be found."
colour=0xFFFFFF
shadowed=yes

[interface_1908:6942]
x=79
y=215
type=^IFTYPE_TEXT
width=358
height=26
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="In the wilderness an indicator at the bottom-right of the screen\nwill show the current level of danger."
colour=0xFFFF00
shadowed=yes

