[interface_2311]
type=^IFTYPE_LAYER
width=512
height=334

[interface_2311:2312]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2313]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2314]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2315]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2316]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2317]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2318]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2319]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2320]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2321]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2322]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2323]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2324]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2325]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2326]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2327]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2328]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2329]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2330]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2331]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2332]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2333]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2334]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2335]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2336]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2337]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2338]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2339]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2340]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2341]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2311:2342]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_2311:2343]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2311:2344]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2311:2345]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2311:2346]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2311:2347]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2311:2348]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2311:2349]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2311:2350]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2311:2351]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2311:2352]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2311:2353]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2311:2354]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2311:2355]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2311:2356]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2311:2357]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2358]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2359]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2360]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2361]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2362]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2363]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2364]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2365]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2366]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2367]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2368]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2369]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2370]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2371]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2372]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2373]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2374]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2375]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2376]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2377]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2378]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2379]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2380]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2381]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2382]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_2311:2383]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_2311:2384]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2385]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_2311:2386]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2311:2387]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2388]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2389]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2390]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2391]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2392]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2393]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2394]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2395]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2396]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2397]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2398]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2399]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2311:2400]
x=26
y=56
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=13
script1op1=1
script1op2=12
script1op3=0
model=2540
activemodel=2540
zoom=400
xan=500

[interface_2311:2401]
x=154
y=48
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=0
script1op1=1
script1op2=12
script1op3=0
model=2649
activemodel=2649
zoom=500
xan=500

[interface_2311:2402]
x=282
y=72
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=6
script1op1=1
script1op2=12
script1op3=0
model=2837
activemodel=2837
zoom=400
xan=100
yan=100

[interface_2311:2403]
x=426
y=59
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=10
script1op1=1
script1op2=12
script1op3=0
model=2656
activemodel=2656
zoom=350
xan=600

[interface_2311:2404]
x=33
y=159
type=^IFTYPE_TEXT
width=51
height=17
scriptc1=3
scriptv1=13
script1op1=1
script1op2=12
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Armour"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_2311:2405]
x=164
y=160
type=^IFTYPE_TEXT
width=41
height=17
scriptc1=3
scriptv1=0
script1op1=1
script1op2=12
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Gloves"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_2311:2406]
x=295
y=159
type=^IFTYPE_TEXT
width=36
height=17
scriptc1=3
scriptv1=6
script1op1=1
script1op2=12
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Boots"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_2311:2407]
x=404
y=158
type=^IFTYPE_TEXT
width=71
height=17
scriptc1=3
scriptv1=10
script1op1=1
script1op2=12
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Vambraces"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_2311:2408]
x=150
y=27
type=^IFTYPE_TEXT
width=211
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="What would you like to make ?"
colour=0xFFFF00

[interface_2311:2409]
x=91
y=195
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=17
script1op1=1
script1op2=12
script1op3=0
model=2555
activemodel=2555
zoom=700
xan=500

[interface_2311:2410]
x=105
y=287
type=^IFTYPE_TEXT
width=35
height=14
scriptc1=3
scriptv1=17
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
text="Chaps"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_2311:2411]
x=220
y=204
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=37
script1op1=1
script1op2=12
script1op3=0
model=2541
activemodel=2541
zoom=350
xan=150
yan=100

[interface_2311:2412]
x=348
y=202
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=350
xan=150
yan=100

[interface_2311:2413]
x=237
y=288
type=^IFTYPE_TEXT
width=23
height=14
scriptc1=3
scriptv1=37
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
text="Coif"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_2311:2414]
x=365
y=288
type=^IFTYPE_TEXT
width=24
height=14
scriptc1=3
scriptv1=8
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
text="Cowl"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_2311:2415]
x=21
y=98
type=^IFTYPE_TEXT
width=4
height=2
scriptc1=2
scriptv1=14
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_2311:2416]
x=147
y=99
type=^IFTYPE_TEXT
width=4
height=4
scriptc1=2
scriptv1=1
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_2311:2417]
x=276
y=99
type=^IFTYPE_TEXT
width=4
height=4
scriptc1=2
scriptv1=7
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_2311:2418]
x=401
y=100
type=^IFTYPE_TEXT
width=4
height=2
scriptc1=2
scriptv1=11
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_2311:2419]
x=86
y=229
type=^IFTYPE_TEXT
width=4
height=4
scriptc1=2
scriptv1=18
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_2311:2420]
x=215
y=229
type=^IFTYPE_TEXT
width=4
height=4
scriptc1=2
scriptv1=38
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_2311:2421]
x=341
y=229
type=^IFTYPE_TEXT
width=4
height=4
scriptc1=2
scriptv1=9
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_2311:2422]
x=415
y=29
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=72
height=14
font=^PLAIN
text="Close window"
colour=0xCC0000
shadowed=yes

