[interface_2459]
type=^IFTYPE_LAYER
width=512
height=334

[interface_2459:2460]
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

[interface_2459:2461]
y=31
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option1"
overcolour=0x00C000

[interface_2459:2462]
y=63
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option2"
overcolour=0x00C000

[interface_2459:2465]
x=126
y=1
type=^IFTYPE_LAYER
width=229
height=13

[interface_2465:2463]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2465:2459
graphic="sworddecor,1"

[interface_2465:2464]
x=172
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2465:2459
graphic="sworddecor,0"

[interface_2459:2468]
x=2
y=1
type=^IFTYPE_LAYER
width=476
height=13
hide=yes

[interface_2468:2466]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2468:2459
graphic="sworddecor,1"

[interface_2468:2467]
x=419
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2468:2459
graphic="sworddecor,0"

