[interface_2480]
type=^IFTYPE_LAYER
width=512
height=334

[interface_2480:2481]
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

[interface_2480:2482]
y=19
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option1"
overcolour=0x00C000

[interface_2480:2483]
y=39
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option2"
overcolour=0x00C000

[interface_2480:2484]
y=59
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option3"
overcolour=0x00C000

[interface_2480:2485]
y=79
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option4"
overcolour=0x00C000

[interface_2480:2488]
x=126
y=1
type=^IFTYPE_LAYER
width=229
height=13

[interface_2488:2486]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2488:2480
graphic="sworddecor,1"

[interface_2488:2487]
x=172
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2488:2480
graphic="sworddecor,0"

[interface_2480:2489]
x=2
y=1
type=^IFTYPE_LAYER
width=476
height=13
hide=yes

[interface_2489:2490]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2489:2480
graphic="sworddecor,1"

[interface_2489:2491]
x=419
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2489:2480
graphic="sworddecor,0"

