[interface_2492]
type=^IFTYPE_LAYER
width=512
height=334

[interface_2492:2493]
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

[interface_2492:2494]
y=15
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=16
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option1"
overcolour=0x00C000

[interface_2492:2495]
y=31
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=16
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option2"
overcolour=0x00C000

[interface_2492:2496]
y=47
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=16
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option3"
overcolour=0x00C000

[interface_2492:2497]
y=63
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=16
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option4"
overcolour=0x00C000

[interface_2492:2498]
y=79
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=16
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option5"
overcolour=0x00C000

[interface_2492:2501]
x=126
y=1
type=^IFTYPE_LAYER
width=229
height=13

[interface_2501:2499]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2501:2492
graphic="sworddecor,1"

[interface_2501:2500]
x=172
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2501:2492
graphic="sworddecor,0"

[interface_2492:2502]
x=2
y=1
type=^IFTYPE_LAYER
width=476
height=13
hide=yes

[interface_2502:2503]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2502:2492
graphic="sworddecor,1"

[interface_2502:2504]
x=419
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2502:2492
graphic="sworddecor,0"

