[interface_2505]
type=^IFTYPE_LAYER
width=512
height=334

[interface_2505:2506]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2507]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2508]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2509]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2510]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2511]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2512]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2513]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2514]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2515]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2516]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2517]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2518]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2519]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2520]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2521]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2522]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2523]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2524]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2525]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2526]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2527]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2528]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2529]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2530]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2531]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2532]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2533]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2534]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2535]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2505:2536]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_2505:2537]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2505:2538]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2505:2539]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2505:2540]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2505:2541]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2505:2542]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2505:2543]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2505:2544]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2505:2545]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2505:2546]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2505:2547]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2505:2548]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2505:2549]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2505:2550]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2505:2551]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2552]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2553]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2554]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2555]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2556]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2557]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2558]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2559]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2560]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2561]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2562]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2563]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2564]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2565]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2566]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2567]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2568]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2569]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2570]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2571]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2572]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2573]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2574]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2575]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2576]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_2505:2577]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_2505:2578]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2579]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_2505:2580]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2505:2581]
x=65
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=120
zoom=1200
yan=200

[interface_2505:2582]
x=190
y=30
type=^IFTYPE_TEXT
width=130
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Hairdressers' Salon"
colour=0xFFFF00
shadowed=yes

[interface_2505:2583]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_2505:2584]
x=150
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=103
zoom=1200
yan=200

[interface_2505:2585]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2586]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2587]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2588]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2589]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2590]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2591]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2592]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2593]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2594]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2595]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2596]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2597]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2505:2598]
x=235
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=110
zoom=1200
yan=200

[interface_2505:2599]
x=320
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=113
zoom=1200
yan=200

[interface_2505:2600]
x=65
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=118
zoom=1200
yan=200

[interface_2505:2601]
x=150
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=114
zoom=1200
yan=200

[interface_2505:2602]
x=235
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=125
zoom=1200
yan=200

[interface_2505:2603]
x=320
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=105
zoom=1200
yan=200

[interface_2505:2604]
x=405
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=115
zoom=1200
yan=200

[interface_2505:2605]
x=405
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=104
zoom=1200
yan=200

[interface_2505:2606]
x=390
y=290
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=55
height=14
font=^BOLD
text="CONFIRM"
colour=0x00FF00
overcolour=0xFF0000
shadowed=yes

[interface_2505:2607]
x=134
y=259
type=^IFTYPE_RECTANGLE
width=243
height=23
fill=yes

[interface_2505:2608]
x=135
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x494034

[interface_2505:2609]
x=155
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xD6D1D1

[interface_2505:2610]
x=175
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x76756C

[interface_2505:2611]
x=195
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x2F2A2A

[interface_2505:2612]
x=215
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xCB823E

[interface_2505:2613]
x=235
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xCDAD53

[interface_2505:2614]
x=255
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x885F29

[interface_2505:2615]
x=275
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x50321E

[interface_2505:2616]
x=295
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x008383

[interface_2505:2617]
x=315
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x008300

[interface_2505:2618]
x=335
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x9F2800

[interface_2505:2619]
x=355
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xBE00C0

[interface_2505:2620]
x=198
y=233
type=^IFTYPE_TEXT
width=114
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Please select colour"
colour=0xFFFF00
shadowed=yes

[interface_2505:2621]
x=85
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2505:2622]
x=170
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2505:2623]
x=260
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2505:2624]
x=345
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2505:2625]
x=430
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2505:2626]
x=85
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2505:2627]
x=170
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2505:2628]
x=260
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2505:2629]
x=340
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2505:2630]
x=430
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2505:2631]
x=135
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=1
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2632]
x=155
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=2
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2633]
x=175
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=3
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2634]
x=195
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=4
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2635]
x=215
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=5
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2636]
x=235
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=6
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2637]
x=255
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=7
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2638]
x=275
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=8
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2639]
x=295
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=9
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2640]
x=315
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=10
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2641]
x=335
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=11
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2642]
x=355
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=12
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2505:2643]
x=55
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0

[interface_2505:2644]
x=141
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0

[interface_2505:2645]
x=224
y=82
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0

[interface_2505:2646]
x=310
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0

[interface_2505:2647]
x=394
y=84
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0

[interface_2505:2648]
x=54
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0

[interface_2505:2649]
x=137
y=162
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0

[interface_2505:2650]
x=224
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0

[interface_2505:2651]
x=307
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=9
script1op1=5
script1op2=261
script1op3=0

[interface_2505:2652]
x=394
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=10
script1op1=5
script1op2=261
script1op3=0

