[interface_2798]
type=^IFTYPE_LAYER
width=512
height=334

[interface_2798:2799]
x=2
y=5
type=^IFTYPE_GRAPHIC
width=57
height=13
graphic="sworddecor,1"

[interface_2798:2800]
x=56
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=64
zoom=100
xan=100
yan=100

[interface_2798:2801]
x=207
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=64
zoom=400

[interface_2798:2802]
x=360
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=64
zoom=400

[interface_2798:2803]
x=12
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=152
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_2798:2804]
x=164
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=152
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_2798:2805]
x=316
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=152
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_2798:2806]
x=8
y=3
type=^IFTYPE_TEXT
width=464
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

[interface_2798:2807]
x=396
y=5
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=72
height=14
font=^PLAIN
text="Close window"
colour=0xFFFF00
shadowed=yes

