[interface_2808]
type=^IFTYPE_LAYER
width=512
height=334

[interface_2808:2809]
x=244
y=152
type=^IFTYPE_MODEL
width=35
height=35
model=3044
zoom=651
xan=2041
yan=6

[interface_2808:2810]
x=120
y=110
type=^IFTYPE_TEXT
width=276
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Choose the stat you wish to be advanced!"
colour=0xFFFF00
shadowed=yes

[interface_2808:2811]
x=433
y=12
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_2808:2812]
x=148
y=140
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=79
script1op3=0
option="Advance Attack"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2813]
x=180
y=140
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=79
script1op3=0
option="Advance Strength"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2814]
x=212
y=140
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=79
script1op3=0
option="Advance Ranged"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2815]
x=244
y=140
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=79
script1op3=0
option="Advance Magic"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2816]
x=276
y=140
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=79
script1op3=0
option="Advance Defence"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2817]
x=308
y=140
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=79
script1op3=0
option="Advance Hitpoints"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2818]
x=340
y=140
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=79
script1op3=0
option="Advance Prayer"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2819]
x=180
y=176
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=79
script1op3=0
option="Advance Agility"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2820]
x=212
y=176
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=79
script1op3=0
option="Advance Herblore"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2821]
x=244
y=176
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=79
script1op3=0
option="Advance Thieving"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2822]
x=276
y=176
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=79
script1op3=0
option="Advance Crafting"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2823]
x=308
y=176
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=79
script1op3=0
option="Advance Runecraft"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2824]
x=148
y=212
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=79
script1op3=0
option="Advance Mining"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2825]
x=180
y=212
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=79
script1op3=0
option="Advance Smithing"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2826]
x=212
y=212
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=79
script1op3=0
option="Advance Fishing"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2827]
x=244
y=212
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=79
script1op3=0
option="Advance Cooking"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2828]
x=276
y=212
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=17
script1op1=5
script1op2=79
script1op3=0
option="Advance Firemaking"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2829]
x=308
y=212
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=18
script1op1=5
script1op2=79
script1op3=0
option="Advance Woodcutting"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2830]
x=340
y=212
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=19
script1op1=5
script1op2=79
script1op3=0
option="Advance Fletching"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_2808:2831]
x=232
y=244
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=44
height=14
font=^PLAIN
text="Confirm"
colour=0x00C000
shadowed=yes

[interface_2808:2832]
x=148
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,0"

[interface_2808:2833]
x=180
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,1"

[interface_2808:2834]
x=212
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,3"

[interface_2808:2835]
x=244
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,5"

[interface_2808:2836]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,2"

[interface_2808:2837]
x=308
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,6"

[interface_2808:2838]
x=340
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,4"

[interface_2808:2839]
x=180
y=176
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,7"

[interface_2808:2840]
x=212
y=176
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,8"

[interface_2808:2841]
x=244
y=176
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,9"

[interface_2808:2842]
x=276
y=176
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,10"

[interface_2808:2843]
x=308
y=176
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons2,0"

[interface_2808:2844]
x=148
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,12"

[interface_2808:2845]
x=180
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,13"

[interface_2808:2846]
x=212
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,14"

[interface_2808:2847]
x=244
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,15"

[interface_2808:2848]
x=276
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,16"

[interface_2808:2849]
x=308
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,17"

[interface_2808:2850]
x=340
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,11"

