[interface_315]
type=^IFTYPE_LAYER
width=512
height=334

[interface_315:316]
x=40
y=26
type=^IFTYPE_MODEL
width=32
height=32
zoom=400
xan=40
yan=1882

[interface_315:317]
x=111
y=29
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_315:318]
x=111
y=5
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_315:319]
x=111
y=80
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

[interface_315:320]
x=111
y=53
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

