[interface_3215]
type=^IFTYPE_LAYER
width=512
height=334

[interface_3215:3216]
x=239
y=145
type=^IFTYPE_MODEL
width=35
height=35
model=3035
zoom=525
xan=395

[interface_3215:3217]
x=356
y=250
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=42
height=42
model=2747
zoom=400
xan=136
yan=2008

[interface_3215:3219]
x=34
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_3219:3218]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_3219:3215
graphic="leftarrow,0"

[interface_3215:3220]
x=355
y=269
type=^IFTYPE_TEXT
width=46
height=17
font=^QUILL
text="Activus"
activetext=Activus
colour=0xFF00FF
shadowed=yes

[interface_3215:3221]
x=60
y=80
type=^IFTYPE_TEXT
width=175
height=17
font=^QUILL
text="line1"

[interface_3215:3222]
x=58
y=96
type=^IFTYPE_TEXT
width=177
height=17
font=^QUILL
text="line2"

[interface_3215:3223]
x=56
y=112
type=^IFTYPE_TEXT
width=179
height=17
font=^QUILL
text="line3"

[interface_3215:3224]
x=54
y=128
type=^IFTYPE_TEXT
width=181
height=17
font=^QUILL
text="line4"

[interface_3215:3225]
x=51
y=144
type=^IFTYPE_TEXT
width=184
height=17
font=^QUILL
text="line5"

[interface_3215:3226]
x=49
y=160
type=^IFTYPE_TEXT
width=186
height=17
font=^QUILL
text="line6"

[interface_3215:3227]
x=47
y=176
type=^IFTYPE_TEXT
width=188
height=17
font=^QUILL
text="line7"

[interface_3215:3228]
x=45
y=192
type=^IFTYPE_TEXT
width=190
height=17
font=^QUILL
text="line8"

[interface_3215:3229]
x=42
y=208
type=^IFTYPE_TEXT
width=193
height=17
font=^QUILL
text="line9"

[interface_3215:3230]
x=40
y=224
type=^IFTYPE_TEXT
width=195
height=17
font=^QUILL
text="line10"

[interface_3215:3231]
x=38
y=240
type=^IFTYPE_TEXT
width=197
height=17
font=^QUILL
text="line11"

[interface_3215:3232]
x=322
y=80
type=^IFTYPE_TEXT
width=135
height=17
font=^QUILL
text="line12"

[interface_3215:3233]
x=322
y=96
type=^IFTYPE_TEXT
width=136
height=17
font=^QUILL
text="line13"

[interface_3215:3234]
x=283
y=112
type=^IFTYPE_TEXT
width=179
height=17
font=^QUILL
text="line14"

[interface_3215:3235]
x=283
y=128
type=^IFTYPE_TEXT
width=181
height=17
font=^QUILL
text="line15"

[interface_3215:3236]
x=283
y=144
type=^IFTYPE_TEXT
width=183
height=17
font=^QUILL
text="line16"

[interface_3215:3237]
x=283
y=160
type=^IFTYPE_TEXT
width=185
height=17
font=^QUILL
text="line17"

[interface_3215:3238]
x=283
y=176
type=^IFTYPE_TEXT
width=187
height=17
font=^QUILL
text="line18"

[interface_3215:3239]
x=283
y=192
type=^IFTYPE_TEXT
width=189
height=17
font=^QUILL
text="line19"

[interface_3215:3240]
x=283
y=208
type=^IFTYPE_TEXT
width=193
height=17
font=^QUILL
text="line20"

[interface_3215:3241]
x=12
y=20
type=^IFTYPE_LAYER
width=488
height=36

[interface_3241:3242]
x=94
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_3241:3215
graphic="tradebacking,0"

[interface_3241:3243]
x=182
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_3241:3215
graphic="tradebacking,0"

[interface_3241:3244]
x=270
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_3241:3215
graphic="tradebacking,0"

[interface_3241:3245]
x=358
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_3241:3215
graphic="tradebacking,0"

[interface_3241:3246]
x=394
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_3241:3215
graphic="tradebacking,0"

[interface_3241:3247]
x=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_3241:3215
graphic="tradebacking,0"

[interface_3241:3248]
x=60
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3249]
x=96
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3250]
x=132
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3251]
x=168
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3252]
x=204
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3253]
x=240
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3254]
x=276
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3255]
x=312
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3256]
x=348
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3257]
x=384
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3258]
x=420
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3259]
x=428
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3260]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_3241:3215
graphic="steelborder,0"

[interface_3241:3261]
x=60
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3262]
x=96
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3263]
x=132
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3264]
x=168
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3265]
x=204
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3266]
x=240
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3267]
x=276
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3268]
x=312
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3269]
x=348
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3270]
x=384
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3271]
x=420
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3272]
x=25
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3273]
x=463
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_3241:3215
graphic="steelborder,1"

[interface_3241:3274]
x=427
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="steelborder2,0"

[interface_3241:3275]
x=463
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_3241:3215
graphic="steelborder,3"

[interface_3241:3276]
x=25
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3241:3215
graphic="miscgraphics,3"

[interface_3241:3277]
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_3241:3215
graphic="steelborder,2"

[interface_3215:3278]
x=422
y=33
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_3215:3279]
x=248
y=30
type=^IFTYPE_TEXT
width=19
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="%1"
colour=0xFFFF00
shadowed=yes

[interface_3215:3280]
x=288
y=89
type=^IFTYPE_MODEL
width=32
height=32
model=2747
zoom=520
xan=136
yan=2008

