[interface_3559]
type=^IFTYPE_LAYER
width=512
height=334

[interface_3559:3560]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3561]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3562]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3563]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3564]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3565]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3566]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3567]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3568]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3569]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3570]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3571]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3572]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3573]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3574]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3575]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3576]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3577]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3578]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3579]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3580]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3581]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3582]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3583]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3584]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3585]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3586]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3587]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3588]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3589]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3559:3590]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_3559:3591]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3559:3592]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3559:3593]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3559:3594]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3559:3595]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3559:3596]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3559:3597]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3559:3598]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3559:3599]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3559:3600]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3559:3601]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3559:3602]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3559:3603]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3559:3604]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3559:3605]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3606]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3607]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3608]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3609]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3610]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3611]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3612]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3613]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3614]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3615]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3616]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3617]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3618]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3619]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3620]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3621]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3622]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3623]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3624]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3625]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3626]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3627]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3628]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3629]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3630]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_3559:3631]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_3559:3632]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3633]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_3559:3634]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3635]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3636]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3637]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3638]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3639]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3640]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3641]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3642]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3643]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3644]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3645]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3646]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3647]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3648]
x=36
y=20
type=^IFTYPE_LAYER
width=440
height=299

[interface_3559:3649]
x=28
y=29
type=^IFTYPE_TEXT
width=457
height=14
font=^BOLD
text="Welcome to RuneScape - Use the buttons below to design your player"
colour=0xFFFF00
shadowed=yes

[interface_3559:3650]
x=190
y=155
type=^IFTYPE_MODEL
clientcode=327
width=136
height=168
model=2930
zoom=650
xan=150

[interface_3559:3651]
x=223
y=266
type=^IFTYPE_RECTANGLE
buttontype=^BUTTON
clientcode=326
width=66
height=31
option="Accept"
fill=yes

[interface_3559:3652]
x=237
y=274
type=^IFTYPE_TEXT
width=39
height=14
font=^PLAIN
text="Accept"
colour=0x00C000
shadowed=yes

[interface_3559:3653]
x=217
y=260
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_3559:3654]
x=270
y=260
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_3559:3655]
x=217
y=273
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_3559:3656]
x=270
y=273
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_3559:3657]
x=326
y=74
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=314
width=45
height=36
option="Recolour hair"
graphic="leftarrow,0"

[interface_3559:3658]
x=90
y=151
type=^IFTYPE_TEXT
width=31
height=14
font=^PLAIN
text="Torso"
colour=0xFFFF00
shadowed=yes

[interface_3559:3659]
x=27
y=68
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=300
width=45
height=36
option="Change head"
graphic="leftarrow,0"

[interface_3559:3660]
x=27
y=103
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=302
width=45
height=36
option="Change jaw"
graphic="leftarrow,0"

[interface_3559:3661]
x=27
y=138
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=304
width=45
height=36
option="Change torso"
graphic="leftarrow,0"

[interface_3559:3662]
x=27
y=173
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=306
width=45
height=36
option="Change arms"
graphic="leftarrow,0"

[interface_3559:3663]
x=27
y=208
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=308
width=45
height=36
option="Change hands"
graphic="leftarrow,0"

[interface_3559:3664]
x=27
y=243
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=310
width=45
height=36
option="Change legs"
graphic="leftarrow,0"

[interface_3559:3665]
x=27
y=278
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=312
width=45
height=36
option="Change feet"
graphic="leftarrow,0"

[interface_3559:3666]
x=140
y=68
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=301
width=45
height=36
option="Change head"
graphic="rightarrow,0"

[interface_3559:3667]
x=140
y=103
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=303
width=45
height=36
option="Change jaw"
graphic="rightarrow,0"

[interface_3559:3668]
x=140
y=138
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=305
width=45
height=36
option="Change torso"
graphic="rightarrow,0"

[interface_3559:3669]
x=140
y=173
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=307
width=45
height=36
option="Change arms"
graphic="rightarrow,0"

[interface_3559:3670]
x=140
y=208
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=309
width=45
height=36
option="Change hands"
graphic="rightarrow,0"

[interface_3559:3671]
x=140
y=243
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=311
width=45
height=36
option="Change legs"
graphic="rightarrow,0"

[interface_3559:3672]
x=140
y=278
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=313
width=45
height=36
option="Change feet"
graphic="rightarrow,0"

[interface_3559:3673]
x=90
y=184
type=^IFTYPE_TEXT
width=29
height=14
font=^PLAIN
text="Arms"
colour=0xFFFF00
shadowed=yes

[interface_3559:3674]
x=91
y=254
type=^IFTYPE_TEXT
width=27
height=14
font=^PLAIN
text="Legs"
colour=0xFFFF00
shadowed=yes

[interface_3559:3675]
x=91
y=79
type=^IFTYPE_TEXT
width=28
height=14
font=^PLAIN
text="Head"
colour=0xFFFF00
shadowed=yes

[interface_3559:3676]
x=88
y=219
type=^IFTYPE_TEXT
width=35
height=14
font=^PLAIN
text="Hands"
colour=0xFFFF00
shadowed=yes

[interface_3559:3677]
x=91
y=288
type=^IFTYPE_TEXT
width=25
height=14
font=^PLAIN
text="Feet"
colour=0xFFFF00
shadowed=yes

[interface_3559:3678]
x=94
y=114
type=^IFTYPE_TEXT
width=21
height=14
font=^PLAIN
text="Jaw"
colour=0xFFFF00
shadowed=yes

[interface_3559:3679]
x=440
y=74
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=315
width=45
height=36
option="Recolour hair"
graphic="rightarrow,0"

[interface_3559:3680]
x=326
y=144
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=318
width=45
height=36
option="Recolour legs"
graphic="leftarrow,0"

[interface_3559:3681]
x=326
y=109
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=316
width=45
height=36
option="Recolour torso"
graphic="leftarrow,0"

[interface_3559:3682]
x=326
y=179
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=320
width=45
height=36
option="Recolour feet"
graphic="leftarrow,0"

[interface_3559:3683]
x=326
y=214
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=322
width=45
height=36
option="Recolour skin"
graphic="leftarrow,0"

[interface_3559:3684]
x=87
y=55
type=^IFTYPE_TEXT
width=34
height=11
font=^PLAIN_SMALL
text="Design"
colour=0xFFFFFF
shadowed=yes

[interface_3559:3685]
x=440
y=109
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=317
width=45
height=36
option="Recolour torso"
graphic="rightarrow,0"

[interface_3559:3686]
x=391
y=55
type=^IFTYPE_TEXT
width=33
height=11
font=^PLAIN_SMALL
text="Colour"
colour=0xFFFFFF
shadowed=yes

[interface_3559:3687]
x=440
y=144
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=319
width=45
height=36
option="Recolour legs"
graphic="rightarrow,0"

[interface_3559:3688]
x=440
y=179
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=321
width=45
height=36
option="Recolour feet"
graphic="rightarrow,0"

[interface_3559:3689]
x=440
y=214
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=323
width=45
height=36
option="Recolour skin"
graphic="rightarrow,0"

[interface_3559:3690]
x=394
y=86
type=^IFTYPE_TEXT
width=22
height=14
font=^PLAIN
text="Hair"
colour=0xFFFF00
shadowed=yes

[interface_3559:3691]
x=390
y=121
type=^IFTYPE_TEXT
width=31
height=14
font=^PLAIN
text="Torso"
colour=0xFFFF00
shadowed=yes

[interface_3559:3692]
x=392
y=155
type=^IFTYPE_TEXT
width=27
height=14
font=^PLAIN
text="Legs"
colour=0xFFFF00
shadowed=yes

[interface_3559:3693]
x=393
y=225
type=^IFTYPE_TEXT
width=23
height=14
font=^PLAIN
text="Skin"
colour=0xFFFF00
shadowed=yes

[interface_3559:3694]
x=393
y=191
type=^IFTYPE_TEXT
width=25
height=14
font=^PLAIN
text="Feet"
colour=0xFFFF00
shadowed=yes

[interface_3559:3695]
x=235
y=245
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3559:3696]
x=236
y=282
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3559:3697]
x=390
y=258
type=^IFTYPE_TEXT
width=36
height=11
font=^PLAIN_SMALL
text="Gender"
colour=0xFFFFFF
shadowed=yes

[interface_3559:3698]
x=325
y=271
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=324
width=72
height=36
option="Male"
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_3559:3699]
x=417
y=271
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=325
width=72
height=36
option="Female"
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_3559:3700]
x=348
y=281
type=^IFTYPE_TEXT
width=26
height=14
font=^PLAIN
text="Male"
colour=0xFFFF00
shadowed=yes

[interface_3559:3701]
x=435
y=281
type=^IFTYPE_TEXT
width=39
height=14
font=^PLAIN
text="Female"
colour=0xFFFF00
shadowed=yes

