[interface_368]
type=^IFTYPE_LAYER
width=512
height=334

[interface_368:369]
x=21
y=9
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_368:370]
x=21
y=25
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_368:371]
x=21
y=41
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line3"

[interface_368:372]
x=21
y=57
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line4"

[interface_368:373]
x=65
y=77
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

