[interface_3822]
type=^IFTYPE_LAYER
width=512
height=334

[interface_3822:3823]
x=16
y=8
type=^IFTYPE_INVENTORY
width=4
height=7
xof=10
yof=4
invoption1="Value"
invoption2="Sell 1"
invoption3="Sell 5"
invoption4="Sell 10"

