[interface_4161]
type=^IFTYPE_LAYER
width=512
height=334

[interface_4161:4162]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4163]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4164]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4165]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4166]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4167]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4168]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4169]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4170]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4171]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4172]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4173]
x=324
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4174]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4175]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4176]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4177]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4178]
x=324
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4179]
x=324
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4180]
x=324
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4181]
x=324
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4161:4182]
x=96
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_4161:4183]
x=81
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4161:4184]
x=81
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4161:4185]
x=81
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4161:4186]
x=81
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4161:4187]
x=81
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4161:4188]
x=81
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4161:4189]
x=81
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4161:4190]
x=397
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4161:4191]
x=397
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4161:4192]
x=397
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4161:4193]
x=397
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4161:4194]
x=397
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4161:4195]
x=397
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4161:4196]
x=397
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4161:4197]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4161:4198]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4161:4199]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4161:4200]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4161:4201]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4161:4202]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4161:4203]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4161:4204]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4161:4205]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4206]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4207]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4208]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4209]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4210]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4211]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4212]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4213]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4214]
x=96
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_4161:4215]
x=393
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_4161:4216]
x=393
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_4161:4217]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4218]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4219]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4220]
x=377
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4221]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4222]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4223]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4224]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4225]
x=101
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4161:4226]
x=127
y=30
type=^IFTYPE_TEXT
width=192
height=14
font=^BOLD
text="What would you like to make?"
colour=0xFFFF00
shadowed=yes

[interface_4161:4227]
x=341
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_4161:4228]
x=56
y=74
type=^IFTYPE_LAYER
width=400
height=66

[interface_4228:4229]
x=184
y=5
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4228:4161
model=2666
zoom=571
xan=300
yan=302

[interface_4228:4230]
y=40
type=^IFTYPE_TEXT
width=400
height=14
layer=interface_4228:4161
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="You need a ring mould to craft rings."
colour=0xFFFFFF
shadowed=yes

[interface_4161:4231]
x=90
y=59
type=^IFTYPE_TEXT
width=332
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Rings"
colour=0xFFFF00
shadowed=yes

[interface_4161:4232]
x=56
y=84
type=^IFTYPE_LAYER
width=400
height=38

[interface_4232:4233]
x=66
y=3
type=^IFTYPE_INVENTORY
width=6
height=1
layer=interface_4232:4161
xof=15
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_4232:4246]
x=115
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4232:4161
zoom=100

[interface_4232:4247]
x=162
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4232:4161
zoom=100

[interface_4232:4248]
x=209
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4232:4161
zoom=100

[interface_4232:4249]
x=256
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4232:4161
zoom=100

[interface_4232:4250]
x=303
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4232:4161
zoom=100

[interface_4161:4234]
x=56
y=162
type=^IFTYPE_LAYER
width=400
height=66

[interface_4234:4235]
x=184
y=7
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4234:4161
model=2729
zoom=571
xan=300
yan=302

[interface_4234:4236]
y=40
type=^IFTYPE_TEXT
width=400
height=14
layer=interface_4234:4161
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="You need a necklace mould to craft necklaces."
colour=0xFFFFFF
shadowed=yes

[interface_4161:4237]
x=90
y=147
type=^IFTYPE_TEXT
width=332
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Necklaces"
colour=0xFFFF00
shadowed=yes

[interface_4161:4238]
x=56
y=172
type=^IFTYPE_LAYER
width=400
height=38

[interface_4238:4239]
x=66
y=3
type=^IFTYPE_INVENTORY
width=6
height=1
layer=interface_4238:4161
xof=15
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_4238:4251]
x=119
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4238:4161
zoom=400

[interface_4238:4252]
x=165
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4238:4161
zoom=200

[interface_4238:4253]
x=212
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4238:4161
zoom=400

[interface_4238:4254]
x=259
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4238:4161
zoom=400

[interface_4238:4255]
x=306
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4238:4161
zoom=400

[interface_4161:4240]
x=56
y=250
type=^IFTYPE_LAYER
width=400
height=66

[interface_4240:4241]
x=184
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4240:4161
model=2368
zoom=571
xan=300
yan=302

[interface_4240:4242]
y=40
type=^IFTYPE_TEXT
width=400
height=14
layer=interface_4240:4161
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="You need an amulet mould to craft amulets."
colour=0xFFFFFF
shadowed=yes

[interface_4161:4243]
x=90
y=235
type=^IFTYPE_TEXT
width=332
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Amulets"
colour=0xFFFF00
shadowed=yes

[interface_4161:4244]
x=56
y=260
type=^IFTYPE_LAYER
width=400
height=38

[interface_4244:4245]
x=66
y=3
type=^IFTYPE_INVENTORY
width=6
height=1
layer=interface_4244:4161
xof=15
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_4244:4256]
x=123
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4244:4161
zoom=400

[interface_4244:4257]
x=169
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4244:4161
zoom=400

[interface_4244:4258]
x=216
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4244:4161
zoom=400

[interface_4244:4259]
x=263
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4244:4161
zoom=400

[interface_4244:4260]
x=309
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_4244:4161
zoom=400

