[interface_4908]
type=^IFTYPE_LAYER
width=512
height=334

[interface_4908:4909]
x=164
y=178
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4908:4910]
y=178
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4908:4911]
x=5
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=201
width=45
height=36
option="Add friend"
graphic="leftarrow,0"

[interface_4908:4912]
x=141
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=202
width=45
height=36
option="Delete friend"
graphic="rightarrow,0"

[interface_4908:4913]
x=73
y=236
type=^IFTYPE_TEXT
width=42
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="%1/%2"
colour=0xFFFF00
shadowed=yes

[interface_4908:4914]
x=13
y=12
type=^IFTYPE_MODEL
width=65
height=65
zoom=400

[interface_4908:4915]
x=5
y=4
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_4908:4916]
x=160
y=4
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_4908:4917]
x=5
y=192
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_4908:4918]
x=160
y=192
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_4908:4919]
x=30
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4908:4920]
x=66
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4908:4921]
x=102
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4908:4922]
x=138
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4908:4923]
x=164
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4908:4924]
x=164
y=70
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4908:4925]
x=164
y=106
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4908:4926]
x=164
y=142
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4908:4927]
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4908:4928]
y=70
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4908:4929]
y=106
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4908:4930]
y=142
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4908:4931]
x=16
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4908:4932]
x=52
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4908:4933]
x=88
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4908:4934]
x=124
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4908:4935]
x=81
y=16
type=^IFTYPE_TEXT
width=28
height=17
font=^QUILL
text="line1"
colour=0x00C000
shadowed=yes

[interface_4908:4936]
x=81
y=36
type=^IFTYPE_TEXT
width=28
height=17
font=^QUILL
text="line2"
colour=0x00C000
shadowed=yes

[interface_4908:4937]
x=81
y=56
type=^IFTYPE_TEXT
width=28
height=17
font=^QUILL
text="line3"
colour=0x00C000
shadowed=yes

[interface_4908:4938]
x=13
y=80
type=^IFTYPE_LAYER
width=165
height=65

[interface_4938:4939]
y=4
type=^IFTYPE_RECTANGLE
width=9
height=9
layer=interface_4938:4908
fill=yes

[interface_4938:4940]
x=16
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_4938:4908
font=^PLAIN
text="part1a"
colour=0xFFFF00
shadowed=yes

[interface_4938:4941]
x=16
y=16
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_4938:4908
font=^PLAIN
text="part2a"
colour=0xFFFF00
shadowed=yes

[interface_4938:4942]
x=16
y=32
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_4938:4908
font=^PLAIN
text="part3a"
colour=0xFFFF00
shadowed=yes

[interface_4938:4943]
x=16
y=48
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_4938:4908
font=^PLAIN
text="part4a"
colour=0xFFFF00
shadowed=yes

[interface_4908:4944]
x=13
y=148
type=^IFTYPE_LAYER
width=165
height=65

[interface_4944:4945]
y=4
type=^IFTYPE_RECTANGLE
width=9
height=9
layer=interface_4944:4908
fill=yes

[interface_4944:4946]
x=16
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_4944:4908
font=^PLAIN
text="part1b"
colour=0xFFFF00
shadowed=yes

[interface_4944:4947]
x=16
y=16
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_4944:4908
font=^PLAIN
text="part2b"
colour=0xFFFF00
shadowed=yes

[interface_4944:4948]
x=16
y=32
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_4944:4908
font=^PLAIN
text="part3b"
colour=0xFFFF00
shadowed=yes

[interface_4944:4949]
x=16
y=48
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_4944:4908
font=^PLAIN
text="part4b"
colour=0xFFFF00
shadowed=yes

