[interface_4958]
type=^IFTYPE_LAYER
width=512
height=334

[interface_4958:4959]
x=135
y=16
type=^IFTYPE_MODEL
width=35
height=32
model=2644
zoom=624
xan=521
yan=1288

[interface_4958:4960]
x=4
y=2
type=^IFTYPE_TEXT
width=58
height=14
font=^PLAIN
text="GnomeBall"
colour=0xFFFF00
shadowed=yes

[interface_4958:4961]
x=4
y=22
type=^IFTYPE_TEXT
width=35
height=14
font=^PLAIN
text="Score:"
colour=0x00FF99
shadowed=yes

[interface_4958:4962]
x=4
y=43
type=^IFTYPE_TEXT
width=81
height=14
font=^PLAIN
text="Choose Action"
colour=0x00C000
shadowed=yes

[interface_4958:4963]
x=4
y=60
type=^IFTYPE_LAYER
width=145
height=190

[interface_4963:4964]
x=25
y=115
type=^IFTYPE_GRAPHIC
buttontype=^TARGET
circumfix="Tackle"
optionflags=10
width=25
height=39
layer=interface_4963:4958
graphic="gnomeball_buttons,2"

[interface_4963:4965]
x=25
y=15
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=39
layer=interface_4963:4958
option="Shoot"
graphic="gnomeball_buttons,1"

[interface_4963:4966]
x=25
y=65
type=^IFTYPE_GRAPHIC
buttontype=^TARGET
circumfix="Pass to"
optionflags=10
width=25
height=39
layer=interface_4963:4958
graphic="gnomeball_buttons,0"

[interface_4963:4967]
x=78
y=25
type=^IFTYPE_TEXT
width=33
height=14
layer=interface_4963:4958
font=^PLAIN
text="Shoot"
colour=0xFFFF00
shadowed=yes

[interface_4963:4968]
x=78
y=75
type=^IFTYPE_TEXT
width=28
height=14
layer=interface_4963:4958
font=^PLAIN
text="Pass"
colour=0xFFFF00
shadowed=yes

[interface_4963:4969]
x=78
y=125
type=^IFTYPE_TEXT
width=34
height=14
layer=interface_4963:4958
font=^PLAIN
text="Tackle"
colour=0xFFFF00
shadowed=yes

[interface_4958:4970]
x=42
y=22
type=^IFTYPE_TEXT
width=17
height=14
script1op1=5
script1op2=143
script1op3=0
font=^PLAIN
text="%1"
colour=0x00FF99
shadowed=yes

