[interface_5017]
type=^IFTYPE_LAYER
width=512
height=334

[interface_5017:5018]
x=36
y=20
type=^IFTYPE_LAYER
width=440
height=299

[interface_5017:5019]
x=239
y=145
type=^IFTYPE_MODEL
width=35
height=35
model=3035
zoom=525
xan=395

[interface_5017:5020]
x=34
y=259
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
graphic="leftarrow,0"

[interface_5017:5021]
x=432
y=259
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
graphic="rightarrow,0"

[interface_5017:5022]
x=66
y=77
type=^IFTYPE_TEXT
width=180
height=182
font=^BOLD
text="line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8\nline9\nline10\nline11\nline12\nline13\nline14\nline15"

[interface_5017:5023]
x=282
y=77
type=^IFTYPE_MODEL
width=175
height=182
zoom=400

[interface_5017:5024]
x=12
y=20
type=^IFTYPE_LAYER
width=488
height=36

[interface_5024:5025]
x=94
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5024:5017
graphic="tradebacking,0"

[interface_5024:5026]
x=182
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5024:5017
graphic="tradebacking,0"

[interface_5024:5027]
x=270
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5024:5017
graphic="tradebacking,0"

[interface_5024:5028]
x=358
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5024:5017
graphic="tradebacking,0"

[interface_5024:5029]
x=394
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5024:5017
graphic="tradebacking,0"

[interface_5024:5030]
x=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5024:5017
graphic="tradebacking,0"

[interface_5024:5031]
x=60
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5032]
x=96
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5033]
x=132
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5034]
x=168
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5035]
x=204
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5036]
x=240
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5037]
x=276
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5038]
x=312
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5039]
x=348
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5040]
x=384
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5041]
x=420
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5042]
x=428
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5043]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_5024:5017
graphic="steelborder,0"

[interface_5024:5044]
x=60
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5045]
x=96
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5046]
x=132
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5047]
x=168
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5048]
x=204
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5049]
x=240
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5050]
x=276
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5051]
x=312
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5052]
x=348
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5053]
x=384
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5054]
x=420
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5055]
x=25
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5056]
x=463
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_5024:5017
graphic="steelborder,1"

[interface_5024:5057]
x=427
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="steelborder2,0"

[interface_5024:5058]
x=463
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_5024:5017
graphic="steelborder,3"

[interface_5024:5059]
x=25
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5024:5017
graphic="miscgraphics,3"

[interface_5024:5060]
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_5024:5017
graphic="steelborder,2"

[interface_5017:5061]
x=248
y=30
type=^IFTYPE_TEXT
width=19
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="%1"
colour=0xFFFF00
shadowed=yes

[interface_5017:5062]
x=422
y=33
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

