[interface_5392]
type=^IFTYPE_LAYER
width=512
height=334

[interface_5392:5393]
x=240
y=155
type=^IFTYPE_MODEL
width=32
height=32
model=3024
zoom=613
xan=345
yan=84

[interface_5392:5394]
x=6
y=83
type=^IFTYPE_TEXT
width=140
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Southeast Runescape"
colour=0xFAD782
shadowed=yes

[interface_5392:5395]
x=430
y=8
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=74
height=14
font=^PLAIN
text="Close Window"
colour=0xFAD782
overcolour=0xFFFFFF
shadowed=yes

[interface_5392:5396]
x=448
y=172
type=^IFTYPE_MODEL
width=32
height=32
model=3039
zoom=1767
xan=557
yan=73

[interface_5392:5397]
x=63
y=42
type=^IFTYPE_MODEL
width=32
height=32
model=2774
zoom=400
xan=208
yan=1687

[interface_5392:5398]
x=134
y=203
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=0
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5399]
x=156
y=218
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=1
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5400]
x=232
y=222
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=2
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5401]
x=253
y=239
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=3
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5402]
x=290
y=246
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=4
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5403]
x=336
y=264
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=5
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5404]
x=147
y=174
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=6
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5405]
x=177
y=175
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=7
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5406]
x=227
y=191
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=8
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5407]
x=261
y=204
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=9
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5408]
x=304
y=214
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=10
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5409]
x=343
y=225
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=11
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5410]
x=159
y=142
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=12
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5411]
x=193
y=149
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=13
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5412]
x=229
y=157
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=14
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5413]
x=272
y=168
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=15
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5414]
x=311
y=175
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=16
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5415]
x=346
y=185
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=17
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5416]
x=172
y=112
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=18
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5417]
x=205
y=118
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=19
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5418]
x=242
y=126
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=20
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5419]
x=278
y=134
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=21
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5420]
x=316
y=145
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=22
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5421]
x=354
y=151
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=23
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5422]
x=183
y=83
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=24
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5423]
x=215
y=88
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=25
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5424]
x=252
y=96
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=26
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5425]
x=285
y=104
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=27
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5426]
x=326
y=112
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=28
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5427]
x=361
y=120
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=29
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5428]
x=192
y=57
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=30
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5429]
x=222
y=60
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=31
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5430]
x=260
y=67
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=32
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5431]
x=293
y=74
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=33
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5432]
x=329
y=81
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=34
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5433]
x=367
y=89
type=^IFTYPE_MODEL
width=32
height=32
scriptc1=1
scriptv1=35
script1op1=5
script1op2=106
script1op3=0
activemodel=3062
activeanim=seq_646
zoom=1526
xan=528
yan=68

[interface_5392:5434]
x=309
y=213
type=^IFTYPE_TEXT
width=58
height=14
font=^PLAIN
text="Lumbridge"
colour=0x947440
shadowed=yes

[interface_5392:5435]
x=226
y=157
type=^IFTYPE_TEXT
width=45
height=14
font=^PLAIN
text="Draynor"
colour=0x947440
shadowed=yes

[interface_5392:5436]
x=352
y=105
type=^IFTYPE_TEXT
width=43
height=14
font=^PLAIN
text="Varrock"
colour=0x947440
shadowed=yes

[interface_5392:5437]
x=198
y=91
type=^IFTYPE_TEXT
width=42
height=14
font=^PLAIN
text="Falador"
colour=0x947440
shadowed=yes

[interface_5392:5438]
x=230
y=172
type=^IFTYPE_TEXT
width=37
height=14
font=^PLAIN
text="Village"
colour=0x947440
shadowed=yes

[interface_5392:5439]
x=157
y=190
type=^IFTYPE_TEXT
width=24
height=14
font=^PLAIN
text="Port"
colour=0x947440
shadowed=yes

[interface_5392:5440]
x=152
y=204
type=^IFTYPE_TEXT
width=31
height=14
font=^PLAIN
text="Sarim"
colour=0x947440
shadowed=yes

