[interface_5441]
type=^IFTYPE_LAYER
width=512
height=334

[interface_5441:5442]
x=39
y=59
type=^IFTYPE_MODEL
width=32
height=32
zoom=2501
xan=273
yan=1623

[interface_5441:5443]
x=111
y=9
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_5441:5444]
x=111
y=25
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_5441:5445]
x=111
y=41
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_5441:5446]
x=111
y=57
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_5441:5447]
x=111
y=80
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

