[interface_5454]
type=^IFTYPE_LAYER
width=512
height=334

[interface_5454:5455]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5456]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5457]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5458]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5459]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5460]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5461]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5462]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5463]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5464]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5465]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5466]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5467]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5468]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5469]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5470]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5471]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5472]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5473]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5474]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5475]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5476]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5477]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5478]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5479]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5480]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5481]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5482]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5483]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5484]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5454:5485]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_5454:5486]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5454:5487]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5454:5488]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5454:5489]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5454:5490]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5454:5491]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5454:5492]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5454:5493]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5454:5494]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5454:5495]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5454:5496]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5454:5497]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5454:5498]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5454:5499]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5454:5500]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5501]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5502]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5503]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5504]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5505]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5506]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5507]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5508]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5509]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5510]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5511]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5512]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5513]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5514]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5515]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5516]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5517]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5518]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5519]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5520]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5521]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5522]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5523]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5524]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5525]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_5454:5526]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_5454:5527]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5528]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_5454:5529]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5454:5530]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5531]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5532]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5533]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5534]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5535]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5536]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5537]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5538]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5539]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5540]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5541]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5542]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5454:5543]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_5454:5544]
x=182
y=274
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=137
height=14
font=^BOLD
text="CONFIRM (3000 Gold)"
colour=0xFFFF00
overcolour=0x00FF00
shadowed=yes

[interface_5454:5545]
x=229
y=64
type=^IFTYPE_RECTANGLE
width=35
height=202
fill=yes

[interface_5454:5546]
x=90
y=160
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=500
yan=1800

[interface_5454:5547]
x=380
y=165
type=^IFTYPE_MODEL
width=32
height=32
model=103
zoom=500
yan=200

[interface_5454:5548]
x=90
y=160
type=^IFTYPE_MODEL
width=32
height=32
model=81
zoom=500
yan=1800

[interface_5454:5549]
x=230
y=90
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=32
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=262
script1op3=0
fill=yes
colour=0xBB8F6A

[interface_5454:5550]
x=230
y=115
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=32
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=262
script1op3=0
fill=yes
colour=0xA47F5D

[interface_5454:5551]
x=230
y=140
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=32
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=262
script1op3=0
fill=yes
colour=0x9E7A49

[interface_5454:5552]
x=230
y=165
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=32
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=262
script1op3=0
fill=yes
colour=0x8E6E42

[interface_5454:5553]
x=230
y=190
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=32
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=262
script1op3=0
fill=yes
colour=0x79582A

[interface_5454:5554]
x=230
y=215
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=32
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=262
script1op3=0
fill=yes
colour=0x644E24

[interface_5454:5555]
x=230
y=240
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=32
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=262
script1op3=0
fill=yes
colour=0x4C3D09

[interface_5454:5556]
x=230
y=65
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=32
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=262
script1op3=0
fill=yes
colour=0xD5A985

[interface_5454:5557]
x=78
y=273
type=^IFTYPE_TEXT
buttontype=^SELECT
width=33
height=14
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
font=^BOLD
text="MALE"
activecolour=0x00FF00
shadowed=yes

[interface_5454:5558]
x=167
y=29
type=^IFTYPE_TEXT
width=166
height=14
font=^PLAIN
text="Select skin colour and gender"
colour=0xFFFF00
shadowed=yes

[interface_5454:5559]
x=377
y=273
type=^IFTYPE_TEXT
buttontype=^SELECT
width=47
height=14
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
font=^BOLD
text="FEMALE"
activecolour=0x00FF00
shadowed=yes

[interface_5454:5560]
x=233
y=65
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_5454:5561]
x=233
y=90
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_5454:5562]
x=233
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_5454:5563]
x=233
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_5454:5564]
x=233
y=165
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_5454:5565]
x=233
y=190
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_5454:5566]
x=233
y=215
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_5454:5567]
x=233
y=240
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_5454:5568]
x=60
y=94
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=100
height=150
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0

[interface_5454:5569]
x=341
y=87
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=100
height=150
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0

