[interface_569]
type=^IFTYPE_LAYER
width=512
height=334

[interface_569:570]
x=239
y=145
type=^IFTYPE_MODEL
width=35
height=35
model=3035
zoom=525
xan=395

[interface_569:571]
x=300
y=80
type=^IFTYPE_LAYER
width=135
height=167
hide=yes

[interface_571:574]
type=^IFTYPE_TEXT
width=135
height=17
layer=interface_571:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Cocktail Index"
colour=0x000080

[interface_571:575]
y=30
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_571:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Blurberry Special"

[interface_571:576]
y=50
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_571:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Chocolate Saturday"

[interface_571:577]
y=70
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_571:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Drunk Dragon"

[interface_571:578]
y=90
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_571:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Fruit Blast"

[interface_571:579]
y=110
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_571:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Pineapple Punch"

[interface_571:580]
y=130
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_571:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Short Green Guy"

[interface_571:581]
y=150
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_571:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Wizard Blizzard"

[interface_569:573]
x=432
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_573:572]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_573:569
graphic="rightarrow,0"

[interface_569:582]
x=47
y=80
type=^IFTYPE_LAYER
width=409
height=209

[interface_582:583]
x=15
type=^IFTYPE_TEXT
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Gnome Bowls"
colour=0x000080

[interface_582:584]
x=12
y=32
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Chocolate Bomb"

[interface_582:585]
x=11
y=48
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Tangled Toad's Legs"

[interface_582:586]
x=10
y=64
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Worm Hole"

[interface_582:587]
x=9
y=80
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Veg Ball"

[interface_582:588]
x=6
y=112
type=^IFTYPE_TEXT
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Gnome Crunchies"
colour=0x000080

[interface_582:589]
x=3
y=144
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Worm Crunchies"

[interface_582:590]
x=2
y=160
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Choc Chip Crunchies"

[interface_582:591]
x=1
y=176
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Spicy Crunchies"

[interface_582:592]
y=192
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Toad Crunchies"

[interface_582:593]
x=239
type=^IFTYPE_TEXT
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Gnome Battas"
colour=0x000080

[interface_582:594]
x=242
y=32
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Worm Batta"

[interface_582:595]
x=243
y=48
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Toad's Legs Batta"

[interface_582:596]
x=244
y=64
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Cheese & Tomato Batta"

[interface_582:597]
x=245
y=80
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Fruit Batta"

[interface_582:598]
x=246
y=96
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_582:569
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Vegetable Batta"

[interface_569:599]
x=12
y=20
type=^IFTYPE_LAYER
width=488
height=36

[interface_599:600]
x=94
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_599:569
graphic="tradebacking,0"

[interface_599:601]
x=182
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_599:569
graphic="tradebacking,0"

[interface_599:602]
x=270
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_599:569
graphic="tradebacking,0"

[interface_599:603]
x=358
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_599:569
graphic="tradebacking,0"

[interface_599:604]
x=394
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_599:569
graphic="tradebacking,0"

[interface_599:605]
x=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_599:569
graphic="tradebacking,0"

[interface_599:606]
x=60
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:607]
x=96
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:608]
x=132
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:609]
x=168
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:610]
x=204
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:611]
x=240
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:612]
x=276
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:613]
x=312
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:614]
x=348
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:615]
x=384
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:616]
x=420
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:617]
x=428
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:618]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_599:569
graphic="steelborder,0"

[interface_599:619]
x=60
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:620]
x=96
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:621]
x=132
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:622]
x=168
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:623]
x=204
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:624]
x=240
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:625]
x=276
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:626]
x=312
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:627]
x=348
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:628]
x=384
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:629]
x=420
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:630]
x=25
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:631]
x=463
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_599:569
graphic="steelborder,1"

[interface_599:632]
x=427
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="steelborder2,0"

[interface_599:633]
x=463
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_599:569
graphic="steelborder,3"

[interface_599:634]
x=25
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_599:569
graphic="miscgraphics,3"

[interface_599:635]
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_599:569
graphic="steelborder,2"

[interface_569:636]
x=75
y=30
type=^IFTYPE_TEXT
width=360
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="The Blurberry Cocktail Guide"
colour=0xFFFF00
shadowed=yes

[interface_569:637]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

