[interface_5715]
type=^IFTYPE_LAYER
width=512
height=334

[interface_5715:5716]
x=3
y=20
type=^IFTYPE_LAYER
clientcode=503
width=168
height=204
scrollheight=400

[interface_5716:5742]
x=7
y=8
type=^IFTYPE_TEXT
clientcode=401
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5743]
x=7
y=23
type=^IFTYPE_TEXT
clientcode=402
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5744]
x=7
y=38
type=^IFTYPE_TEXT
clientcode=403
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5745]
x=7
y=53
type=^IFTYPE_TEXT
clientcode=404
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5746]
x=7
y=68
type=^IFTYPE_TEXT
clientcode=405
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5747]
x=7
y=83
type=^IFTYPE_TEXT
clientcode=406
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5748]
x=7
y=98
type=^IFTYPE_TEXT
clientcode=407
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5749]
x=7
y=113
type=^IFTYPE_TEXT
clientcode=408
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5750]
x=7
y=128
type=^IFTYPE_TEXT
clientcode=409
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5751]
x=7
y=143
type=^IFTYPE_TEXT
clientcode=410
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5752]
x=7
y=158
type=^IFTYPE_TEXT
clientcode=411
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5753]
x=7
y=173
type=^IFTYPE_TEXT
clientcode=412
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5754]
x=7
y=188
type=^IFTYPE_TEXT
clientcode=413
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5755]
x=7
y=203
type=^IFTYPE_TEXT
clientcode=414
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5756]
x=7
y=218
type=^IFTYPE_TEXT
clientcode=415
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5757]
x=7
y=233
type=^IFTYPE_TEXT
clientcode=416
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5758]
x=7
y=248
type=^IFTYPE_TEXT
clientcode=417
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5759]
x=7
y=263
type=^IFTYPE_TEXT
clientcode=418
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5760]
x=7
y=278
type=^IFTYPE_TEXT
clientcode=419
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5761]
x=7
y=293
type=^IFTYPE_TEXT
clientcode=420
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5762]
x=7
y=308
type=^IFTYPE_TEXT
clientcode=421
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5763]
x=7
y=323
type=^IFTYPE_TEXT
clientcode=422
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5764]
x=7
y=338
type=^IFTYPE_TEXT
clientcode=423
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5765]
x=7
y=353
type=^IFTYPE_TEXT
clientcode=424
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5766]
x=7
y=368
type=^IFTYPE_TEXT
clientcode=425
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5767]
x=7
y=383
type=^IFTYPE_TEXT
clientcode=426
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5768]
x=7
y=398
type=^IFTYPE_TEXT
clientcode=427
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5769]
x=7
y=413
type=^IFTYPE_TEXT
clientcode=428
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5770]
x=7
y=428
type=^IFTYPE_TEXT
clientcode=429
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5771]
x=7
y=443
type=^IFTYPE_TEXT
clientcode=430
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5772]
x=7
y=458
type=^IFTYPE_TEXT
clientcode=431
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5773]
x=7
y=473
type=^IFTYPE_TEXT
clientcode=432
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5774]
x=7
y=488
type=^IFTYPE_TEXT
clientcode=433
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5775]
x=7
y=503
type=^IFTYPE_TEXT
clientcode=434
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5776]
x=7
y=518
type=^IFTYPE_TEXT
clientcode=435
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5777]
x=7
y=533
type=^IFTYPE_TEXT
clientcode=436
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5778]
x=7
y=548
type=^IFTYPE_TEXT
clientcode=437
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5779]
x=7
y=563
type=^IFTYPE_TEXT
clientcode=438
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5780]
x=7
y=578
type=^IFTYPE_TEXT
clientcode=439
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5781]
x=7
y=593
type=^IFTYPE_TEXT
clientcode=440
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5782]
x=7
y=608
type=^IFTYPE_TEXT
clientcode=441
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5783]
x=7
y=623
type=^IFTYPE_TEXT
clientcode=442
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5784]
x=7
y=638
type=^IFTYPE_TEXT
clientcode=443
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5785]
x=7
y=653
type=^IFTYPE_TEXT
clientcode=444
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5786]
x=7
y=668
type=^IFTYPE_TEXT
clientcode=445
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5787]
x=7
y=683
type=^IFTYPE_TEXT
clientcode=446
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5788]
x=7
y=698
type=^IFTYPE_TEXT
clientcode=447
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5789]
x=7
y=713
type=^IFTYPE_TEXT
clientcode=448
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5790]
x=7
y=728
type=^IFTYPE_TEXT
clientcode=449
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5791]
x=7
y=743
type=^IFTYPE_TEXT
clientcode=450
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5792]
x=7
y=758
type=^IFTYPE_TEXT
clientcode=451
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5793]
x=7
y=773
type=^IFTYPE_TEXT
clientcode=452
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5794]
x=7
y=788
type=^IFTYPE_TEXT
clientcode=453
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5795]
x=7
y=803
type=^IFTYPE_TEXT
clientcode=454
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5796]
x=7
y=818
type=^IFTYPE_TEXT
clientcode=455
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5797]
x=7
y=833
type=^IFTYPE_TEXT
clientcode=456
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5798]
x=7
y=848
type=^IFTYPE_TEXT
clientcode=457
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5799]
x=7
y=863
type=^IFTYPE_TEXT
clientcode=458
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5800]
x=7
y=878
type=^IFTYPE_TEXT
clientcode=459
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5801]
x=7
y=893
type=^IFTYPE_TEXT
clientcode=460
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5802]
x=7
y=908
type=^IFTYPE_TEXT
clientcode=461
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5803]
x=7
y=923
type=^IFTYPE_TEXT
clientcode=462
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5804]
x=7
y=938
type=^IFTYPE_TEXT
clientcode=463
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5805]
x=7
y=953
type=^IFTYPE_TEXT
clientcode=464
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5806]
x=7
y=968
type=^IFTYPE_TEXT
clientcode=465
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5807]
x=7
y=983
type=^IFTYPE_TEXT
clientcode=466
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5808]
x=7
y=998
type=^IFTYPE_TEXT
clientcode=467
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5809]
x=7
y=1013
type=^IFTYPE_TEXT
clientcode=468
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5810]
x=7
y=1028
type=^IFTYPE_TEXT
clientcode=469
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5811]
x=7
y=1043
type=^IFTYPE_TEXT
clientcode=470
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5812]
x=7
y=1058
type=^IFTYPE_TEXT
clientcode=471
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5813]
x=7
y=1073
type=^IFTYPE_TEXT
clientcode=472
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5814]
x=7
y=1088
type=^IFTYPE_TEXT
clientcode=473
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5815]
x=7
y=1103
type=^IFTYPE_TEXT
clientcode=474
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5816]
x=7
y=1118
type=^IFTYPE_TEXT
clientcode=475
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5817]
x=7
y=1133
type=^IFTYPE_TEXT
clientcode=476
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5818]
x=7
y=1148
type=^IFTYPE_TEXT
clientcode=477
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5819]
x=7
y=1163
type=^IFTYPE_TEXT
clientcode=478
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5820]
x=7
y=1178
type=^IFTYPE_TEXT
clientcode=479
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5821]
x=7
y=1193
type=^IFTYPE_TEXT
clientcode=480
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5822]
x=7
y=1208
type=^IFTYPE_TEXT
clientcode=481
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5823]
x=7
y=1223
type=^IFTYPE_TEXT
clientcode=482
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5824]
x=7
y=1238
type=^IFTYPE_TEXT
clientcode=483
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5825]
x=7
y=1253
type=^IFTYPE_TEXT
clientcode=484
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5826]
x=7
y=1268
type=^IFTYPE_TEXT
clientcode=485
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5827]
x=7
y=1283
type=^IFTYPE_TEXT
clientcode=486
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5828]
x=7
y=1298
type=^IFTYPE_TEXT
clientcode=487
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5829]
x=7
y=1313
type=^IFTYPE_TEXT
clientcode=488
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5830]
x=7
y=1328
type=^IFTYPE_TEXT
clientcode=489
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5831]
x=7
y=1343
type=^IFTYPE_TEXT
clientcode=490
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5832]
x=7
y=1358
type=^IFTYPE_TEXT
clientcode=491
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5833]
x=7
y=1373
type=^IFTYPE_TEXT
clientcode=492
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5834]
x=7
y=1388
type=^IFTYPE_TEXT
clientcode=493
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5835]
x=7
y=1403
type=^IFTYPE_TEXT
clientcode=494
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5836]
x=7
y=1418
type=^IFTYPE_TEXT
clientcode=495
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5837]
x=7
y=1433
type=^IFTYPE_TEXT
clientcode=496
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5838]
x=7
y=1448
type=^IFTYPE_TEXT
clientcode=497
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5839]
x=7
y=1463
type=^IFTYPE_TEXT
clientcode=498
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5840]
x=7
y=1478
type=^IFTYPE_TEXT
clientcode=499
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5716:5841]
x=7
y=1493
type=^IFTYPE_TEXT
clientcode=500
width=153
height=14
layer=interface_5716:5715
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_5715:5717]
x=51
y=4
type=^IFTYPE_TEXT
width=68
height=14
font=^BOLD
text="Ignore list"
colour=0xFFFF00
shadowed=yes

[interface_5715:5718]
x=15
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=501
width=72
height=36
option="Add friend"
graphic="combatboxes,0"

[interface_5715:5719]
x=95
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=502
width=72
height=36
option="Delete friend"
graphic="combatboxes,0"

[interface_5715:5720]
x=23
y=234
type=^IFTYPE_TEXT
width=56
height=14
font=^PLAIN
text="Add Name"
colour=0xFFFF00
activecolour=0xFFFFFF
shadowed=yes

[interface_5715:5721]
x=105
y=234
type=^IFTYPE_TEXT
width=51
height=14
font=^PLAIN
text="Del Name"
colour=0xFFFF00
activecolour=0xFFFFFF
shadowed=yes

[interface_5715:5722]
x=3
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_5715:5723]
x=146
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_5715:5724]
x=3
y=194
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_5715:5725]
x=146
y=194
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_5715:5726]
x=28
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5715:5727]
x=64
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5715:5728]
x=100
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5715:5729]
x=112
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5715:5730]
x=150
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5715:5731]
x=150
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5715:5732]
x=150
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5715:5733]
x=150
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5715:5734]
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5715:5735]
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5715:5736]
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5715:5737]
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5715:5738]
x=28
y=203
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5715:5739]
x=64
y=203
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5715:5740]
x=100
y=203
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5715:5741]
x=111
y=203
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

