[interface_5993]
type=^IFTYPE_LAYER
width=512
height=334

[interface_5993:5994]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:5995]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:5996]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:5997]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:5998]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:5999]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6000]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6001]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6002]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6003]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6004]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6005]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6006]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6007]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6008]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6009]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6010]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6011]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5993:6012]
x=12
y=77
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_5993:6013]
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5993:6014]
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5993:6015]
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5993:6016]
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5993:6017]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5993:6018]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5993:6019]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5993:6020]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5993:6021]
x=33
y=54
type=^IFTYPE_MODEL
width=435
height=273
model=3182
zoom=603
xan=1548
yan=1022

[interface_5993:6022]
x=55
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6023]
x=125
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6024]
x=160
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6025]
x=195
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6026]
x=230
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6027]
x=265
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6028]
x=300
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6029]
x=335
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6030]
x=370
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6031]
x=405
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6032]
x=90
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6033]
x=71
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6034]
x=106
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6035]
x=141
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6036]
x=176
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6037]
x=211
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6038]
x=246
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6039]
x=281
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6040]
x=316
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6041]
x=351
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6042]
x=386
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6043]
x=421
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6044]
x=248
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6045]
x=36
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6046]
x=20
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6047]
x=12
y=230
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_5993:6048]
x=475
y=77
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_5993:6049]
x=456
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6050]
x=475
y=230
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_5993:6051]
x=440
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5993:6052]
x=421
y=85
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_5993:6053]
x=283
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6054]
x=318
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6055]
x=353
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6056]
x=388
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6057]
x=423
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6058]
x=458
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6059]
x=213
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6060]
x=178
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6061]
x=143
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6062]
x=108
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6063]
x=73
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6064]
x=38
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6065]
x=16
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5993:6066]
x=58
y=142
type=^IFTYPE_TEXT
clientcode=650
width=401
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="You last logged in 3 days ago from bighouse.onthehill.webcompany.com"
colour=0xFFFFFF
shadowed=yes

[interface_5993:6067]
x=172
y=83
type=^IFTYPE_TEXT
width=159
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Welcome to RuneScape"
colour=0xFFFF00
shadowed=yes

[interface_5993:6068]
x=79
y=207
type=^IFTYPE_TEXT
width=62
height=17
font=^QUILL
text="You have"
colour=0xFFFFFF
shadowed=yes

[interface_5993:6069]
x=148
y=207
type=^IFTYPE_TEXT
clientcode=651
width=129
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="0 unread messages"
colour=0x00FF00
shadowed=yes

[interface_5993:6070]
x=287
y=207
type=^IFTYPE_TEXT
width=164
height=17
font=^QUILL
text="in your message centre."
colour=0xFFFFFF
shadowed=yes

[interface_5993:6071]
x=94
y=176
type=^IFTYPE_TEXT
width=327
height=17
font=^QUILL
text="Jagex staff will NEVER email you. We use the"
colour=0xFFFFFF
shadowed=yes

[interface_5993:6072]
x=130
y=192
type=^IFTYPE_TEXT
width=259
height=17
font=^QUILL
text="message-centre on this website instead."
colour=0xFFFFFF
shadowed=yes

