[interface_6073]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6073:6074]
x=14
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6075]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6076]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6077]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6078]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6079]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6080]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6081]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6082]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6083]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6084]
x=412
y=46
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6085]
x=361
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6086]
x=274
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6087]
x=187
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6088]
x=100
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6089]
x=13
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6090]
x=409
y=232
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6091]
x=272
y=231
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6092]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6093]
x=359
y=235
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6094]
x=185
y=235
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6095]
x=98
y=233
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6096]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6097]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6098]
x=12
y=231
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6099]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6100]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6186]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6102]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6103]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6073:6104]
x=12
y=42
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_6073:6105]
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6073:6106]
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6073:6107]
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6073:6108]
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6073:6109]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6073:6110]
x=479
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6073:6111]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6073:6112]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6073:6113]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6073:6101]
x=31
y=47
type=^IFTYPE_MODEL
width=437
height=242
model=3182
zoom=606
xan=1551
yan=1020

[interface_6073:6115]
x=55
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6116]
x=125
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6117]
x=160
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6118]
x=195
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6119]
x=230
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6120]
x=265
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6121]
x=300
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6122]
x=335
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6123]
x=370
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6124]
x=405
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6125]
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6073:6126]
x=90
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6127]
x=71
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6128]
x=106
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6129]
x=141
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6130]
x=176
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6131]
x=211
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6187]
x=246
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6133]
x=281
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6134]
x=316
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6135]
x=479
y=61
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6073:6136]
x=351
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6137]
x=386
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6138]
y=67
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6073:6139]
x=421
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6140]
x=248
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6141]
x=36
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6142]
x=20
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6143]
x=475
y=42
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_6073:6144]
x=456
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6145]
x=475
y=265
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_6073:6146]
x=440
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6073:6132]
x=421
y=54
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_6073:6148]
x=283
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6149]
x=318
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6150]
x=353
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6151]
x=388
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6152]
x=423
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6153]
x=458
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6154]
x=213
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6155]
x=178
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6188]
x=143
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6189]
x=108
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6190]
x=73
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6191]
x=12
y=265
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_6073:6192]
x=38
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6193]
x=17
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6073:6194]
x=56
y=118
type=^IFTYPE_TEXT
clientcode=655
width=401
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="You last logged in 3 days ago from bighouse.onthehill.webcompany.com"
colour=0xFFFFFF
shadowed=yes

[interface_6073:6195]
x=173
y=55
type=^IFTYPE_TEXT
width=159
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Welcome to RuneScape"
colour=0xFFFF00
shadowed=yes

[interface_6073:6196]
x=78
y=183
type=^IFTYPE_TEXT
width=62
height=17
font=^QUILL
text="You have"
colour=0xFFFFFF
shadowed=yes

[interface_6073:6197]
x=151
y=183
type=^IFTYPE_TEXT
clientcode=651
width=129
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="0 unread messages"
colour=0x00FF00
shadowed=yes

[interface_6073:6198]
x=288
y=184
type=^IFTYPE_TEXT
width=164
height=17
font=^QUILL
text="in your message centre."
colour=0xFFFFFF
shadowed=yes

[interface_6073:6199]
x=91
y=151
type=^IFTYPE_TEXT
width=327
height=17
font=^QUILL
text="Jagex staff will NEVER email you. We use the"
colour=0xFFFFFF
shadowed=yes

[interface_6073:6200]
x=133
y=167
type=^IFTYPE_TEXT
width=259
height=17
font=^QUILL
text="message-centre on this website instead."
colour=0xFFFFFF
shadowed=yes

[interface_6073:6201]
x=92
y=230
type=^IFTYPE_TEXT
width=332
height=14
font=^PLAIN
text="You have not yet saved any password recovery questions."
colour=0xFFFF00
shadowed=yes

[interface_6073:6202]
x=81
y=246
type=^IFTYPE_TEXT
width=353
height=14
font=^PLAIN
text="We strongly recommend you do so now to secure your account."
colour=0xFFFF00
shadowed=yes

[interface_6073:6203]
x=73
y=263
type=^IFTYPE_TEXT
width=373
height=14
font=^PLAIN
text="Do this from the 'account management' area on our front webpage"
colour=0xFFFF00
shadowed=yes

