[interface_6231]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6231:6232]
x=73
y=15
type=^IFTYPE_TEXT
width=390
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_6231:6233]
x=73
y=44
type=^IFTYPE_TEXT
width=390
height=18
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_6231:6234]
x=93
y=74
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

[interface_6231:6235]
x=43
y=19
type=^IFTYPE_MODEL
width=32
height=32
model=2711
zoom=408
xan=254
yan=1257

[interface_6231:6236]
x=46
y=44
type=^IFTYPE_MODEL
width=32
height=32
model=2711
zoom=444
xan=223
yan=177

