[interface_6242]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6242:6243]
x=73
y=15
type=^IFTYPE_TEXT
width=390
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_6242:6244]
x=73
y=44
type=^IFTYPE_TEXT
width=390
height=18
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_6242:6245]
x=93
y=74
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

[interface_6242:6246]
x=29
y=27
type=^IFTYPE_MODEL
width=32
height=32
model=3325
zoom=505
xan=582
yan=504

