[interface_638]
type=^IFTYPE_LAYER
width=512
height=334

[interface_638:639]
x=5
y=20
type=^IFTYPE_LAYER
width=168
height=229
scrollheight=865

[interface_639:663]
x=5
y=8
type=^IFTYPE_TEXT
width=84
height=14
layer=interface_639:638
font=^BOLD
text="FREE QUESTS:"
colour=0xF99B15
shadowed=yes

[interface_639:664]
x=10
y=23
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=130
height=14
layer=interface_639:638
font=^PLAIN
text="Black Knight's Fortress"
colour=0xFF0000
shadowed=yes

[interface_639:665]
x=10
y=39
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=96
height=14
layer=interface_639:638
font=^PLAIN
text="Cook's Assistant"
colour=0xFF0000
shadowed=yes

[interface_639:666]
x=10
y=55
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=76
height=14
layer=interface_639:638
font=^PLAIN
text="Demon Slayer"
colour=0xFF0000
shadowed=yes

[interface_639:667]
x=10
y=71
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=125
height=14
layer=interface_639:638
font=^PLAIN
text="Rune Mysteries Quest"
colour=0xFF0000
shadowed=yes

[interface_639:668]
x=10
y=87
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=75
height=14
layer=interface_639:638
font=^PLAIN
text="Doric's Quest"
colour=0xFF0000
shadowed=yes

[interface_639:669]
x=10
y=102
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=109
height=14
layer=interface_639:638
font=^PLAIN
text="The Restless Ghost"
colour=0xFF0000
shadowed=yes

[interface_639:670]
x=10
y=117
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=94
height=14
layer=interface_639:638
font=^PLAIN
text="Goblin Diplomacy"
colour=0xFF0000
shadowed=yes

[interface_639:671]
x=9
y=133
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=105
height=14
layer=interface_639:638
font=^PLAIN
text="Ernest the Chicken"
colour=0xFF0000
shadowed=yes

[interface_639:672]
x=9
y=148
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=66
height=14
layer=interface_639:638
font=^PLAIN
text="Imp Catcher"
colour=0xFF0000
shadowed=yes

[interface_639:673]
x=9
y=163
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=97
height=14
layer=interface_639:638
font=^PLAIN
text="Pirate's Treasure"
colour=0xFF0000
shadowed=yes

[interface_639:674]
x=9
y=178
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=96
height=14
layer=interface_639:638
font=^PLAIN
text="Prince Ali Rescue"
colour=0xFF0000
shadowed=yes

[interface_639:675]
x=9
y=193
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=86
height=14
layer=interface_639:638
font=^PLAIN
text="Romeo & Juliet"
colour=0xFF0000
shadowed=yes

[interface_639:676]
x=9
y=208
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=83
height=14
layer=interface_639:638
font=^PLAIN
text="Sheep Shearer"
colour=0xFF0000
shadowed=yes

[interface_639:677]
x=9
y=224
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=85
height=14
layer=interface_639:638
font=^PLAIN
text="Shield of Arrav"
colour=0xFF0000
shadowed=yes

[interface_639:678]
x=9
y=240
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=104
height=14
layer=interface_639:638
font=^PLAIN
text="The Knight's Sword"
colour=0xFF0000
shadowed=yes

[interface_639:679]
x=9
y=256
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=84
height=14
layer=interface_639:638
font=^PLAIN
text="Vampire Slayer"
colour=0xFF0000
shadowed=yes

[interface_639:680]
x=9
y=273
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=79
height=14
layer=interface_639:638
font=^PLAIN
text="Witch's Potion"
colour=0xFF0000
shadowed=yes

[interface_639:681]
x=10
y=289
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=79
height=14
layer=interface_639:638
font=^PLAIN
text="Dragon Slayer"
colour=0xFF0000
shadowed=yes

[interface_639:682]
x=6
y=308
type=^IFTYPE_TEXT
width=113
height=14
layer=interface_639:638
font=^BOLD
text="MEMBERS QUESTS:"
colour=0xF99B15
shadowed=yes

[interface_639:683]
x=11
y=325
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=78
height=14
layer=interface_639:638
font=^PLAIN
text="Witch's House"
colour=0xFF0000
shadowed=yes

[interface_639:684]
x=11
y=341
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=73
height=14
layer=interface_639:638
font=^PLAIN
text="Hero's Quest"
colour=0xFF0000
shadowed=yes

[interface_639:685]
x=10
y=357
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=88
height=14
layer=interface_639:638
font=^PLAIN
text="Merlin's Crystal"
colour=0xFF0000
shadowed=yes

[interface_639:686]
x=10
y=372
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=69
height=14
layer=interface_639:638
font=^PLAIN
text="Family Crest"
colour=0xFF0000
shadowed=yes

[interface_639:687]
x=10
y=387
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=88
height=14
layer=interface_639:638
font=^PLAIN
text="Fishing Contest"
colour=0xFF0000
shadowed=yes

[interface_639:688]
x=9
y=404
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=80
height=14
layer=interface_639:638
font=^PLAIN
text="Temple of Ikov"
colour=0xFF0000
shadowed=yes

[interface_639:689]
x=9
y=420
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=75
height=14
layer=interface_639:638
font=^PLAIN
text="The Holy Grail"
colour=0xFF0000
shadowed=yes

[interface_639:690]
x=9
y=436
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=105
height=14
layer=interface_639:638
font=^PLAIN
text="Tree Gnome Village"
colour=0xFF0000
shadowed=yes

[interface_639:691]
x=9
y=452
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=76
height=14
layer=interface_639:638
font=^PLAIN
text="Sheep Herder"
colour=0xFF0000
shadowed=yes

[interface_639:692]
x=9
y=468
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=48
height=14
layer=interface_639:638
font=^PLAIN
text="Sea Slug"
colour=0xFF0000
shadowed=yes

[interface_639:693]
x=9
y=485
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=57
height=14
layer=interface_639:638
font=^PLAIN
text="Biohazard"
colour=0xFF0000
shadowed=yes

[interface_639:694]
x=9
y=501
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=83
height=14
layer=interface_639:638
font=^PLAIN
text="The Grand Tree"
colour=0xFF0000
shadowed=yes

[interface_639:695]
x=9
y=517
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=127
height=14
layer=interface_639:638
font=^PLAIN
text="The Underground Pass"
colour=0xFF0000
shadowed=yes

[interface_639:696]
x=9
y=533
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=88
height=14
layer=interface_639:638
font=^PLAIN
text="The Tourist Trap"
colour=0xFF0000
shadowed=yes

[interface_639:697]
x=9
y=550
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=77
height=14
layer=interface_639:638
font=^PLAIN
text="Dwarf Cannon"
colour=0xFF0000
shadowed=yes

[interface_639:698]
x=9
y=566
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=61
height=14
layer=interface_639:638
font=^PLAIN
text="The Digsite"
colour=0xFF0000
shadowed=yes

[interface_639:699]
x=9
y=582
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=85
height=14
layer=interface_639:638
font=^PLAIN
text="Legends Quest"
colour=0xFF0000
shadowed=yes

[interface_639:700]
x=9
y=598
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=50
height=14
layer=interface_639:638
font=^PLAIN
text="Lost City"
colour=0xFF0000
shadowed=yes

[interface_639:701]
x=9
y=614
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=73
height=14
layer=interface_639:638
font=^PLAIN
text="Druidic Ritual"
colour=0xFF0000
shadowed=yes

[interface_639:702]
x=9
y=630
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=96
height=14
layer=interface_639:638
font=^PLAIN
text="Scorpion Catcher"
colour=0xFF0000
shadowed=yes

[interface_639:703]
x=9
y=646
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=66
height=14
layer=interface_639:638
font=^PLAIN
text="Tribal Totem"
colour=0xFF0000
shadowed=yes

[interface_639:704]
x=9
y=662
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=77
height=14
layer=interface_639:638
font=^PLAIN
text="Monk's Friend"
colour=0xFF0000
shadowed=yes

[interface_639:705]
x=9
y=678
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=63
height=14
layer=interface_639:638
font=^PLAIN
text="Clock Tower"
colour=0xFF0000
shadowed=yes

[interface_639:706]
x=9
y=694
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=65
height=14
layer=interface_639:638
font=^PLAIN
text="Fight Arena"
colour=0xFF0000
shadowed=yes

[interface_639:707]
x=9
y=710
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=85
height=14
layer=interface_639:638
font=^PLAIN
text="The Hazeel Cult"
colour=0xFF0000
shadowed=yes

[interface_639:708]
x=9
y=726
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=63
height=14
layer=interface_639:638
font=^PLAIN
text="Plague City"
colour=0xFF0000
shadowed=yes

[interface_639:709]
x=9
y=742
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=89
height=14
layer=interface_639:638
font=^PLAIN
text="Waterfall Quest"
colour=0xFF0000
shadowed=yes

[interface_639:710]
x=9
y=758
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=77
height=14
layer=interface_639:638
font=^PLAIN
text="Jungle Potion"
colour=0xFF0000
shadowed=yes

[interface_639:711]
x=9
y=774
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=104
height=14
layer=interface_639:638
font=^PLAIN
text="Shilo Village Quest"
colour=0xFF0000
shadowed=yes

[interface_639:712]
x=9
y=791
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=109
height=14
layer=interface_639:638
font=^PLAIN
text="Observatory Quest"
colour=0xFF0000
shadowed=yes

[interface_639:713]
x=9
y=807
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=68
height=14
layer=interface_639:638
font=^PLAIN
text="Watch Tower"
colour=0xFF0000
shadowed=yes

[interface_639:714]
x=9
y=824
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=90
height=14
layer=interface_639:638
font=^PLAIN
text="Murder Mystery"
colour=0xFF0000
shadowed=yes

[interface_639:715]
x=9
y=841
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=90
height=14
layer=interface_639:638
font=^PLAIN
text="Gertrudes's Cat"
colour=0xFF0000
shadowed=yes

[interface_638:640]
x=41
y=4
type=^IFTYPE_TEXT
width=93
height=14
font=^BOLD
text="Quest Journal"
colour=0xFFFF00
shadowed=yes

[interface_638:641]
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_638:642]
x=150
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_638:643]
x=3
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_638:644]
x=146
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_638:645]
x=3
y=219
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_638:646]
x=146
y=219
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_638:647]
x=28
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_638:648]
x=64
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_638:649]
x=100
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_638:650]
x=112
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_638:651]
x=150
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_638:652]
x=150
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_638:653]
x=150
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_638:654]
x=150
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_638:655]
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_638:656]
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_638:657]
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_638:658]
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_638:659]
x=28
y=228
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_638:660]
x=64
y=228
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_638:661]
x=100
y=228
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_638:662]
x=124
y=228
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

