[interface_6412]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6412:6413]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6414]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6415]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6416]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6417]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6418]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6419]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6420]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6421]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6422]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6423]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6424]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6425]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6426]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6427]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6428]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6429]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6430]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6431]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6432]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6433]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6434]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6435]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6436]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6437]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6438]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6439]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6440]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6441]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6442]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6412:6443]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_6412:6444]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6445]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6446]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6447]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6448]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6449]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6450]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6451]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6412:6452]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6412:6453]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6412:6454]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6412:6455]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6412:6456]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6412:6457]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6412:6458]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6459]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6460]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6461]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6462]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6463]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6464]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6465]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6466]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6467]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6468]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6469]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6470]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6471]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6472]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6473]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6474]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6475]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6476]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6477]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6478]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6479]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6480]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_6412:6481]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_6412:6482]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6483]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_6412:6484]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6485]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6486]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6487]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6488]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6489]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6490]
x=458
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6491]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6492]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6493]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6494]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6495]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6496]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6497]
x=37
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6498]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6499]
x=18
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6500]
x=19
y=55
type=^IFTYPE_LAYER
width=218
height=142
scrollheight=188

[interface_6500:6503]
x=42
y=2
type=^IFTYPE_TEXT
width=132
height=14
layer=interface_6500:6412
font=^PLAIN
text="You are about to stake:"
colour=0xAA8822
shadowed=yes

[interface_6500:6507]
x=50
y=29
type=^IFTYPE_INVENTORY_TEXT
width=2
height=14
layer=interface_6500:6412
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xAAAAAA
shadowed=yes
marginy=2

[interface_6500:6509]
x=109
y=29
type=^IFTYPE_INVENTORY_TEXT
width=1
height=10
layer=interface_6500:6412
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xAAAAAA
shadowed=yes
marginy=2

[interface_6500:6516]
x=55
y=17
type=^IFTYPE_TEXT
width=110
height=14
layer=interface_6500:6412
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Absolutely nothing!"
colour=0xAAAAAA
shadowed=yes

[interface_6412:6501]
x=260
y=55
type=^IFTYPE_LAYER
width=218
height=142
scrollheight=188

[interface_6501:6502]
x=109
y=28
type=^IFTYPE_INVENTORY_TEXT
width=1
height=10
layer=interface_6501:6412
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xAAAAAA
shadowed=yes
marginy=2

[interface_6501:6504]
x=37
y=1
type=^IFTYPE_TEXT
width=140
height=14
layer=interface_6501:6412
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Your opponent will stake:"
colour=0xAA8822
shadowed=yes

[interface_6501:6508]
x=49
y=28
type=^IFTYPE_INVENTORY_TEXT
width=2
height=14
layer=interface_6501:6412
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xAAAAAA
shadowed=yes
marginy=2

[interface_6501:6517]
x=52
y=16
type=^IFTYPE_TEXT
width=110
height=14
layer=interface_6501:6412
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Absolutely nothing!"
colour=0xAAAAAA
shadowed=yes

[interface_6412:6505]
x=139
y=29
type=^IFTYPE_TEXT
width=232
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Are you sure you want to fight this duel?"
colour=0xFFAA44
shadowed=yes

[interface_6412:6506]
x=298
y=270
type=^IFTYPE_TEXT
width=57
height=14
font=^PLAIN
text="Obstacles"
colour=0xAA8822
shadowed=yes

[interface_6412:6510]
x=425
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_6412:6511]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6412:6512]
x=239
y=88
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6513]
x=239
y=52
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6514]
x=239
y=160
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6515]
x=239
y=124
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:6518]
x=391
y=212
type=^IFTYPE_LAYER
width=78
height=42

[interface_6518:6520]
x=6
y=6
type=^IFTYPE_RECTANGLE
buttontype=^BUTTON
width=66
height=31
layer=interface_6518:6412
fill=yes

[interface_6518:6521]
x=21
y=14
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_6518:6412
font=^PLAIN
text="Accept"
colour=0x008000
overcolour=0x00FF00
shadowed=yes

[interface_6518:6524]
x=21
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6518:6412
graphic="steelborder2,0"

[interface_6518:6526]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6518:6412
graphic="steelborder,0"

[interface_6518:6528]
x=53
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6518:6412
graphic="steelborder,1"

[interface_6518:6530]
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6518:6412
graphic="steelborder,2"

[interface_6518:6532]
x=53
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6518:6412
graphic="steelborder,3"

[interface_6518:6533]
x=21
y=22
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6518:6412
graphic="miscgraphics,3"

[interface_6412:6519]
x=391
y=262
type=^IFTYPE_LAYER
width=78
height=43

[interface_6519:6522]
x=6
y=6
type=^IFTYPE_RECTANGLE
buttontype=^CLOSE
width=66
height=31
layer=interface_6519:6412
fill=yes

[interface_6519:6523]
x=20
y=14
type=^IFTYPE_TEXT
width=40
height=14
layer=interface_6519:6412
font=^PLAIN
text="Decline"
colour=0x800000
overcolour=0xFF0000
shadowed=yes

[interface_6519:6525]
x=21
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6519:6412
graphic="steelborder2,0"

[interface_6519:6527]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6519:6412
graphic="steelborder,0"

[interface_6519:6529]
x=53
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6519:6412
graphic="steelborder,1"

[interface_6519:6531]
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6519:6412
graphic="steelborder,2"

[interface_6519:6534]
x=53
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6519:6412
graphic="steelborder,3"

[interface_6519:6569]
x=20
y=22
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6519:6412
graphic="miscgraphics,3"

[interface_6412:6535]
x=61
y=210
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=57
height=14
font=^PLAIN
text="No Forfeit"
colour=0xAA8822
shadowed=yes

[interface_6412:6536]
x=188
y=250
type=^IFTYPE_TEXT
width=50
height=14
font=^PLAIN
text="No Magic"
colour=0xAA8822
shadowed=yes

[interface_6412:6537]
x=188
y=210
type=^IFTYPE_TEXT
width=60
height=14
font=^PLAIN
text="No Ranged"
colour=0xAA8822
shadowed=yes

[interface_6412:6538]
x=188
y=230
type=^IFTYPE_TEXT
width=51
height=14
font=^PLAIN
text="No Melee"
activetext=No Melee
colour=0xAA8822
shadowed=yes

[interface_6412:6539]
x=61
y=250
type=^IFTYPE_TEXT
width=69
height=14
font=^PLAIN
text="No Weapons"
colour=0xAA8822
shadowed=yes

[interface_6412:6540]
x=298
y=210
type=^IFTYPE_TEXT
width=61
height=14
font=^PLAIN
text="No Potions"
colour=0xAA8822
shadowed=yes

[interface_6412:6541]
x=298
y=230
type=^IFTYPE_TEXT
width=45
height=14
font=^PLAIN
text="No Food"
colour=0xAA8822
shadowed=yes

[interface_6412:6542]
x=298
y=250
type=^IFTYPE_TEXT
width=56
height=14
font=^PLAIN
text="No Prayer"
colour=0xAA8822
shadowed=yes

[interface_6412:6543]
x=61
y=230
type=^IFTYPE_TEXT
width=76
height=14
font=^PLAIN
text="No Movement"
colour=0xAA8822
shadowed=yes

[interface_6412:6544]
x=61
y=270
type=^IFTYPE_TEXT
width=59
height=14
font=^PLAIN
text="No Armour"
colour=0xAA8822
shadowed=yes

[interface_6412:6545]
x=18
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6546]
x=54
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6547]
x=90
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6548]
x=126
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6549]
x=162
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6550]
x=198
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6551]
x=234
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6552]
x=270
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6553]
x=306
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6554]
x=342
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6555]
x=378
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6556]
x=414
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6557]
x=450
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6558]
x=458
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6412:6559]
x=36
y=210
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=0
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6560]
x=36
y=230
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=1
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6561]
x=36
y=250
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=2
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6562]
x=36
y=270
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=3
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6563]
x=162
y=210
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=4
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6564]
x=162
y=230
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=5
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6565]
x=162
y=250
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=6
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6566]
x=272
y=210
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=7
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6567]
x=272
y=230
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=8
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6568]
x=272
y=250
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=9
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6570]
x=272
y=270
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=10
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:6571]
x=194
y=293
type=^IFTYPE_TEXT
width=130
height=11
font=^PLAIN_SMALL
text="Waiting for other player..."
colour=0xAAAAAA
shadowed=yes

[interface_6412:6572]
x=239
y=161
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6412:664]
x=188
y=270
type=^IFTYPE_TEXT
width=71
height=14
font=^PLAIN
text="Flower Power"
colour=0xAA8822
shadowed=yes

[interface_6412:665]
x=162
y=270
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=12
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6412:666]
x=61
y=290
type=^IFTYPE_TEXT
width=61
height=14
font=^PLAIN
text="No Jewelry"
colour=0xAA8822
shadowed=yes

[interface_6412:667]
x=36
y=290
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=11
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

