[interface_6575]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6575:6576]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6577]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6578]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6579]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6580]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6581]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6582]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6583]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6584]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6585]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6586]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6587]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6588]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6589]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6590]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6591]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6592]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6593]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6594]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6595]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6596]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6597]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6598]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6599]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6600]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6601]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6602]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6603]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6604]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6605]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_6575:6606]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_6575:6607]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6575:6608]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6575:6609]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6575:6610]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6575:6611]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6575:6612]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6575:6613]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_6575:6614]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6575:6615]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6575:6616]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6575:6617]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6575:6618]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6575:6619]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6575:6620]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_6575:6621]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6622]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6623]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6624]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6625]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6626]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6627]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6628]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6629]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6630]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6631]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6632]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6633]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6634]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6635]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6636]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6637]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6638]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6639]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6640]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6641]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6642]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6643]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6644]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6645]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6646]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_6575:6647]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_6575:6648]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6649]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_6575:6650]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_6575:6651]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6652]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6653]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6654]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6655]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6656]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6657]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6658]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6659]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6660]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6661]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6662]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6663]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6664]
x=36
y=20
type=^IFTYPE_LAYER
width=440
height=299

[interface_6664:6678]
x=203
y=71
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6664:6575
graphic="miscgraphics,2"

[interface_6664:6679]
x=203
y=35
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6664:6575
graphic="miscgraphics,2"

[interface_6664:6680]
x=203
y=143
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6664:6575
graphic="miscgraphics,2"

[interface_6664:6682]
x=203
y=107
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6664:6575
graphic="miscgraphics,2"

[interface_6664:6720]
x=203
y=143
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6664:6575
graphic="miscgraphics,2"

[interface_6575:6665]
x=19
y=55
type=^IFTYPE_LAYER
width=218
height=142
scrollheight=216

[interface_6665:6669]
x=9
y=16
type=^IFTYPE_INVENTORY
width=5
height=6
layer=interface_6665:6575
xof=10
yof=1
invoption1="Remove 1"
invoption2="Remove 5"
invoption3="Remove 10"
invoption4="Remove All"
invoption5="Remove X"

[interface_6665:6673]
x=76
type=^IFTYPE_TEXT
width=64
height=14
layer=interface_6665:6575
font=^PLAIN
text="Your Stake:"
colour=0xAA8822
shadowed=yes

[interface_6575:6666]
x=258
y=55
type=^IFTYPE_LAYER
width=220
height=142
scrollheight=216

[interface_6666:6670]
x=9
y=16
type=^IFTYPE_INVENTORY
width=5
height=6
layer=interface_6666:6575
xof=10
yof=1

[interface_6666:6672]
x=62
type=^IFTYPE_TEXT
width=100
height=14
layer=interface_6666:6575
font=^PLAIN
text="Opponents Stake:"
colour=0xAA8822
shadowed=yes

[interface_6575:6667]
x=391
y=212
type=^IFTYPE_LAYER
width=78
height=42

[interface_6667:6674]
x=6
y=6
type=^IFTYPE_RECTANGLE
buttontype=^BUTTON
width=66
height=31
layer=interface_6667:6575
fill=yes

[interface_6667:6675]
x=21
y=14
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_6667:6575
font=^PLAIN
text="Accept"
colour=0x008000
overcolour=0x00FF00
shadowed=yes

[interface_6667:6681]
x=21
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6667:6575
graphic="steelborder2,0"

[interface_6667:6686]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6667:6575
graphic="steelborder,0"

[interface_6667:6688]
x=53
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6667:6575
graphic="steelborder,1"

[interface_6667:6690]
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6667:6575
graphic="steelborder,2"

[interface_6667:6692]
x=53
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6667:6575
graphic="steelborder,3"

[interface_6667:6693]
x=21
y=22
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6667:6575
graphic="miscgraphics,3"

[interface_6575:6668]
x=391
y=262
type=^IFTYPE_LAYER
width=78
height=43

[interface_6668:6676]
x=6
y=6
type=^IFTYPE_RECTANGLE
buttontype=^CLOSE
width=66
height=31
layer=interface_6668:6575
fill=yes

[interface_6668:6677]
x=20
y=14
type=^IFTYPE_TEXT
width=40
height=14
layer=interface_6668:6575
font=^PLAIN
text="Decline"
colour=0x800000
overcolour=0xFF0000
shadowed=yes

[interface_6668:6683]
x=21
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6668:6575
graphic="steelborder2,0"

[interface_6668:6685]
x=22
y=22
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_6668:6575
graphic="miscgraphics,3"

[interface_6668:6687]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6668:6575
graphic="steelborder,0"

[interface_6668:6689]
x=53
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6668:6575
graphic="steelborder,1"

[interface_6668:6691]
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6668:6575
graphic="steelborder,2"

[interface_6668:6694]
x=53
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_6668:6575
graphic="steelborder,3"

[interface_6575:6671]
x=21
y=29
type=^IFTYPE_TEXT
width=69
height=14
font=^PLAIN
text="Dueling with:"
colour=0xFFAA44
shadowed=yes

[interface_6575:6684]
x=194
y=293
type=^IFTYPE_TEXT
width=130
height=11
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Waiting for other player..."
colour=0xAAAAAA
shadowed=yes

[interface_6575:6695]
x=423
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_6575:6696]
x=61
y=210
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=57
height=14
font=^PLAIN
text="No Forfeit"
colour=0xAA8822
shadowed=yes

[interface_6575:6697]
x=188
y=250
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=50
height=14
font=^PLAIN
text="No Magic"
colour=0xAA8822
shadowed=yes

[interface_6575:6698]
x=188
y=210
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=60
height=14
font=^PLAIN
text="No Ranged"
colour=0xAA8822
shadowed=yes

[interface_6575:6699]
x=188
y=230
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=51
height=14
font=^PLAIN
text="No Melee"
colour=0xAA8822
shadowed=yes

[interface_6575:6700]
x=61
y=250
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=69
height=14
font=^PLAIN
text="No Weapons"
colour=0xAA8822
shadowed=yes

[interface_6575:6701]
x=298
y=210
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=61
height=14
font=^PLAIN
text="No Potions"
colour=0xAA8822
shadowed=yes

[interface_6575:6702]
x=298
y=230
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=45
height=14
font=^PLAIN
text="No Food"
colour=0xAA8822
shadowed=yes

[interface_6575:6703]
x=298
y=250
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=56
height=14
font=^PLAIN
text="No Prayer"
colour=0xAA8822
shadowed=yes

[interface_6575:6704]
x=61
y=230
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=76
height=14
font=^PLAIN
text="No Movement"
colour=0xAA8822
shadowed=yes

[interface_6575:6705]
x=61
y=270
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=59
height=14
font=^PLAIN
text="No Armour"
colour=0xAA8822
shadowed=yes

[interface_6575:6706]
x=18
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6707]
x=54
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6708]
x=90
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6709]
x=126
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6710]
x=162
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6711]
x=198
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6712]
x=234
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6713]
x=270
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6714]
x=306
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6715]
x=342
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6716]
x=378
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6717]
x=414
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6718]
x=450
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6719]
x=458
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_6575:6721]
x=36
y=210
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=0
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:6722]
x=36
y=230
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=1
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:6723]
x=36
y=250
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=2
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:6724]
x=36
y=270
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=3
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:6725]
x=162
y=210
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=4
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:6726]
x=162
y=230
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=5
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:6727]
x=162
y=250
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=6
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:6728]
x=272
y=210
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=7
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:6729]
x=272
y=230
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=8
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:6730]
x=272
y=250
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=9
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:6731]
x=298
y=270
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=57
height=14
font=^PLAIN
text="Obstacles"
colour=0xAA8822
shadowed=yes

[interface_6575:6732]
x=272
y=270
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=10
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:668]
x=61
y=290
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=61
height=14
font=^PLAIN
text="No Jewelry"
colour=0xAA8822
shadowed=yes

[interface_6575:669]
x=188
y=270
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=71
height=14
font=^PLAIN
text="Flower Power"
colour=0xAA8822
shadowed=yes

[interface_6575:670]
x=162
y=270
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=12
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:671]
x=36
y=290
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=11
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_6575:672]
x=58
y=58
type=^IFTYPE_INVENTORY
width=4
height=3

