[interface_6946]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6946:6947]
x=273
y=70
type=^IFTYPE_MODEL
width=32
height=32
model=3408
zoom=162
xan=500

[interface_6946:6948]
x=419
y=141
type=^IFTYPE_MODEL
width=32
height=32
model=3407
zoom=353
xan=500

[interface_6946:6949]
x=419
y=141
type=^IFTYPE_MODEL
width=32
height=32
model=3403
zoom=898
xan=500

[interface_6946:6950]
x=419
y=141
type=^IFTYPE_MODEL
width=32
height=32
model=3402
zoom=201
xan=500

[interface_6946:6951]
x=430
y=8
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=74
height=14
font=^PLAIN
text="Close Window"
colour=0x505050
overcolour=0xFFFFFF
shadowed=yes

[interface_6946:6952]
x=313
y=275
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=30
height=51
model=3405
zoom=1389
xan=275
yan=2029

[interface_6946:6953]
x=315
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=27
height=43
model=3404
zoom=1418
xan=478
yan=14

[interface_6946:6954]
x=258
y=258
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=44
height=52
model=3409
zoom=1228
xan=300
yan=285

[interface_6946:6955]
x=21
y=264
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=47
height=49
model=3406
zoom=1219
xan=308
yan=695

[interface_6946:6956]
x=152
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=3411
zoom=566
xan=500

[interface_6946:6957]
x=152
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=3410
zoom=566
xan=500

[interface_6946:6958]
x=152
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=3412
zoom=566
xan=500

[interface_6946:6959]
x=131
y=313
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=71
height=14
font=^PLAIN
text="Get Location"
colour=0x7C6035
overcolour=0xC8B08A
shadowed=yes

