[interface_6965]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6965:6966]
x=227
y=162
type=^IFTYPE_MODEL
width=32
height=32
model=3395
zoom=599
xan=520
yan=1

[interface_6965:6967]
x=430
y=8
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=74
height=14
font=^PLAIN
text="Close Window"
colour=0xFAD782
overcolour=0xFFFFFF
shadowed=yes

[interface_6965:6968]
x=131
y=62
type=^IFTYPE_TEXT
width=256
height=21
font=^QUILL
text="The quick brown fox jumped over the "
colour=0xF0BB5E
shadowed=yes

[interface_6965:6969]
x=131
y=87
type=^IFTYPE_TEXT
width=256
height=21
font=^QUILL
text="The quick brown fox jumped over the "
colour=0xF0BB5E
shadowed=yes

[interface_6965:6970]
x=131
y=112
type=^IFTYPE_TEXT
width=256
height=21
font=^QUILL
text="The quick brown fox jumped over the "
colour=0xF0BB5E
shadowed=yes

[interface_6965:6971]
x=131
y=137
type=^IFTYPE_TEXT
width=256
height=21
font=^QUILL
text="The quick brown fox jumped over the "
colour=0xF0BB5E
shadowed=yes

[interface_6965:6972]
x=131
y=162
type=^IFTYPE_TEXT
width=256
height=21
font=^QUILL
text="The quick brown fox jumped over the "
colour=0xF0BB5E
shadowed=yes

[interface_6965:6973]
x=131
y=187
type=^IFTYPE_TEXT
width=256
height=21
font=^QUILL
text="The quick brown fox jumped over the "
colour=0xF0BB5E
shadowed=yes

[interface_6965:6974]
x=131
y=212
type=^IFTYPE_TEXT
width=256
height=21
font=^QUILL
text="The quick brown fox jumped over the "
colour=0xF0BB5E
shadowed=yes

[interface_6965:6975]
x=131
y=237
type=^IFTYPE_TEXT
width=256
height=21
font=^QUILL
text="The quick brown fox jumped over the "
colour=0xF0BB5E
shadowed=yes

