[interface_6987]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6987:6988]
x=227
y=162
type=^IFTYPE_MODEL
width=32
height=32
model=3395
zoom=599
xan=520
yan=1

[interface_6987:6989]
x=430
y=8
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=74
height=14
font=^PLAIN
text="Close Window"
colour=0xFAD782
overcolour=0xFFFFFF
shadowed=yes

[interface_6987:6990]
x=160
y=115
type=^IFTYPE_TEXT
width=202
height=17
font=^QUILL
text="You'll need to look for a town"
colour=0xF0BB5E
shadowed=yes

[interface_6987:6991]
x=160
y=141
type=^IFTYPE_TEXT
width=202
height=17
font=^QUILL
text="with a central fountain. Look"
colour=0xF0BB5E
shadowed=yes

[interface_6987:6992]
x=160
y=166
type=^IFTYPE_TEXT
width=202
height=17
font=^QUILL
text="inside a crate in the general"
colour=0xF0BB5E
shadowed=yes

[interface_6987:6993]
x=160
y=193
type=^IFTYPE_TEXT
width=202
height=17
font=^QUILL
text="store. "
colour=0xF0BB5E
shadowed=yes

