[interface_716]
type=^IFTYPE_LAYER
width=512
height=334

[interface_716:717]
x=2
y=68
type=^IFTYPE_RECTANGLE
width=508
height=172
fill=yes
colour=0x202020

[interface_716:718]
x=6
y=72
type=^IFTYPE_RECTANGLE
width=499
height=164
fill=yes
colour=0x404040

[interface_716:719]
x=12
y=20
type=^IFTYPE_LAYER
width=488
height=36

[interface_719:720]
x=94
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_719:716
graphic="tradebacking,0"

[interface_719:721]
x=182
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_719:716
graphic="tradebacking,0"

[interface_719:722]
x=270
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_719:716
graphic="tradebacking,0"

[interface_719:723]
x=358
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_719:716
graphic="tradebacking,0"

[interface_719:724]
x=394
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_719:716
graphic="tradebacking,0"

[interface_719:725]
x=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_719:716
graphic="tradebacking,0"

[interface_719:726]
x=60
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:727]
x=96
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:728]
x=132
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:729]
x=168
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:730]
x=204
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:731]
x=240
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:732]
x=276
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:733]
x=312
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:734]
x=348
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:735]
x=384
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:736]
x=420
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:737]
x=428
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:738]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_719:716
graphic="steelborder,0"

[interface_719:739]
x=60
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:740]
x=96
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:741]
x=132
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:742]
x=168
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:743]
x=204
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:744]
x=240
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:745]
x=276
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:746]
x=312
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:747]
x=348
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:748]
x=384
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:749]
x=420
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:750]
x=25
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:751]
x=463
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_719:716
graphic="steelborder,1"

[interface_719:752]
x=427
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="steelborder2,0"

[interface_719:753]
x=463
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_719:716
graphic="steelborder,3"

[interface_719:754]
x=25
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_719:716
graphic="miscgraphics,3"

[interface_719:755]
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_719:716
graphic="steelborder,2"

[interface_716:756]
x=54
y=116
type=^IFTYPE_MODEL
width=32
height=32
model=3041
zoom=550
xan=400

[interface_716:757]
x=178
y=116
type=^IFTYPE_MODEL
width=32
height=32
model=3041
zoom=550
xan=400

[interface_716:758]
x=302
y=116
type=^IFTYPE_MODEL
width=32
height=32
model=3041
zoom=550
xan=400

[interface_716:759]
x=426
y=116
type=^IFTYPE_MODEL
width=32
height=32
model=3041
zoom=550
xan=400

[interface_716:760]
x=65
y=97
type=^IFTYPE_TEXT
width=9
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="A"
colour=0xFFFF00
shadowed=yes

[interface_716:761]
x=189
y=97
type=^IFTYPE_TEXT
width=9
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="A"
colour=0xFFFF00
shadowed=yes

[interface_716:762]
x=313
y=97
type=^IFTYPE_TEXT
width=9
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="A"
colour=0xFFFF00
shadowed=yes

[interface_716:763]
x=437
y=97
type=^IFTYPE_TEXT
width=9
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="A"
colour=0xFFFF00
shadowed=yes

[interface_716:764]
x=22
y=196
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
graphic="leftarrow,0"

[interface_716:765]
x=70
y=196
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
graphic="rightarrow,0"

[interface_716:766]
x=146
y=196
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
graphic="leftarrow,0"

[interface_716:767]
x=194
y=196
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
graphic="rightarrow,0"

[interface_716:768]
x=270
y=196
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
graphic="leftarrow,0"

[interface_716:769]
x=318
y=196
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
graphic="rightarrow,0"

[interface_716:770]
x=394
y=196
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
graphic="leftarrow,0"

[interface_716:771]
x=442
y=196
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
graphic="rightarrow,0"

[interface_716:772]
x=185
y=30
type=^IFTYPE_TEXT
width=147
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Combination Lock Door"
colour=0xFFFF00
shadowed=yes

[interface_716:773]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_716:774]
x=193
y=262
type=^IFTYPE_RECTANGLE
buttontype=^BUTTON
width=128
height=32
fill=yes
colour=0x404040

[interface_716:775]
x=227
y=269
type=^IFTYPE_TEXT
width=62
height=17
font=^QUILL
text="ENTER"
colour=0xFFFF00
shadowed=yes

