[interface_837]
type=^IFTYPE_LAYER
width=512
height=334

[interface_837:838]
x=239
y=145
type=^IFTYPE_MODEL
width=35
height=35
model=3035
zoom=525
xan=395

[interface_837:840]
x=34
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_840:839]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_840:837
graphic="leftarrow,0"

[interface_837:842]
x=432
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_842:841]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_842:837
graphic="rightarrow,0"

[interface_837:843]
x=60
y=80
type=^IFTYPE_TEXT
width=175
height=17
font=^QUILL
text="line1"

[interface_837:844]
x=58
y=96
type=^IFTYPE_TEXT
width=177
height=17
font=^QUILL
text="line2"

[interface_837:845]
x=56
y=112
type=^IFTYPE_TEXT
width=179
height=17
font=^QUILL
text="line3"

[interface_837:846]
x=54
y=128
type=^IFTYPE_TEXT
width=181
height=17
font=^QUILL
text="line4"

[interface_837:847]
x=51
y=144
type=^IFTYPE_TEXT
width=184
height=17
font=^QUILL
text="line5"

[interface_837:848]
x=49
y=160
type=^IFTYPE_TEXT
width=186
height=17
font=^QUILL
text="line6"

[interface_837:849]
x=47
y=176
type=^IFTYPE_TEXT
width=188
height=17
font=^QUILL
text="line7"

[interface_837:850]
x=45
y=192
type=^IFTYPE_TEXT
width=190
height=17
font=^QUILL
text="line8"

[interface_837:851]
x=42
y=208
type=^IFTYPE_TEXT
width=193
height=17
font=^QUILL
text="line9"

[interface_837:852]
x=40
y=224
type=^IFTYPE_TEXT
width=195
height=17
font=^QUILL
text="line10"

[interface_837:853]
x=38
y=240
type=^IFTYPE_TEXT
width=197
height=17
font=^QUILL
text="line11"

[interface_837:854]
x=283
y=80
type=^IFTYPE_TEXT
width=175
height=17
font=^QUILL
text="line12"

[interface_837:855]
x=283
y=96
type=^IFTYPE_TEXT
width=177
height=17
font=^QUILL
text="line13"

[interface_837:856]
x=283
y=112
type=^IFTYPE_TEXT
width=179
height=17
font=^QUILL
text="line14"

[interface_837:857]
x=283
y=128
type=^IFTYPE_TEXT
width=181
height=17
font=^QUILL
text="line15"

[interface_837:858]
x=283
y=144
type=^IFTYPE_TEXT
width=183
height=17
font=^QUILL
text="line16"

[interface_837:859]
x=283
y=160
type=^IFTYPE_TEXT
width=185
height=17
font=^QUILL
text="line17"

[interface_837:860]
x=283
y=176
type=^IFTYPE_TEXT
width=187
height=17
font=^QUILL
text="line18"

[interface_837:861]
x=283
y=192
type=^IFTYPE_TEXT
width=189
height=17
font=^QUILL
text="line19"

[interface_837:862]
x=283
y=208
type=^IFTYPE_TEXT
width=191
height=17
font=^QUILL
text="line20"

[interface_837:863]
x=283
y=224
type=^IFTYPE_TEXT
width=193
height=17
font=^QUILL
text="line21"

[interface_837:864]
x=283
y=240
type=^IFTYPE_TEXT
width=195
height=17
font=^QUILL
text="line22"

[interface_837:865]
x=12
y=20
type=^IFTYPE_LAYER
width=488
height=36

[interface_865:866]
x=94
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_865:837
graphic="tradebacking,0"

[interface_865:867]
x=182
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_865:837
graphic="tradebacking,0"

[interface_865:868]
x=270
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_865:837
graphic="tradebacking,0"

[interface_865:869]
x=358
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_865:837
graphic="tradebacking,0"

[interface_865:870]
x=394
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_865:837
graphic="tradebacking,0"

[interface_865:871]
x=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_865:837
graphic="tradebacking,0"

[interface_865:872]
x=60
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:873]
x=96
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:874]
x=132
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:875]
x=168
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:876]
x=204
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:877]
x=240
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:878]
x=276
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:879]
x=312
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:880]
x=348
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:881]
x=384
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:882]
x=420
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:883]
x=428
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:884]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_865:837
graphic="steelborder,0"

[interface_865:885]
x=60
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:886]
x=96
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:887]
x=132
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:888]
x=168
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:889]
x=204
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:890]
x=240
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:891]
x=276
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:892]
x=312
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:893]
x=348
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:894]
x=384
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:895]
x=420
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:896]
x=25
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:897]
x=463
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_865:837
graphic="steelborder,1"

[interface_865:898]
x=427
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="steelborder2,0"

[interface_865:899]
x=463
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_865:837
graphic="steelborder,3"

[interface_865:900]
x=25
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_865:837
graphic="miscgraphics,3"

[interface_865:901]
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_865:837
graphic="steelborder,2"

[interface_837:902]
x=422
y=33
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_837:903]
x=248
y=30
type=^IFTYPE_TEXT
width=19
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="%1"
colour=0xFFFF00
shadowed=yes

