[interface_994]
type=^IFTYPE_LAYER
width=512
height=334

[interface_994:995]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:996]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:997]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:998]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:999]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1000]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1001]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1002]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1003]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1004]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1005]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1006]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1007]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1008]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1009]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1010]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1011]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1012]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1013]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1014]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1015]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1016]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1017]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1018]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1019]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1020]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1021]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1022]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1023]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1024]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_994:1025]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_994:1026]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_994:1027]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_994:1028]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_994:1029]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_994:1030]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_994:1031]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_994:1032]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_994:1033]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_994:1034]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_994:1035]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_994:1036]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_994:1037]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_994:1038]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_994:1039]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_994:1040]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1041]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1042]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1043]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1044]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1045]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1046]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1047]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1048]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1049]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1050]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1051]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1052]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1053]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1054]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1055]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1056]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1057]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1058]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1059]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1060]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1061]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1062]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1063]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1064]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1065]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_994:1066]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_994:1067]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1068]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_994:1069]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_994:1070]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1071]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1072]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1073]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1074]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1075]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1076]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1077]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1078]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1079]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1080]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1081]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1082]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_994:1083]
x=116
y=191
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=9
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Warhammer"
activecolour=0xFFFFFF

[interface_994:1084]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_994:1085]
x=18
y=141
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=4
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Sword"
activecolour=0xFFFFFF

[interface_994:1086]
x=18
y=241
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=6
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Long sword"
activecolour=0xFFFFFF

[interface_994:1087]
x=18
y=191
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=5
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Scimitar"
activecolour=0xFFFFFF

[interface_994:1088]
x=18
y=291
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=14
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="2 hand sword"
activecolour=0xFFFFFF

[interface_994:1089]
x=73
y=219
type=^IFTYPE_TEXT
width=34
height=14
scriptc1=3
scriptv1=1
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="2bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1090]
x=73
y=269
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1091]
x=116
y=91
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=1
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Axe"
activecolour=0xFFFFFF

[interface_994:1092]
x=116
y=241
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=10
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Battle axe"
activecolour=0xFFFFFF

[interface_994:1093]
x=116
y=141
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Mace"
activecolour=0xFFFFFF

[interface_994:1094]
x=18
y=91
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Dagger"
activecolour=0xFFFFFF

[interface_994:1095]
x=171
y=219
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1097]
x=410
y=209
type=^IFTYPE_LAYER
width=80
height=46

[interface_1097:1096]
y=32
type=^IFTYPE_TEXT
width=80
height=14
layer=interface_1097:994
scriptc1=3
scriptv1=4
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="other"
activecolour=0xFFFFFF

[interface_1097:1132]
x=55
y=10
type=^IFTYPE_TEXT
width=25
height=14
layer=interface_1097:994
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1098]
x=214
y=91
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=11
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Chain body"
activecolour=0xFFFFFF

[interface_994:1099]
x=214
y=141
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=16
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Plate legs"
activecolour=0xFFFFFF

[interface_994:1100]
x=214
y=191
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=16
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Plate skirt"
activecolour=0xFFFFFF

[interface_994:1101]
x=214
y=241
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=18
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Plate body"
activecolour=0xFFFFFF

[interface_994:1102]
x=312
y=91
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=3
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Medium helm"
activecolour=0xFFFFFF

[interface_994:1103]
x=312
y=141
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=7
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Full helm"
activecolour=0xFFFFFF

[interface_994:1104]
x=312
y=191
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=8
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Square shield"
activecolour=0xFFFFFF

[interface_994:1105]
x=312
y=241
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=12
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Kite shield"
activecolour=0xFFFFFF

[interface_994:1106]
x=406
y=191
type=^IFTYPE_TEXT
width=88
height=14
scriptc1=3
scriptv1=7
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Throwing knives"
activecolour=0xFFFFFF

[interface_994:1107]
x=410
y=91
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=4
scriptc2=1
scriptv2=1
script1op1=5
script1op2=211
script1op3=0
script2op1=5
script2op2=261
script2op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Dart tips"
activecolour=0xFFFFFF

[interface_994:1108]
x=410
y=141
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=5
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Arrow heads"
activecolour=0xFFFFFF

[interface_994:1109]
x=269
y=69
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1110]
x=269
y=119
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1111]
x=269
y=169
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1112]
x=269
y=219
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=4
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="5bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1113]
x=367
y=119
type=^IFTYPE_TEXT
width=34
height=14
scriptc1=3
scriptv1=1
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="2bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1114]
x=367
y=169
type=^IFTYPE_TEXT
width=34
height=14
scriptc1=3
scriptv1=1
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="2bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1115]
x=367
y=219
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1116]
x=73
y=169
type=^IFTYPE_TEXT
width=34
height=14
scriptc1=3
scriptv1=1
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="2bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1117]
x=12
y=30
type=^IFTYPE_TEXT
width=488
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="What would you like to make?"
colour=0xFFFF00
shadowed=yes

[interface_994:1118]
x=171
y=169
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1119]
x=42
y=60
type=^IFTYPE_INVENTORY
width=1
height=5
xof=66
yof=18
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_994:1120]
x=140
y=60
type=^IFTYPE_INVENTORY
width=1
height=5
xof=66
yof=18
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_994:1121]
x=238
y=60
type=^IFTYPE_INVENTORY
width=1
height=5
xof=66
yof=18
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_994:1122]
x=336
y=60
type=^IFTYPE_INVENTORY
width=1
height=5
xof=66
yof=18
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_994:1123]
x=434
y=60
type=^IFTYPE_INVENTORY
width=1
height=5
xof=66
yof=18
invoption1="Make set"
invoption2="Make 5 sets"
invoption3="Make 10 sets"

[interface_994:1124]
x=73
y=119
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1125]
x=73
y=69
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1126]
x=171
y=69
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1127]
x=367
y=69
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1128]
x=465
y=69
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1129]
x=171
y=119
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1130]
x=465
y=119
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1131]
x=465
y=169
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_994:1133]
x=410
y=259
type=^IFTYPE_LAYER
width=80
height=46

[interface_1133:1134]
y=32
type=^IFTYPE_TEXT
width=80
height=14
layer=interface_1133:994
scriptc1=3
scriptv1=4
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Studs"
activecolour=0xFFFFFF

[interface_1133:1135]
x=55
y=10
type=^IFTYPE_TEXT
width=25
height=14
layer=interface_1133:994
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

