[interface_100:0]
x=135
y=16
type=^IFTYPE_MODEL
width=35
height=32
model=2644
zoom=624
xan=521
yan=1288

[interface_100:1]
x=4
y=2
type=^IFTYPE_TEXT
width=58
height=14
font=^PLAIN
text="GnomeBall"
colour=0xFFFF00
shadowed=yes

[interface_100:2]
x=4
y=22
type=^IFTYPE_TEXT
width=35
height=14
font=^PLAIN
text="Score:"
colour=0x00FF99
shadowed=yes

[interface_100:3]
x=4
y=43
type=^IFTYPE_TEXT
width=81
height=14
font=^PLAIN
text="Choose Action"
colour=0x00C000
shadowed=yes

[interface_100:4]
x=4
y=60
type=^IFTYPE_LAYER
width=145
height=190

[interface_100:5]
x=25
y=115
type=^IFTYPE_GRAPHIC
buttontype=^TARGET
circumfix="Tackle"
optionflags=10
width=25
height=39
layer=interface_100:4
graphic="gnomeball_buttons,2"

[interface_100:6]
x=25
y=15
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=39
layer=interface_100:4
option="Shoot"
graphic="gnomeball_buttons,1"

[interface_100:7]
x=25
y=65
type=^IFTYPE_GRAPHIC
buttontype=^TARGET
circumfix="Pass to"
optionflags=10
width=25
height=39
layer=interface_100:4
graphic="gnomeball_buttons,0"

[interface_100:8]
x=78
y=25
type=^IFTYPE_TEXT
width=33
height=14
layer=interface_100:4
font=^PLAIN
text="Shoot"
colour=0xFFFF00
shadowed=yes

[interface_100:9]
x=78
y=75
type=^IFTYPE_TEXT
width=28
height=14
layer=interface_100:4
font=^PLAIN
text="Pass"
colour=0xFFFF00
shadowed=yes

[interface_100:10]
x=78
y=125
type=^IFTYPE_TEXT
width=34
height=14
layer=interface_100:4
font=^PLAIN
text="Tackle"
colour=0xFFFF00
shadowed=yes

[interface_100:11]
x=42
y=22
type=^IFTYPE_TEXT
width=17
height=14
script1op1=5
script1op2=143
script1op3=0
font=^PLAIN
text="%1"
colour=0x00FF99
shadowed=yes

