[interface_103:0]
x=16
y=8
type=^IFTYPE_INVENTORY
width=4
height=7
invdummy=yes
xof=10
yof=4
invoption1="Store 1"
invoption2="Store 5"
invoption3="Store10"
invoption4="StoreAll"
invoption5="Store X"

