[interface_111:0]
x=19
y=6
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=83
script1op3=0
activegraphic="prayerglow,0"

[interface_111:1]
x=79
y=6
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=84
script1op3=0
activegraphic="prayerglow,0"

[interface_111:2]
x=139
y=6
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=85
script1op3=0
activegraphic="prayerglow,0"

[interface_111:3]
x=19
y=42
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=86
script1op3=0
activegraphic="prayerglow,0"

[interface_111:4]
x=79
y=42
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=87
script1op3=0
activegraphic="prayerglow,0"

[interface_111:5]
x=139
y=42
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=88
script1op3=0
activegraphic="prayerglow,0"

[interface_111:6]
x=19
y=78
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=89
script1op3=0
activegraphic="prayerglow,0"

[interface_111:7]
x=79
y=78
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=90
script1op3=0
activegraphic="prayerglow,0"

[interface_111:8]
x=139
y=78
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=91
script1op3=0
activegraphic="prayerglow,0"

[interface_111:9]
x=19
y=114
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=92
script1op3=0
activegraphic="prayerglow,0"

[interface_111:10]
x=79
y=114
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=93
script1op3=0
activegraphic="prayerglow,0"

[interface_111:11]
x=139
y=114
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=94
script1op3=0
activegraphic="prayerglow,0"

[interface_111:12]
x=19
y=150
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=95
script1op3=0
activegraphic="prayerglow,0"

[interface_111:13]
x=79
y=150
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=96
script1op3=0
activegraphic="prayerglow,0"

[interface_111:14]
x=139
y=150
type=^IFTYPE_GRAPHIC
buttontype=^TOGGLE
width=34
height=34
scriptc1=1
scriptv1=1
script1op1=5
script1op2=97
script1op3=0
activegraphic="prayerglow,0"

[interface_111:15]
x=3
y=178
type=^IFTYPE_LAYER
width=186
height=88

[interface_111:16]
x=6
y=187
type=^IFTYPE_RECTANGLE
width=178
height=72
colour=0x726451

[interface_111:17]
x=7
y=188
type=^IFTYPE_RECTANGLE
width=176
height=70
colour=0x726451

[interface_111:18]
x=7
y=188
type=^IFTYPE_RECTANGLE
width=177
height=71
colour=0x2E2B23

[interface_111:19]
x=8
y=189
type=^IFTYPE_RECTANGLE
width=174
height=68
fill=yes

[interface_111:20]
x=21
y=8
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:37
scriptc1=3
scriptv1=0
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,0"
activegraphic="prayeron,0"

[interface_111:21]
x=81
y=8
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:41
scriptc1=3
scriptv1=3
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,1"
activegraphic="prayeron,1"

[interface_111:22]
x=141
y=8
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:45
scriptc1=3
scriptv1=6
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,2"
activegraphic="prayeron,2"

[interface_111:23]
x=21
y=44
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:49
scriptc1=3
scriptv1=9
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,3"
activegraphic="prayeron,3"

[interface_111:24]
x=81
y=44
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:53
scriptc1=3
scriptv1=12
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,4"
activegraphic="prayeron,4"

[interface_111:25]
x=141
y=44
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:57
scriptc1=3
scriptv1=15
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,5"
activegraphic="prayeron,5"

[interface_111:26]
x=21
y=80
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:61
scriptc1=3
scriptv1=18
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,6"
activegraphic="prayeron,6"

[interface_111:27]
x=81
y=80
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:65
scriptc1=3
scriptv1=21
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,7"
activegraphic="prayeron,7"

[interface_111:28]
x=141
y=80
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:69
scriptc1=3
scriptv1=24
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,8"
activegraphic="prayeron,8"

[interface_111:29]
x=21
y=116
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:73
scriptc1=3
scriptv1=27
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,9"
activegraphic="prayeron,9"

[interface_111:30]
x=81
y=116
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:77
scriptc1=3
scriptv1=30
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,10"
activegraphic="prayeron,10"

[interface_111:31]
x=141
y=116
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:81
scriptc1=3
scriptv1=33
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,11"
activegraphic="prayeron,11"

[interface_111:32]
x=21
y=152
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:85
scriptc1=3
scriptv1=36
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,12"
activegraphic="prayeron,12"

[interface_111:33]
x=81
y=152
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:89
scriptc1=3
scriptv1=39
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,13"
activegraphic="prayeron,13"

[interface_111:34]
x=141
y=152
type=^IFTYPE_GRAPHIC
width=30
height=30
overlayer=interface_111:93
scriptc1=3
scriptv1=42
script1op1=2
script1op2=5
script1op3=0
graphic="prayeroff,14"
activegraphic="prayeron,14"

[interface_111:35]
x=8
y=223
type=^IFTYPE_TEXT
width=174
height=14
script1op1=1
script1op2=5
script1op3=0
script2op1=2
script2op2=5
script2op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Prayer: %1/%2"
colour=0xFFFF00

[interface_111:36]
x=83
y=192
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,4"

[interface_111:37]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:38]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:37
fill=yes

[interface_111:39]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:37
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 1\nThick Skin"
colour=0xFFFF00
shadowed=yes

[interface_111:40]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:37
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Increases your defence by 5%"
colour=0x6B6F33
shadowed=yes

[interface_111:41]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:42]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:41
fill=yes

[interface_111:43]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:41
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 4\nBurst of Strength"
colour=0xFFFF00
shadowed=yes

[interface_111:44]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:41
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Increases your strength by 5%"
colour=0x6B6F33
shadowed=yes

[interface_111:45]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:46]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:45
fill=yes

[interface_111:47]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:45
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 7\nClarity of Thought"
colour=0xFFFF00
shadowed=yes

[interface_111:48]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:45
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Increases your attack by 5%"
colour=0x6B6F33
shadowed=yes

[interface_111:49]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:50]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:49
fill=yes

[interface_111:51]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:49
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 10\nRock Skin"
colour=0xFFFF00
shadowed=yes

[interface_111:52]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:49
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Increases your defence by 10%"
colour=0x6B6F33
shadowed=yes

[interface_111:53]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:54]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:53
fill=yes

[interface_111:55]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:53
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 13\nSuperhuman Strength"
colour=0xFFFF00
shadowed=yes

[interface_111:56]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:53
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Increases your strength by 10%"
colour=0x6B6F33
shadowed=yes

[interface_111:57]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:58]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:57
fill=yes

[interface_111:59]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:57
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 16\nImproved Reflexes"
colour=0xFFFF00
shadowed=yes

[interface_111:60]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:57
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Increases your attack by 10%"
colour=0x6B6F33
shadowed=yes

[interface_111:61]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:62]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:61
fill=yes

[interface_111:63]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:61
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 19\nRapid Restore"
colour=0xFFFF00
shadowed=yes

[interface_111:64]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=20
layer=interface_111:61
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="2x restore rate for all stats\nexcept hitpoints and prayer"
colour=0x6B6F33
shadowed=yes

[interface_111:65]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:66]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:65
fill=yes

[interface_111:67]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:65
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 22\nRapid Heal"
colour=0xFFFF00
shadowed=yes

[interface_111:68]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:65
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="2x restore rate for hitpoints stat"
colour=0x6B6F33
shadowed=yes

[interface_111:69]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:70]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:69
fill=yes

[interface_111:71]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:69
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 25\nProtect Items"
colour=0xFFFF00
shadowed=yes

[interface_111:72]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:69
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Keep 1 extra item if you die"
colour=0x6B6F33
shadowed=yes

[interface_111:73]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:74]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:73
fill=yes

[interface_111:75]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:73
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 28\nSteel Skin"
colour=0xFFFF00
shadowed=yes

[interface_111:76]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:73
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Increases your defence by 15%"
colour=0x6B6F33
shadowed=yes

[interface_111:77]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:78]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:77
fill=yes

[interface_111:79]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:77
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 31\nUltimate Strength"
colour=0xFFFF00
shadowed=yes

[interface_111:80]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:77
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Increases your strength by 15%"
colour=0x6B6F33
shadowed=yes

[interface_111:81]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:82]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:81
fill=yes

[interface_111:83]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:81
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 34\nIncredible Reflexes"
colour=0xFFFF00
shadowed=yes

[interface_111:84]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:81
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Increases your attack by 15%"
colour=0x6B6F33
shadowed=yes

[interface_111:85]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:86]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:85
fill=yes

[interface_111:87]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:85
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 37\nProtect from Magic"
colour=0xFFFF00
shadowed=yes

[interface_111:88]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:85
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Protection from magical attacks"
colour=0x6B6F33
shadowed=yes

[interface_111:89]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:90]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:89
fill=yes

[interface_111:91]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:89
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 40\nProtect From Missiles"
colour=0xFFFF00
shadowed=yes

[interface_111:92]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:89
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Protection from ranged attacks"
colour=0x6B6F33
shadowed=yes

[interface_111:93]
x=5
y=184
type=^IFTYPE_LAYER
width=182
height=76
hide=yes

[interface_111:94]
x=3
y=5
type=^IFTYPE_RECTANGLE
width=174
height=68
layer=interface_111:93
fill=yes

[interface_111:95]
x=3
y=8
type=^IFTYPE_TEXT
width=174
height=26
layer=interface_111:93
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Level 43\nProtect from Melee"
colour=0xFFFF00
shadowed=yes

[interface_111:96]
x=3
y=41
type=^IFTYPE_TEXT
width=174
height=11
layer=interface_111:93
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Protection from close attacks"
colour=0x6B6F33
shadowed=yes

