[interface_1136]
type=^IFTYPE_LAYER
width=512
height=334

[interface_1136:1137]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_1136:1138]
x=239
y=155
type=^IFTYPE_MODEL
width=32
height=32
model=3033
zoom=525
xan=490

[interface_1136:1139]
x=82
y=82
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1140]
x=82
y=98
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1141]
x=82
y=114
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1142]
x=82
y=131
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1143]
x=82
y=148
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1144]
x=82
y=165
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1145]
x=82
y=182
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1146]
x=82
y=199
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1147]
x=82
y=216
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1148]
x=82
y=233
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1149]
x=82
y=250
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_1136:1150]
x=82
y=267
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

