[interface_114:0]
x=3
y=20
type=^IFTYPE_LAYER
clientcode=503
width=168
height=204
scrollheight=400

[interface_114:1]
x=7
y=8
type=^IFTYPE_TEXT
clientcode=401
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:2]
x=7
y=23
type=^IFTYPE_TEXT
clientcode=402
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:3]
x=7
y=38
type=^IFTYPE_TEXT
clientcode=403
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:4]
x=7
y=53
type=^IFTYPE_TEXT
clientcode=404
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:5]
x=7
y=68
type=^IFTYPE_TEXT
clientcode=405
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:6]
x=7
y=83
type=^IFTYPE_TEXT
clientcode=406
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:7]
x=7
y=98
type=^IFTYPE_TEXT
clientcode=407
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:8]
x=7
y=113
type=^IFTYPE_TEXT
clientcode=408
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:9]
x=7
y=128
type=^IFTYPE_TEXT
clientcode=409
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:10]
x=7
y=143
type=^IFTYPE_TEXT
clientcode=410
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:11]
x=7
y=158
type=^IFTYPE_TEXT
clientcode=411
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:12]
x=7
y=173
type=^IFTYPE_TEXT
clientcode=412
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:13]
x=7
y=188
type=^IFTYPE_TEXT
clientcode=413
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:14]
x=7
y=203
type=^IFTYPE_TEXT
clientcode=414
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:15]
x=7
y=218
type=^IFTYPE_TEXT
clientcode=415
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:16]
x=7
y=233
type=^IFTYPE_TEXT
clientcode=416
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:17]
x=7
y=248
type=^IFTYPE_TEXT
clientcode=417
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:18]
x=7
y=263
type=^IFTYPE_TEXT
clientcode=418
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:19]
x=7
y=278
type=^IFTYPE_TEXT
clientcode=419
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:20]
x=7
y=293
type=^IFTYPE_TEXT
clientcode=420
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:21]
x=7
y=308
type=^IFTYPE_TEXT
clientcode=421
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:22]
x=7
y=323
type=^IFTYPE_TEXT
clientcode=422
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:23]
x=7
y=338
type=^IFTYPE_TEXT
clientcode=423
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:24]
x=7
y=353
type=^IFTYPE_TEXT
clientcode=424
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:25]
x=7
y=368
type=^IFTYPE_TEXT
clientcode=425
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:26]
x=7
y=383
type=^IFTYPE_TEXT
clientcode=426
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:27]
x=7
y=398
type=^IFTYPE_TEXT
clientcode=427
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:28]
x=7
y=413
type=^IFTYPE_TEXT
clientcode=428
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:29]
x=7
y=428
type=^IFTYPE_TEXT
clientcode=429
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:30]
x=7
y=443
type=^IFTYPE_TEXT
clientcode=430
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:31]
x=7
y=458
type=^IFTYPE_TEXT
clientcode=431
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:32]
x=7
y=473
type=^IFTYPE_TEXT
clientcode=432
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:33]
x=7
y=488
type=^IFTYPE_TEXT
clientcode=433
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:34]
x=7
y=503
type=^IFTYPE_TEXT
clientcode=434
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:35]
x=7
y=518
type=^IFTYPE_TEXT
clientcode=435
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:36]
x=7
y=533
type=^IFTYPE_TEXT
clientcode=436
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:37]
x=7
y=548
type=^IFTYPE_TEXT
clientcode=437
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:38]
x=7
y=563
type=^IFTYPE_TEXT
clientcode=438
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:39]
x=7
y=578
type=^IFTYPE_TEXT
clientcode=439
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:40]
x=7
y=593
type=^IFTYPE_TEXT
clientcode=440
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:41]
x=7
y=608
type=^IFTYPE_TEXT
clientcode=441
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:42]
x=7
y=623
type=^IFTYPE_TEXT
clientcode=442
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:43]
x=7
y=638
type=^IFTYPE_TEXT
clientcode=443
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:44]
x=7
y=653
type=^IFTYPE_TEXT
clientcode=444
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:45]
x=7
y=668
type=^IFTYPE_TEXT
clientcode=445
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:46]
x=7
y=683
type=^IFTYPE_TEXT
clientcode=446
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:47]
x=7
y=698
type=^IFTYPE_TEXT
clientcode=447
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:48]
x=7
y=713
type=^IFTYPE_TEXT
clientcode=448
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:49]
x=7
y=728
type=^IFTYPE_TEXT
clientcode=449
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:50]
x=7
y=743
type=^IFTYPE_TEXT
clientcode=450
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:51]
x=7
y=758
type=^IFTYPE_TEXT
clientcode=451
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:52]
x=7
y=773
type=^IFTYPE_TEXT
clientcode=452
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:53]
x=7
y=788
type=^IFTYPE_TEXT
clientcode=453
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:54]
x=7
y=803
type=^IFTYPE_TEXT
clientcode=454
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:55]
x=7
y=818
type=^IFTYPE_TEXT
clientcode=455
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:56]
x=7
y=833
type=^IFTYPE_TEXT
clientcode=456
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:57]
x=7
y=848
type=^IFTYPE_TEXT
clientcode=457
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:58]
x=7
y=863
type=^IFTYPE_TEXT
clientcode=458
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:59]
x=7
y=878
type=^IFTYPE_TEXT
clientcode=459
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:60]
x=7
y=893
type=^IFTYPE_TEXT
clientcode=460
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:61]
x=7
y=908
type=^IFTYPE_TEXT
clientcode=461
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:62]
x=7
y=923
type=^IFTYPE_TEXT
clientcode=462
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:63]
x=7
y=938
type=^IFTYPE_TEXT
clientcode=463
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:64]
x=7
y=953
type=^IFTYPE_TEXT
clientcode=464
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:65]
x=7
y=968
type=^IFTYPE_TEXT
clientcode=465
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:66]
x=7
y=983
type=^IFTYPE_TEXT
clientcode=466
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:67]
x=7
y=998
type=^IFTYPE_TEXT
clientcode=467
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:68]
x=7
y=1013
type=^IFTYPE_TEXT
clientcode=468
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:69]
x=7
y=1028
type=^IFTYPE_TEXT
clientcode=469
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:70]
x=7
y=1043
type=^IFTYPE_TEXT
clientcode=470
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:71]
x=7
y=1058
type=^IFTYPE_TEXT
clientcode=471
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:72]
x=7
y=1073
type=^IFTYPE_TEXT
clientcode=472
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:73]
x=7
y=1088
type=^IFTYPE_TEXT
clientcode=473
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:74]
x=7
y=1103
type=^IFTYPE_TEXT
clientcode=474
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:75]
x=7
y=1118
type=^IFTYPE_TEXT
clientcode=475
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:76]
x=7
y=1133
type=^IFTYPE_TEXT
clientcode=476
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:77]
x=7
y=1148
type=^IFTYPE_TEXT
clientcode=477
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:78]
x=7
y=1163
type=^IFTYPE_TEXT
clientcode=478
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:79]
x=7
y=1178
type=^IFTYPE_TEXT
clientcode=479
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:80]
x=7
y=1193
type=^IFTYPE_TEXT
clientcode=480
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:81]
x=7
y=1208
type=^IFTYPE_TEXT
clientcode=481
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:82]
x=7
y=1223
type=^IFTYPE_TEXT
clientcode=482
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:83]
x=7
y=1238
type=^IFTYPE_TEXT
clientcode=483
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:84]
x=7
y=1253
type=^IFTYPE_TEXT
clientcode=484
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:85]
x=7
y=1268
type=^IFTYPE_TEXT
clientcode=485
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:86]
x=7
y=1283
type=^IFTYPE_TEXT
clientcode=486
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:87]
x=7
y=1298
type=^IFTYPE_TEXT
clientcode=487
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:88]
x=7
y=1313
type=^IFTYPE_TEXT
clientcode=488
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:89]
x=7
y=1328
type=^IFTYPE_TEXT
clientcode=489
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:90]
x=7
y=1343
type=^IFTYPE_TEXT
clientcode=490
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:91]
x=7
y=1358
type=^IFTYPE_TEXT
clientcode=491
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:92]
x=7
y=1373
type=^IFTYPE_TEXT
clientcode=492
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:93]
x=7
y=1388
type=^IFTYPE_TEXT
clientcode=493
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:94]
x=7
y=1403
type=^IFTYPE_TEXT
clientcode=494
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:95]
x=7
y=1418
type=^IFTYPE_TEXT
clientcode=495
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:96]
x=7
y=1433
type=^IFTYPE_TEXT
clientcode=496
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:97]
x=7
y=1448
type=^IFTYPE_TEXT
clientcode=497
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:98]
x=7
y=1463
type=^IFTYPE_TEXT
clientcode=498
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:99]
x=7
y=1478
type=^IFTYPE_TEXT
clientcode=499
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:100]
x=7
y=1493
type=^IFTYPE_TEXT
clientcode=500
width=153
height=14
layer=interface_114:0
font=^PLAIN
colour=0xFFFFFF
shadowed=yes

[interface_114:101]
x=51
y=4
type=^IFTYPE_TEXT
width=68
height=14
font=^BOLD
text="Ignore list"
colour=0xFFFF00
shadowed=yes

[interface_114:102]
x=15
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=501
width=72
height=36
option="Add friend"
graphic="combatboxes,0"

[interface_114:103]
x=95
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=502
width=72
height=36
option="Delete friend"
graphic="combatboxes,0"

[interface_114:104]
x=23
y=234
type=^IFTYPE_TEXT
width=56
height=14
font=^PLAIN
text="Add Name"
colour=0xFFFF00
activecolour=0xFFFFFF
shadowed=yes

[interface_114:105]
x=105
y=234
type=^IFTYPE_TEXT
width=51
height=14
font=^PLAIN
text="Del Name"
colour=0xFFFF00
activecolour=0xFFFFFF
shadowed=yes

[interface_114:106]
x=3
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_114:107]
x=146
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_114:108]
x=3
y=194
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_114:109]
x=146
y=194
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_114:110]
x=28
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_114:111]
x=64
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_114:112]
x=100
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_114:113]
x=112
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_114:114]
x=150
y=50

[interface_114:115]
x=150
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_114:116]
x=150
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_114:117]
x=150
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_114:118]
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_114:119]
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_114:120]
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_114:121]
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_114:122]
x=28
y=203
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_114:123]
x=64
y=203
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_114:124]
x=100
y=203
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_114:125]
x=111
y=203
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

