[interface_119:0]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:1]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:2]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:3]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:4]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:5]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:6]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:7]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:8]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:9]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:10]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:11]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:12]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:13]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:14]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:15]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:16]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:17]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_119:18]
x=12
y=77
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_119:19]
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_119:20]
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_119:21]
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_119:22]
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_119:23]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_119:24]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_119:25]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_119:26]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_119:27]
x=33
y=54
type=^IFTYPE_MODEL
width=435
height=273
model=3182
zoom=603
xan=1548
yan=1022

[interface_119:28]
x=55
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:29]
x=125
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:30]
x=160
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:31]
x=195
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:32]
x=230
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:33]
x=265
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:34]
x=300
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:35]
x=335
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:36]
x=370
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:37]
x=405
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:38]
x=90
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:39]
x=71
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:40]
x=106
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:41]
x=141
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:42]
x=176
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:43]
x=211
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:44]
x=246
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:45]
x=281
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:46]
x=316
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:47]
x=351
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:48]
x=386
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:49]
x=421
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:50]
x=248
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:51]
x=36
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:52]
x=20
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:53]
x=12
y=230
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_119:54]
x=475
y=77
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_119:55]
x=456
y=62
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:56]
x=475
y=230
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_119:57]
x=440
y=239
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_119:58]
x=421
y=85
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_119:59]
x=283
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:60]
x=318
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:61]
x=353
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:62]
x=388
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:63]
x=423
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:64]
x=458
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:65]
x=213
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:66]
x=178
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:67]
x=143
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:68]
x=108
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:69]
x=73
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:70]
x=38
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:71]
x=16
y=90
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_119:72]
x=58
y=142
type=^IFTYPE_TEXT
clientcode=650
width=401
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="You last logged in 3 days ago from bighouse.onthehill.webcompany.com"
colour=0xFFFFFF
shadowed=yes

[interface_119:73]
x=172
y=83
type=^IFTYPE_TEXT
width=159
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Welcome to RuneScape"
colour=0xFFFF00
shadowed=yes

[interface_119:74]
x=79
y=207
type=^IFTYPE_TEXT
width=62
height=17
font=^QUILL
text="You have"
colour=0xFFFFFF
shadowed=yes

[interface_119:75]
x=148
y=207
type=^IFTYPE_TEXT
clientcode=651
width=129
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="0 unread messages"
colour=0x00FF00
shadowed=yes

[interface_119:76]
x=287
y=207
type=^IFTYPE_TEXT
width=164
height=17
font=^QUILL
text="in your message centre."
colour=0xFFFFFF
shadowed=yes

[interface_119:77]
x=94
y=176
type=^IFTYPE_TEXT
width=327
height=17
font=^QUILL
text="Jagex staff will NEVER email you. We use the"
colour=0xFFFFFF
shadowed=yes

[interface_119:78]
x=130
y=192
type=^IFTYPE_TEXT
width=259
height=17
font=^QUILL
text="message-centre on this website instead."
colour=0xFFFFFF
shadowed=yes

