[interface_131:0]
x=73
y=15
type=^IFTYPE_TEXT
width=390
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_131:1]
x=73
y=44
type=^IFTYPE_TEXT
width=390
height=18
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_131:2]
x=93
y=74
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

[interface_131:3]
x=65
y=38
type=^IFTYPE_MODEL
width=32
height=32
model=2604
zoom=444
xan=234
yan=148

[interface_131:4]
x=27
y=29
type=^IFTYPE_MODEL
width=32
height=32
model=2602
zoom=330
xan=198
yan=1419

