[interface_132:0]
x=73
y=15
type=^IFTYPE_TEXT
width=390
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_132:1]
x=73
y=44
type=^IFTYPE_TEXT
width=390
height=18
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_132:2]
x=93
y=74
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

[interface_132:3]
x=34
y=37
type=^IFTYPE_MODEL
width=32
height=32
model=2339
zoom=598
xan=337
yan=1074

