[interface_134:0]
x=73
y=15
type=^IFTYPE_TEXT
width=390
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_134:1]
x=73
y=44
type=^IFTYPE_TEXT
width=390
height=18
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_134:2]
x=93
y=74
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

[interface_134:3]
x=30
y=24
type=^IFTYPE_MODEL
width=32
height=32
model=2376
zoom=496
xan=418
yan=14

[interface_134:4]
x=39
y=45
type=^IFTYPE_MODEL
width=32
height=32
model=2489
zoom=400
xan=353
yan=18

