[interface_137:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_137:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_137:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_137:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_137:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_137:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_137:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_137:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_137:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_137:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:48]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:49]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:50]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:51]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:52]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:53]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:54]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:55]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:56]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:57]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:58]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:59]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:60]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:61]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:62]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:63]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:64]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:65]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:66]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:67]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_137:68]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_137:69]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:70]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_137:71]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:72]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:73]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:74]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:75]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:76]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:77]
x=458
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:78]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:79]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:80]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:81]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:82]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:83]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:84]
x=37
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:85]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:86]
x=18
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:87]
x=19
y=55
type=^IFTYPE_LAYER
width=218
height=142
scrollheight=188

[interface_137:88]
x=42
y=2
type=^IFTYPE_TEXT
width=132
height=14
layer=interface_137:87
font=^PLAIN
text="You are about to stake:"
colour=0xAA8822
shadowed=yes

[interface_137:89]
x=50
y=29
type=^IFTYPE_INVENTORY_TEXT
width=2
height=14
layer=interface_137:87
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xAAAAAA
shadowed=yes
marginy=2

[interface_137:90]
x=109
y=29
type=^IFTYPE_INVENTORY_TEXT
width=1
height=10
layer=interface_137:87
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xAAAAAA
shadowed=yes
marginy=2

[interface_137:91]
x=55
y=17
type=^IFTYPE_TEXT
width=110
height=14
layer=interface_137:87
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Absolutely nothing!"
colour=0xAAAAAA
shadowed=yes

[interface_137:92]
x=260
y=55
type=^IFTYPE_LAYER
width=218
height=142
scrollheight=188

[interface_137:93]
x=109
y=28
type=^IFTYPE_INVENTORY_TEXT
width=1
height=10
layer=interface_137:92
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xAAAAAA
shadowed=yes
marginy=2

[interface_137:94]
x=37
y=1
type=^IFTYPE_TEXT
width=140
height=14
layer=interface_137:92
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Your opponent will stake:"
colour=0xAA8822
shadowed=yes

[interface_137:95]
x=49
y=28
type=^IFTYPE_INVENTORY_TEXT
width=2
height=14
layer=interface_137:92
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xAAAAAA
shadowed=yes
marginy=2

[interface_137:96]
x=52
y=16
type=^IFTYPE_TEXT
width=110
height=14
layer=interface_137:92
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Absolutely nothing!"
colour=0xAAAAAA
shadowed=yes

[interface_137:97]
x=139
y=29
type=^IFTYPE_TEXT
width=232
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Are you sure you want to fight this duel?"
colour=0xFFAA44
shadowed=yes

[interface_137:98]
x=298
y=270
type=^IFTYPE_TEXT
width=57
height=14
font=^PLAIN
text="Obstacles"
colour=0xAA8822
shadowed=yes

[interface_137:99]
x=425
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_137:100]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_137:101]
x=239
y=88
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:102]
x=239
y=52
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:103]
x=239
y=160
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:104]
x=239
y=124
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:105]
x=391
y=212
type=^IFTYPE_LAYER
width=78
height=42

[interface_137:106]
x=6
y=6
type=^IFTYPE_RECTANGLE
buttontype=^BUTTON
width=66
height=31
layer=interface_137:105
fill=yes

[interface_137:107]
x=21
y=14
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_137:105
font=^PLAIN
text="Accept"
colour=0x008000
overcolour=0x00FF00
shadowed=yes

[interface_137:108]
x=21
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_137:105
graphic="steelborder2,0"

[interface_137:109]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_137:105
graphic="steelborder,0"

[interface_137:110]
x=53
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_137:105
graphic="steelborder,1"

[interface_137:111]
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_137:105
graphic="steelborder,2"

[interface_137:112]
x=53
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_137:105
graphic="steelborder,3"

[interface_137:113]
x=21
y=22
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_137:105
graphic="miscgraphics,3"

[interface_137:114]
x=391
y=262
type=^IFTYPE_LAYER
width=78
height=43

[interface_137:115]
x=6
y=6
type=^IFTYPE_RECTANGLE
buttontype=^CLOSE
width=66
height=31
layer=interface_137:114
fill=yes

[interface_137:116]
x=20
y=14
type=^IFTYPE_TEXT
width=40
height=14
layer=interface_137:114
font=^PLAIN
text="Decline"
colour=0x800000
overcolour=0xFF0000
shadowed=yes

[interface_137:117]
x=21
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_137:114
graphic="steelborder2,0"

[interface_137:118]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_137:114
graphic="steelborder,0"

[interface_137:119]
x=53
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_137:114
graphic="steelborder,1"

[interface_137:120]
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_137:114
graphic="steelborder,2"

[interface_137:121]
x=53
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_137:114
graphic="steelborder,3"

[interface_137:122]
x=20
y=22
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_137:114
graphic="miscgraphics,3"

[interface_137:123]
x=61
y=210
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=57
height=14
font=^PLAIN
text="No Forfeit"
colour=0xAA8822
shadowed=yes

[interface_137:124]
x=188
y=250
type=^IFTYPE_TEXT
width=50
height=14
font=^PLAIN
text="No Magic"
colour=0xAA8822
shadowed=yes

[interface_137:125]
x=188
y=210
type=^IFTYPE_TEXT
width=60
height=14
font=^PLAIN
text="No Ranged"
colour=0xAA8822
shadowed=yes

[interface_137:126]
x=188
y=230
type=^IFTYPE_TEXT
width=51
height=14
font=^PLAIN
text="No Melee"
activetext=No Melee
colour=0xAA8822
shadowed=yes

[interface_137:127]
x=61
y=250
type=^IFTYPE_TEXT
width=69
height=14
font=^PLAIN
text="No Weapons"
colour=0xAA8822
shadowed=yes

[interface_137:128]
x=298
y=210
type=^IFTYPE_TEXT
width=61
height=14
font=^PLAIN
text="No Potions"
colour=0xAA8822
shadowed=yes

[interface_137:129]
x=298
y=230
type=^IFTYPE_TEXT
width=45
height=14
font=^PLAIN
text="No Food"
colour=0xAA8822
shadowed=yes

[interface_137:130]
x=298
y=250
type=^IFTYPE_TEXT
width=56
height=14
font=^PLAIN
text="No Prayer"
colour=0xAA8822
shadowed=yes

[interface_137:131]
x=61
y=230
type=^IFTYPE_TEXT
width=76
height=14
font=^PLAIN
text="No Movement"
colour=0xAA8822
shadowed=yes

[interface_137:132]
x=61
y=270
type=^IFTYPE_TEXT
width=59
height=14
font=^PLAIN
text="No Armour"
colour=0xAA8822
shadowed=yes

[interface_137:133]
x=18
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:134]
x=54
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:135]
x=90
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:136]
x=126
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:137]
x=162
y=182

[interface_137:138]
x=198
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:139]
x=234
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:140]
x=270
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:141]
x=306
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:142]
x=342
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:143]
x=378
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:144]
x=414
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:145]
x=450
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:146]
x=458
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_137:147]
x=36
y=210
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=0
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:148]
x=36
y=230
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=1
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:149]
x=36
y=250
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=2
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:150]
x=36
y=270
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=3
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:151]
x=162
y=210
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=4
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:152]
x=162
y=230
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=5
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:153]
x=162
y=250
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=6
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:154]
x=272
y=210
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=7
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:155]
x=272
y=230
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=8
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:156]
x=272
y=250
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=9
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:157]
x=272
y=270
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=10
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:158]
x=194
y=293
type=^IFTYPE_TEXT
width=130
height=11
font=^PLAIN_SMALL
text="Waiting for other player..."
colour=0xAAAAAA
shadowed=yes

[interface_137:159]
x=239
y=161
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_137:160]
x=188
y=270
type=^IFTYPE_TEXT
width=71
height=14
font=^PLAIN
text="Flower Power"
colour=0xAA8822
shadowed=yes

[interface_137:161]
x=162
y=270
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=12
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_137:162]
x=61
y=290
type=^IFTYPE_TEXT
width=61
height=14
font=^PLAIN
text="No Jewelry"
colour=0xAA8822
shadowed=yes

[interface_137:163]
x=36
y=290
type=^IFTYPE_GRAPHIC
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=11
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

