[interface_139:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_139:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_139:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_139:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_139:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_139:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_139:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_139:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_139:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_139:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_139:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_139:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_139:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_139:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_139:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_139:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_139:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:50]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:57]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:58]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:61]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_139:71]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_139:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_139:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_139:75]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:76]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:77]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:78]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:79]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:80]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:81]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:82]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:83]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:84]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:85]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:86]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:87]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:88]
x=36
y=20
type=^IFTYPE_LAYER
width=440
height=299

[interface_139:89]
x=203
y=71
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_139:88
graphic="miscgraphics,2"

[interface_139:90]
x=203
y=35
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_139:88
graphic="miscgraphics,2"

[interface_139:91]
x=203
y=143
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_139:88
graphic="miscgraphics,2"

[interface_139:92]
x=203
y=107
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_139:88
graphic="miscgraphics,2"

[interface_139:93]
x=203
y=143
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_139:88
graphic="miscgraphics,2"

[interface_139:94]
x=19
y=55
type=^IFTYPE_LAYER
width=218
height=142
scrollheight=216

[interface_139:95]
x=9
y=16
type=^IFTYPE_INVENTORY
width=5
height=6
layer=interface_139:94
xof=10
yof=1
invoption1="Remove 1"
invoption2="Remove 5"
invoption3="Remove 10"
invoption4="Remove All"
invoption5="Remove X"

[interface_139:96]
x=76
type=^IFTYPE_TEXT
width=64
height=14
layer=interface_139:94
font=^PLAIN
text="Your Stake:"
colour=0xAA8822
shadowed=yes

[interface_139:97]
x=258
y=55
type=^IFTYPE_LAYER
width=220
height=142
scrollheight=216

[interface_139:98]
x=9
y=16
type=^IFTYPE_INVENTORY
width=5
height=6
layer=interface_139:97
xof=10
yof=1

[interface_139:99]
x=62
type=^IFTYPE_TEXT
width=100
height=14
layer=interface_139:97
font=^PLAIN
text="Opponents Stake:"
colour=0xAA8822
shadowed=yes

[interface_139:100]
x=391
y=212
type=^IFTYPE_LAYER
width=78
height=42

[interface_139:101]
x=6
y=6
type=^IFTYPE_RECTANGLE
buttontype=^BUTTON
width=66
height=31
layer=interface_139:100
fill=yes

[interface_139:102]
x=21
y=14
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_139:100
font=^PLAIN
text="Accept"
colour=0x008000
overcolour=0x00FF00
shadowed=yes

[interface_139:103]
x=21
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_139:100
graphic="steelborder2,0"

[interface_139:104]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_139:100
graphic="steelborder,0"

[interface_139:105]
x=53
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_139:100
graphic="steelborder,1"

[interface_139:106]
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_139:100
graphic="steelborder,2"

[interface_139:107]
x=53
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_139:100
graphic="steelborder,3"

[interface_139:108]
x=21
y=22
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_139:100
graphic="miscgraphics,3"

[interface_139:109]
x=391
y=262
type=^IFTYPE_LAYER
width=78
height=43

[interface_139:110]
x=6
y=6
type=^IFTYPE_RECTANGLE
buttontype=^CLOSE
width=66
height=31
layer=interface_139:109
fill=yes

[interface_139:111]
x=20
y=14
type=^IFTYPE_TEXT
width=40
height=14
layer=interface_139:109
font=^PLAIN
text="Decline"
colour=0x800000
overcolour=0xFF0000
shadowed=yes

[interface_139:112]
x=21
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_139:109
graphic="steelborder2,0"

[interface_139:113]
x=22
y=22
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_139:109
graphic="miscgraphics,3"

[interface_139:114]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_139:109
graphic="steelborder,0"

[interface_139:115]
x=53
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_139:109
graphic="steelborder,1"

[interface_139:116]
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_139:109
graphic="steelborder,2"

[interface_139:117]
x=53
y=13
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_139:109
graphic="steelborder,3"

[interface_139:118]
x=21
y=29
type=^IFTYPE_TEXT
width=69
height=14
font=^PLAIN
text="Dueling with:"
colour=0xFFAA44
shadowed=yes

[interface_139:119]
x=194
y=293
type=^IFTYPE_TEXT
width=130
height=11
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Waiting for other player..."
colour=0xAAAAAA
shadowed=yes

[interface_139:120]
x=423
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_139:121]
x=61
y=210
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=57
height=14
font=^PLAIN
text="No Forfeit"
colour=0xAA8822
shadowed=yes

[interface_139:122]
x=188
y=250
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=50
height=14
font=^PLAIN
text="No Magic"
colour=0xAA8822
shadowed=yes

[interface_139:123]
x=188
y=210
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=60
height=14
font=^PLAIN
text="No Ranged"
colour=0xAA8822
shadowed=yes

[interface_139:124]
x=188
y=230
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=51
height=14
font=^PLAIN
text="No Melee"
colour=0xAA8822
shadowed=yes

[interface_139:125]
x=61
y=250
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=69
height=14
font=^PLAIN
text="No Weapons"
colour=0xAA8822
shadowed=yes

[interface_139:126]
x=298
y=210
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=61
height=14
font=^PLAIN
text="No Potions"
colour=0xAA8822
shadowed=yes

[interface_139:127]
x=298
y=230
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=45
height=14
font=^PLAIN
text="No Food"
colour=0xAA8822
shadowed=yes

[interface_139:128]
x=298
y=250
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=56
height=14
font=^PLAIN
text="No Prayer"
colour=0xAA8822
shadowed=yes

[interface_139:129]
x=61
y=230
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=76
height=14
font=^PLAIN
text="No Movement"
colour=0xAA8822
shadowed=yes

[interface_139:130]
x=61
y=270
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=59
height=14
font=^PLAIN
text="No Armour"
colour=0xAA8822
shadowed=yes

[interface_139:131]
x=18
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:132]
x=54
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:133]
x=90
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:134]
x=126
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:135]
x=162
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:136]
x=198
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:137]
x=234
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:138]
x=270
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:139]
x=306
y=182

[interface_139:140]
x=342
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:141]
x=378
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:142]
x=414
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:143]
x=450
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:144]
x=458
y=182
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_139:145]
x=36
y=210
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=0
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:146]
x=36
y=230
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=1
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:147]
x=36
y=250
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=2
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:148]
x=36
y=270
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=3
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:149]
x=162
y=210
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=4
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:150]
x=162
y=230
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=5
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:151]
x=162
y=250
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=6
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:152]
x=272
y=210
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=7
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:153]
x=272
y=230
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=8
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:154]
x=272
y=250
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=9
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:155]
x=298
y=270
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=57
height=14
font=^PLAIN
text="Obstacles"
colour=0xAA8822
shadowed=yes

[interface_139:156]
x=272
y=270
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=10
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:157]
x=61
y=290
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=61
height=14
font=^PLAIN
text="No Jewelry"
colour=0xAA8822
shadowed=yes

[interface_139:158]
x=188
y=270
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=71
height=14
font=^PLAIN
text="Flower Power"
colour=0xAA8822
shadowed=yes

[interface_139:159]
x=162
y=270
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=12
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:160]
x=36
y=290
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=14
height=15
scriptc1=1
scriptv1=1
script1op1=13
script1op2=286
script1op3=11
script1op4=0
graphic="miscgraphics,10"
activegraphic="miscgraphics,11"

[interface_139:161]
x=58
y=58
type=^IFTYPE_INVENTORY
width=4
height=3

