[interface_14:0]
x=21
y=13
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_14:1]
x=21
y=45
type=^IFTYPE_TEXT
width=442
height=18
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_14:2]
x=69
y=77
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

