[interface_147:0]
x=227
y=162
type=^IFTYPE_MODEL
width=32
height=32
model=3395
zoom=599
xan=520
yan=1

[interface_147:1]
x=430
y=8
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=74
height=14
font=^PLAIN
text="Close Window"
colour=0xFAD782
overcolour=0xFFFFFF
shadowed=yes

[interface_147:2]
x=150
y=229
type=^IFTYPE_MODEL
width=32
height=32
model=3388
zoom=531
xan=493
yan=18

[interface_147:3]
x=165
y=49
type=^IFTYPE_MODEL
width=32
height=32
model=3388
zoom=531
xan=527
yan=515

[interface_147:4]
x=340
y=62
type=^IFTYPE_MODEL
width=32
height=32
model=3388
zoom=531
xan=578
yan=1030

[interface_147:5]
x=321
y=245
type=^IFTYPE_MODEL
width=32
height=32
model=3388
zoom=531
xan=576
yan=1544

[interface_147:6]
x=141
y=28
type=^IFTYPE_LAYER
width=229
height=225

[interface_147:7]
x=76
y=125
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=437
yan=2030

[interface_147:8]
x=70
y=114
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=514
yan=481

[interface_147:9]
x=89
y=125
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=437
yan=2030

[interface_147:10]
x=70
y=102
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=514
yan=481

[interface_147:11]
x=70
y=91
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=514
yan=481

[interface_147:12]
x=70
y=80
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=514
yan=481

[interface_147:13]
x=70
y=69
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=514
yan=481

[interface_147:14]
x=142
y=28
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3389
zoom=1349
xan=474
yan=1775

[interface_147:15]
x=70
y=58
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=514
yan=481

[interface_147:16]
x=79
y=51
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=548
yan=970

[interface_147:17]
x=90
y=51
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=548
yan=970

[interface_147:18]
x=102
y=51
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=548
yan=970

[interface_147:19]
x=114
y=51
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=548
yan=970

[interface_147:20]
x=126
y=51
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=548
yan=970

[interface_147:21]
x=137
y=51
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=548
yan=970

[interface_147:22]
x=141
y=44
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=551
yan=517

[interface_147:23]
x=128
y=153
type=^IFTYPE_TEXT
width=11
height=11
layer=interface_147:6
font=^PLAIN_SMALL
text="1N"
colour=0x4C3D26

[interface_147:24]
x=104
y=74
type=^IFTYPE_TEXT
width=12
height=11
layer=interface_147:6
font=^PLAIN_SMALL
text="6E"
colour=0x4C3D26

[interface_147:25]
x=84
y=148
type=^IFTYPE_TEXT
width=16
height=11
layer=interface_147:6
font=^PLAIN_SMALL
text="2W"
colour=0x4C3D26

[interface_147:26]
x=66
y=102
type=^IFTYPE_TEXT
width=14
height=11
layer=interface_147:6
font=^PLAIN_SMALL
text="6N"
colour=0x4C3D26

[interface_147:27]
x=101
y=129
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:6
model=3400
zoom=1416
xan=608
yan=490

[interface_147:28]
x=158
y=96
type=^IFTYPE_LAYER
width=201
height=172

[interface_147:29]
x=136
y=25
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1075
xan=387
yan=3

[interface_147:30]
x=22
y=38
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=983
xan=387
yan=3

[interface_147:31]
x=13
y=75
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1062
xan=428
yan=177

[interface_147:32]
x=2
y=105
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1399
xan=463
yan=2

[interface_147:33]
x=10
y=126
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1794
xan=453
yan=1801

[interface_147:34]
x=29
y=135
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1727
xan=322
yan=1552

[interface_147:35]
x=66
y=123
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1972
xan=442
yan=1525

[interface_147:36]
x=101
y=136
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1972
xan=442
yan=1525

[interface_147:37]
x=136
y=149
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1972
xan=401
yan=1546

[interface_147:38]
x=163
y=137
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=3481
xan=401
yan=1546

[interface_147:39]
x=175
y=113
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1972
xan=410
yan=1030

[interface_147:40]
x=146
y=67
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1972
xan=410
yan=1030

[interface_147:41]
x=160
y=90
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=984
xan=418
yan=778

[interface_147:42]
x=48
y=128
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=2014
xan=370
yan=1312

[interface_147:43]
x=86
y=128
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1891
xan=478
yan=1752

[interface_147:44]
x=120
y=142
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1984
xan=483
yan=1773

[interface_147:45]
x=150
y=143
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=2440
xan=523
yan=1284

[interface_147:46]
x=172
y=129
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=2396
xan=484
yan=1183

[interface_147:47]
x=141
y=50
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_147:28
model=3398
zoom=1972
xan=455
yan=808

[interface_147:48]
x=244
y=172
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2322
xan=500

[interface_147:49]
x=279
y=144
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2220
xan=500

[interface_147:50]
x=298
y=190
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2321
xan=500

[interface_147:51]
x=281
y=220
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2087
xan=500

[interface_147:52]
x=299
y=220
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2321
xan=500

[interface_147:53]
x=315
y=206
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2087
xan=500

[interface_147:54]
x=252
y=211
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2321
xan=500

[interface_147:55]
x=262
y=156
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2087
xan=500

[interface_147:56]
x=282
y=117
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2087
xan=500

[interface_147:57]
x=247
y=102
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2220
xan=500

[interface_147:58]
x=215
y=189
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2419
xan=500

[interface_147:59]
x=192
y=144
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2419
xan=500

[interface_147:60]
x=191
y=129
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2581
xan=500

[interface_147:61]
x=227
y=105
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2087
xan=500

[interface_147:62]
x=227
y=121
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2220
xan=500

[interface_147:63]
x=156
y=133
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2087
xan=500

[interface_147:64]
x=200
y=168
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2419
xan=500

[interface_147:65]
x=199
y=155
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2581
xan=500

[interface_147:66]
x=214
y=177
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2581
xan=500

