[interface_151:0]
x=227
y=162
type=^IFTYPE_MODEL
width=32
height=32
model=3395
zoom=599
xan=520
yan=1

[interface_151:1]
x=430
y=8
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=74
height=14
font=^PLAIN
text="Close Window"
colour=0xFAD782
overcolour=0xFFFFFF
shadowed=yes

[interface_151:2]
x=174
y=55
type=^IFTYPE_LAYER
width=203
height=220

[interface_151:3]
x=102
y=91
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3389
zoom=1349
xan=474
yan=1775

[interface_151:4]
x=78
y=151
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=820
xan=397
yan=500

[interface_151:5]
x=139
y=96
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3398
zoom=915
xan=368
yan=2042

[interface_151:6]
x=86
y=187
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3398
zoom=744
xan=379
yan=515

[interface_151:7]
x=51
y=181
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=900
xan=431
yan=776

[interface_151:8]
x=121
y=181
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=900
xan=359
yan=262

[interface_151:9]
x=137
y=176
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=708
xan=397
yan=500

[interface_151:10]
x=19
y=176
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3398
zoom=744
xan=379
yan=515

[interface_151:11]
y=176
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3398
zoom=744
xan=379
yan=515

[interface_151:12]
x=155
y=176
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=708
xan=397
yan=500

[interface_151:13]
x=94
y=151
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=820
xan=397
yan=500

[interface_151:14]
x=122
y=133
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3398
zoom=885
xan=386
yan=247

[interface_151:15]
x=48
y=136
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=820
xan=397
yan=500

[interface_151:16]
x=17
y=144
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=820
xan=397
yan=500

[interface_151:17]
y=110
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=820
xan=615
yan=1021

[interface_151:18]
y=138
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=812
xan=246
yan=837

[interface_151:19]
x=61
y=142
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=845
xan=473
yan=790

[interface_151:20]
x=33
y=140
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=998
xan=345
yan=285

[interface_151:21]
x=118
y=60
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=820
xan=397
yan=500

[interface_151:22]
x=90
y=48
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=820
xan=397
yan=500

[interface_151:23]
x=4
y=55
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=820
xan=597
yan=1009

[interface_151:24]
x=34
y=47
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=820
xan=553
yan=493

[interface_151:25]
x=62
y=35
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=1338
xan=553
yan=493

[interface_151:26]
x=62
y=36
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=1338
xan=553
yan=493

[interface_151:27]
x=52
y=41
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=942
xan=595
yan=285

[interface_151:28]
x=73
y=41
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=942
xan=601
yan=762

[interface_151:29]
y=80
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3398
zoom=996
xan=406
yan=201

[interface_151:30]
y=126
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=777
xan=249
yan=845

[interface_151:31]
y=106
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=820
xan=615
yan=1021

[interface_151:32]
x=103
y=54
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=1019
xan=601
yan=762

[interface_151:33]
x=132
y=65
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3399
zoom=1019
xan=601
yan=762

[interface_151:34]
x=139
y=88
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_151:2
model=3398
zoom=915
xan=368
yan=2042

[interface_151:35]
x=150
y=229
type=^IFTYPE_MODEL
width=32
height=32
model=3388
zoom=531
xan=493
yan=18

[interface_151:36]
x=165
y=49
type=^IFTYPE_MODEL
width=32
height=32
model=3388
zoom=531
xan=527
yan=515

[interface_151:37]
x=340
y=62
type=^IFTYPE_MODEL
width=32
height=32
model=3388
zoom=531
xan=578
yan=1030

[interface_151:38]
x=321
y=245
type=^IFTYPE_MODEL
width=32
height=32
model=3388
zoom=531
xan=576
yan=1544

[interface_151:39]
x=166
y=240
type=^IFTYPE_MODEL
width=32
height=32
model=3386
zoom=682
xan=500

[interface_151:40]
x=188
y=242
type=^IFTYPE_MODEL
width=32
height=32
model=3386
zoom=682
xan=500

[interface_151:41]
x=210
y=241
type=^IFTYPE_MODEL
width=32
height=32
model=3386
zoom=682
xan=500

[interface_151:42]
x=220
y=249
type=^IFTYPE_MODEL
width=32
height=32
model=3386
zoom=682
xan=500

[interface_151:43]
x=246
y=250
type=^IFTYPE_MODEL
width=32
height=32
model=3386
zoom=682
xan=500

[interface_151:44]
x=281
y=250
type=^IFTYPE_MODEL
width=32
height=32
model=3386
zoom=682
xan=500

[interface_151:45]
x=306
y=249
type=^IFTYPE_MODEL
width=32
height=32
model=3386
zoom=682
xan=500

[interface_151:46]
x=317
y=240
type=^IFTYPE_MODEL
width=32
height=32
model=3386
zoom=682
xan=500

[interface_151:47]
x=170
y=187
type=^IFTYPE_MODEL
width=32
height=32
model=3386
zoom=524
xan=500

[interface_151:48]
x=223
y=210
type=^IFTYPE_MODEL
width=32
height=32
model=3397
zoom=1965
xan=500

[interface_151:49]
x=337
y=157
type=^IFTYPE_MODEL
width=32
height=32
model=3397
zoom=1965
xan=500

[interface_151:50]
x=252
y=146
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2036
xan=500

[interface_151:51]
x=268
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=1999
xan=495
yan=2017

[interface_151:52]
x=220
y=149
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2009
xan=518
yan=43

[interface_151:53]
x=239
y=123
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2080
xan=505
yan=18

[interface_151:54]
x=205
y=122
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=1971
xan=499
yan=2032

[interface_151:55]
x=179
y=144
type=^IFTYPE_MODEL
width=32
height=32
model=3391
zoom=2080
xan=505
yan=12

[interface_151:56]
x=191
y=171
type=^IFTYPE_MODEL
width=32
height=32
model=3401
zoom=2079
xan=501
yan=2034

[interface_151:57]
x=200
y=71
type=^IFTYPE_MODEL
width=32
height=32
model=3397
zoom=1969
xan=500

[interface_151:58]
x=164
y=83
type=^IFTYPE_MODEL
width=32
height=32
model=3397
zoom=2054
xan=500

[interface_151:59]
x=298
y=147
type=^IFTYPE_MODEL
width=32
height=32
model=3397
zoom=1965
xan=500

