[interface_1698]
type=^IFTYPE_LAYER
width=512
height=334

[interface_1698:1699]
x=135
y=16
type=^IFTYPE_MODEL
width=35
height=32
model=2778
zoom=624
xan=521
yan=1288

[interface_1698:1700]
x=4
y=10
type=^IFTYPE_TEXT
width=47
height=14
font=^PLAIN
text="Weapon:"
colour=0xFFFF00
shadowed=yes

[interface_1698:1701]
x=52
y=10
type=^IFTYPE_TEXT
width=17
height=14
font=^PLAIN
text="%1"
colour=0xFFFF00
shadowed=yes

[interface_1698:1702]
x=4
y=40
type=^IFTYPE_TEXT
width=114
height=14
font=^PLAIN
text="Choose Attack Style"
colour=0x00C000
shadowed=yes

[interface_1698:1703]
x=4
y=60
type=^IFTYPE_LAYER
width=145
height=190

[interface_1703:1704]
x=5
y=5
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_1703:1698
scriptc1=1
scriptv1=0
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_1703:1705]
x=5
y=143
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_1703:1698
scriptc1=1
scriptv1=3
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_1703:1706]
x=5
y=97
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_1703:1698
scriptc1=1
scriptv1=2
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_1703:1707]
x=5
y=51
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_1703:1698
scriptc1=1
scriptv1=1
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_1703:1708]
x=22
y=149
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_1703:1698
graphic="combaticons,0"

[interface_1703:1709]
x=22
y=11
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_1703:1698
graphic="combaticons,1"

[interface_1703:1710]
x=21
y=57
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_1703:1698
graphic="combaticons,2"

[interface_1703:1711]
x=22
y=103
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_1703:1698
graphic="combaticons,3"

[interface_1703:1712]
x=78
y=5
type=^IFTYPE_TEXT
width=25
height=11
layer=interface_1703:1698
font=^PLAIN_SMALL
text="Chop"
colour=0xFFFF00
shadowed=yes

[interface_1703:1713]
x=78
y=51
type=^IFTYPE_TEXT
width=23
height=11
layer=interface_1703:1698
font=^PLAIN_SMALL
text="Hack"
colour=0xFFFF00
shadowed=yes

[interface_1703:1714]
x=78
y=97
type=^IFTYPE_TEXT
width=32
height=11
layer=interface_1703:1698
font=^PLAIN_SMALL
text="Smash"
colour=0xFFFF00
shadowed=yes

[interface_1703:1715]
x=78
y=143
type=^IFTYPE_TEXT
width=26
height=11
layer=interface_1703:1698
font=^PLAIN_SMALL
text="Block"
colour=0xFFFF00
shadowed=yes

[interface_1703:1716]
x=78
y=18
type=^IFTYPE_TEXT
width=50
height=11
layer=interface_1703:1698
font=^PLAIN_SMALL
text="(Accurate)"
colour=0xFFFF00

[interface_1703:1717]
x=78
y=110
type=^IFTYPE_TEXT
width=64
height=11
layer=interface_1703:1698
font=^PLAIN_SMALL
text="(Aggressive)"
colour=0xFFFF00

[interface_1703:1718]
x=78
y=64
type=^IFTYPE_TEXT
width=64
height=11
layer=interface_1703:1698
font=^PLAIN_SMALL
text="(Aggressive)"
colour=0xFFFF00

[interface_1703:1719]
x=78
y=156
type=^IFTYPE_TEXT
width=58
height=11
layer=interface_1703:1698
font=^PLAIN_SMALL
text="(Defensive)"
colour=0xFFFF00

[interface_1698:1720]
x=82
y=90
type=^IFTYPE_TEXT
width=34
height=11
font=^PLAIN_SMALL
text="(Slash)"
colour=0xFFFF00

[interface_1698:1721]
x=82
y=136
type=^IFTYPE_TEXT
width=34
height=11
font=^PLAIN_SMALL
text="(Slash)"
colour=0xFFFF00

[interface_1698:1722]
x=82
y=182
type=^IFTYPE_TEXT
width=36
height=11
font=^PLAIN_SMALL
text="(Crush)"
colour=0xFFFF00

[interface_1698:1723]
x=82
y=228
type=^IFTYPE_TEXT
width=34
height=11
font=^PLAIN_SMALL
text="(Slash)"
colour=0xFFFF00

