[interface_17:0]
x=21
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_17:1]
x=21
y=16
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_17:2]
x=21
y=32
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line3"

[interface_17:3]
x=21
y=48
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line4"

[interface_17:4]
x=21
y=64
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line5"

[interface_17:5]
x=65
y=80
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

