[interface_1764]
type=^IFTYPE_LAYER
width=512
height=334

[interface_1764:1765]
x=135
y=16
type=^IFTYPE_MODEL
width=35
height=32
model=2778
zoom=624
xan=521
yan=1288

[interface_1764:1766]
x=4
y=10
type=^IFTYPE_TEXT
width=47
height=14
font=^PLAIN
text="Weapon:"
colour=0xFFFF00
shadowed=yes

[interface_1764:1767]
x=52
y=10
type=^IFTYPE_TEXT
width=17
height=14
font=^PLAIN
text="%1"
colour=0xFFFF00
shadowed=yes

[interface_1764:1768]
x=4
y=40
type=^IFTYPE_TEXT
width=114
height=14
font=^PLAIN
text="Choose Attack Style"
colour=0x00C000
shadowed=yes

[interface_1764:1769]
x=4
y=60
type=^IFTYPE_LAYER
width=145
height=190

[interface_1769:1770]
x=5
y=97
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_1769:1764
scriptc1=1
scriptv1=2
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_1769:1771]
x=5
y=51
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_1769:1764
scriptc1=1
scriptv1=1
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_1769:1772]
x=5
y=5
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_1769:1764
scriptc1=1
scriptv1=0
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_1769:1773]
x=22
y=103
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_1769:1764
graphic="combaticons2,17"

[interface_1769:1774]
x=21
y=11
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_1769:1764
graphic="combaticons2,15"

[interface_1769:1775]
x=22
y=57
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_1769:1764
graphic="combaticons2,16"

[interface_1769:1776]
x=78
y=15
type=^IFTYPE_TEXT
width=51
height=14
layer=interface_1769:1764
font=^PLAIN
text="Accurate"
colour=0xFFFF00
shadowed=yes

[interface_1769:1777]
x=78
y=60
type=^IFTYPE_TEXT
width=31
height=14
layer=interface_1769:1764
font=^PLAIN
text="Rapid"
colour=0xFFFF00
shadowed=yes

[interface_1769:1778]
x=78
y=107
type=^IFTYPE_TEXT
width=60
height=14
layer=interface_1769:1764
font=^PLAIN
text="Longrange"
colour=0xFFFF00
shadowed=yes

