[interface_18:0]
x=164
y=178
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_18:1]
y=178
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_18:2]
x=5
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=201
width=45
height=36
option="Add friend"
graphic="leftarrow,0"

[interface_18:3]
x=141
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=202
width=45
height=36
option="Delete friend"
graphic="rightarrow,0"

[interface_18:4]
x=73
y=236
type=^IFTYPE_TEXT
width=42
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="%1/%2"
colour=0xFFFF00
shadowed=yes

[interface_18:5]
x=5
y=4
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_18:6]
x=160
y=4
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_18:7]
x=5
y=192
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_18:8]
x=160
y=192
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_18:9]
x=30
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_18:10]
x=66
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_18:11]
x=102
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_18:12]
x=138
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_18:13]
x=164
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_18:14]
x=164
y=70
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_18:15]
x=164
y=106
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_18:16]
x=164
y=142
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_18:17]
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_18:18]
y=70

[interface_18:19]
y=106
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_18:20]
y=142
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_18:21]
x=16
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_18:22]
x=52
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_18:23]
x=88
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_18:24]
x=124
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_18:25]
x=13
y=148
type=^IFTYPE_LAYER
width=165
height=65

[interface_18:26]
y=4
type=^IFTYPE_RECTANGLE
width=9
height=9
layer=interface_18:25
fill=yes

[interface_18:27]
x=16
type=^IFTYPE_TEXT
width=36
height=14
layer=interface_18:25
font=^PLAIN
text="part1c"
colour=0xFFFF00
shadowed=yes

[interface_18:28]
x=16
y=16
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_18:25
font=^PLAIN
text="part2c"
colour=0xFFFF00
shadowed=yes

[interface_18:29]
x=16
y=32
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_18:25
font=^PLAIN
text="part3c"
colour=0xFFFF00
shadowed=yes

[interface_18:30]
x=16
y=48
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_18:25
font=^PLAIN
text="part4c"
colour=0xFFFF00
shadowed=yes

[interface_18:31]
x=13
y=12
type=^IFTYPE_LAYER
width=165
height=65

[interface_18:32]
y=4
type=^IFTYPE_RECTANGLE
width=9
height=9
layer=interface_18:31
fill=yes

[interface_18:33]
x=16
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_18:31
font=^PLAIN
text="part1a"
colour=0xFFFF00
shadowed=yes

[interface_18:34]
x=16
y=16
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_18:31
font=^PLAIN
text="part2a"
colour=0xFFFF00
shadowed=yes

[interface_18:35]
x=16
y=32
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_18:31
font=^PLAIN
text="part3a"
colour=0xFFFF00
shadowed=yes

[interface_18:36]
x=16
y=48
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_18:31
font=^PLAIN
text="part4a"
colour=0xFFFF00
shadowed=yes

[interface_18:37]
x=13
y=80
type=^IFTYPE_LAYER
width=165
height=65

[interface_18:38]
y=4
type=^IFTYPE_RECTANGLE
width=9
height=9
layer=interface_18:37
fill=yes

[interface_18:39]
x=16
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_18:37
font=^PLAIN
text="part1b"
colour=0xFFFF00
shadowed=yes

[interface_18:40]
x=16
y=16
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_18:37
font=^PLAIN
text="part2b"
colour=0xFFFF00
shadowed=yes

[interface_18:41]
x=16
y=32
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_18:37
font=^PLAIN
text="part3b"
colour=0xFFFF00
shadowed=yes

[interface_18:42]
x=16
y=48
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_18:37
font=^PLAIN
text="part4b"
colour=0xFFFF00
shadowed=yes

