[interface_188]
type=^IFTYPE_LAYER
width=512
height=334

[interface_188:189]
x=2
y=68
type=^IFTYPE_RECTANGLE
width=508
height=172
fill=yes
colour=0x202020

[interface_188:190]
x=6
y=72
type=^IFTYPE_RECTANGLE
width=499
height=164
fill=yes
colour=0x404040

[interface_188:191]
x=12
y=20
type=^IFTYPE_LAYER
width=488
height=36

[interface_191:192]
x=94
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_191:188
graphic="tradebacking,0"

[interface_191:193]
x=182
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_191:188
graphic="tradebacking,0"

[interface_191:194]
x=270
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_191:188
graphic="tradebacking,0"

[interface_191:195]
x=358
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_191:188
graphic="tradebacking,0"

[interface_191:196]
x=394
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_191:188
graphic="tradebacking,0"

[interface_191:197]
x=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_191:188
graphic="tradebacking,0"

[interface_191:198]
x=60
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:199]
x=96
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:200]
x=132
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:201]
x=168
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:202]
x=204
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:203]
x=240
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:204]
x=276
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:205]
x=312
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:206]
x=348
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:207]
x=384
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:208]
x=420
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:209]
x=428
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:210]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_191:188
graphic="steelborder,0"

[interface_191:211]
x=60
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:212]
x=96
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:213]
x=132
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:214]
x=168
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:215]
x=204
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:216]
x=240
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:217]
x=276
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:218]
x=312
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:219]
x=348
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:220]
x=384
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:221]
x=420
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:222]
x=25
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:223]
x=463
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_191:188
graphic="steelborder,1"

[interface_191:224]
x=427
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="steelborder2,0"

[interface_191:225]
x=463
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_191:188
graphic="steelborder,3"

[interface_191:226]
x=25
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_191:188
graphic="miscgraphics,3"

[interface_191:227]
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_191:188
graphic="steelborder,2"

[interface_188:228]
x=54
y=116
type=^IFTYPE_MODEL
width=32
height=32
model=3041
zoom=550
xan=400

[interface_188:229]
x=178
y=116
type=^IFTYPE_MODEL
width=32
height=32
model=3041
zoom=550
xan=400

[interface_188:230]
x=302
y=116
type=^IFTYPE_MODEL
width=32
height=32
model=3041
zoom=550
xan=400

[interface_188:231]
x=426
y=116
type=^IFTYPE_MODEL
width=32
height=32
model=3041
zoom=550
xan=400

[interface_188:232]
x=65
y=97
type=^IFTYPE_TEXT
width=9
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="A"
colour=0xFFFF00
shadowed=yes

[interface_188:233]
x=189
y=97
type=^IFTYPE_TEXT
width=9
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="A"
colour=0xFFFF00
shadowed=yes

[interface_188:234]
x=313
y=97
type=^IFTYPE_TEXT
width=9
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="A"
colour=0xFFFF00
shadowed=yes

[interface_188:235]
x=437
y=97
type=^IFTYPE_TEXT
width=9
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="A"
colour=0xFFFF00
shadowed=yes

[interface_188:236]
x=22
y=196
type=^IFTYPE_GRAPHIC
width=45
height=36
graphic="leftarrow,0"

[interface_188:237]
x=70
y=196
type=^IFTYPE_GRAPHIC
width=45
height=36
graphic="rightarrow,0"

[interface_188:238]
x=146
y=196
type=^IFTYPE_GRAPHIC
width=45
height=36
graphic="leftarrow,0"

[interface_188:239]
x=194
y=196
type=^IFTYPE_GRAPHIC
width=45
height=36
graphic="rightarrow,0"

[interface_188:240]
x=270
y=196
type=^IFTYPE_GRAPHIC
width=45
height=36
graphic="leftarrow,0"

[interface_188:241]
x=318
y=196
type=^IFTYPE_GRAPHIC
width=45
height=36
graphic="rightarrow,0"

[interface_188:242]
x=394
y=196
type=^IFTYPE_GRAPHIC
width=45
height=36
graphic="leftarrow,0"

[interface_188:243]
x=442
y=196
type=^IFTYPE_GRAPHIC
width=45
height=36
graphic="rightarrow,0"

[interface_188:244]
x=249
y=30
type=^IFTYPE_TEXT
width=19
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="%1"
colour=0xFFFF00
shadowed=yes

[interface_188:245]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

