[interface_20:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:20]
x=276
y=260

[interface_20:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_20:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_20:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_20:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_20:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_20:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_20:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_20:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_20:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_20:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_20:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_20:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_20:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_20:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_20:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_20:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_20:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:50]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:57]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:58]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:61]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_20:71]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_20:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_20:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_20:75]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:76]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:77]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:78]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:79]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:80]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:81]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:82]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:83]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:84]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:85]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:86]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:87]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_20:88]
x=244
y=296
type=^IFTYPE_MODEL
width=32
height=32
model=1451
zoom=360
xan=100
yan=1000

[interface_20:89]
x=253
y=172
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=0
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:90]
x=221
y=29
type=^IFTYPE_TEXT
width=79
height=14
font=^BOLD
text="Target View."
colour=0xFFFF00
shadowed=yes

[interface_20:91]
x=60
y=114
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=11
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_20:92]
x=256
y=131
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:93]
x=290
y=193
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:94]
x=247
y=233
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:95]
x=193
y=189
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:96]
x=191
y=90
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:97]
x=215
y=126
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:98]
x=298
y=101
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:99]
x=294
y=144
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:100]
x=328
y=163
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:101]
x=275
y=61
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_20:102]
x=54
y=86
type=^IFTYPE_TEXT
width=33
height=14
font=^PLAIN
text="Shots"
colour=0xFFFF00
shadowed=yes

[interface_20:103]
x=411
y=147
type=^IFTYPE_TEXT
width=35
height=14
font=^PLAIN
text="Score:"
colour=0xFFFF00
shadowed=yes

[interface_20:104]
x=420
y=169
type=^IFTYPE_TEXT
width=17
height=14
script1op1=5
script1op2=157
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="%1"
colour=0x00FF99
shadowed=yes

[interface_20:105]
x=90
y=86
type=^IFTYPE_TEXT
width=27
height=14
font=^PLAIN
text="Left:"
colour=0xFFFF00
shadowed=yes

[interface_20:106]
x=158
y=156
type=^IFTYPE_TEXT
width=14
height=14
font=^PLAIN
text="10"
colour=0x00FF99
shadowed=yes

[interface_20:107]
x=183
y=156
type=^IFTYPE_TEXT
width=16
height=14
font=^PLAIN
text="20"
colour=0x00CCFF
shadowed=yes

[interface_20:108]
x=207
y=156
type=^IFTYPE_TEXT
width=15
height=14
font=^PLAIN
text="30"
colour=0x00CC00
shadowed=yes

[interface_20:109]
x=231
y=156
type=^IFTYPE_TEXT
width=15
height=14
font=^PLAIN
text="50"
colour=0x0088FF
shadowed=yes

[interface_20:110]
x=90
y=114
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=10
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_20:111]
x=251
y=156
type=^IFTYPE_TEXT
width=22
height=14
font=^PLAIN
text="100"
colour=0xFF0000
shadowed=yes

[interface_20:112]
x=60
y=145
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=9
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_20:113]
x=90
y=145
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=8
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_20:114]
x=60
y=175
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=7
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_20:115]
x=90
y=175
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=6
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_20:116]
x=60
y=205
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=5
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_20:117]
x=90
y=205
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=4
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_20:118]
x=60
y=235
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=3
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_20:119]
x=90
y=235
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=2
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_20:120]
x=241
y=114
type=^IFTYPE_TEXT
width=50
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Missed!"
colour=0xFFFF00
shadowed=yes

[interface_20:121]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

