[interface_21:0]
x=239
y=145
type=^IFTYPE_MODEL
width=35
height=35
model=3035
zoom=525
xan=395

[interface_21:1]
x=300
y=80
type=^IFTYPE_LAYER
width=135
height=167
hide=yes

[interface_21:2]
type=^IFTYPE_TEXT
width=135
height=17
layer=interface_21:1
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Cocktail Index"
colour=0x000080

[interface_21:3]
y=30
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_21:1
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Blurberry Special"

[interface_21:4]
y=50
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_21:1
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Chocolate Saturday"

[interface_21:5]
y=70
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_21:1
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Drunk Dragon"

[interface_21:6]
y=90
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_21:1
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Fruit Blast"

[interface_21:7]
y=110
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_21:1
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Pineapple Punch"

[interface_21:8]
y=130
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_21:1
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Short Green Guy"

[interface_21:9]
y=150
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=17
layer=interface_21:1
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Wizard Blizzard"

[interface_21:10]
x=432
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_21:11]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_21:10
graphic="rightarrow,0"

[interface_21:12]
x=47
y=80
type=^IFTYPE_LAYER
width=409
height=209

[interface_21:13]
x=15
type=^IFTYPE_TEXT
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Gnome Bowls"
colour=0x000080

[interface_21:14]
x=12
y=32
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Chocolate Bomb"

[interface_21:15]
x=11
y=48
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Tangled Toad's Legs"

[interface_21:16]
x=10
y=64
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Worm Hole"

[interface_21:17]
x=9
y=80
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Veg Ball"

[interface_21:18]
x=6
y=112
type=^IFTYPE_TEXT
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Gnome Crunchies"
colour=0x000080

[interface_21:19]
x=3
y=144
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Worm Crunchies"

[interface_21:20]
x=2
y=160
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Choc Chip Crunchies"

[interface_21:21]
x=1
y=176

[interface_21:22]
y=192
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Toad Crunchies"

[interface_21:23]
x=239
type=^IFTYPE_TEXT
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Gnome Battas"
colour=0x000080

[interface_21:24]
x=242
y=32
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Worm Batta"

[interface_21:25]
x=243
y=48
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Toad's Legs Batta"

[interface_21:26]
x=244
y=64
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Cheese & Tomato Batta"

[interface_21:27]
x=245
y=80
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Fruit Batta"

[interface_21:28]
x=246
y=96
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=163
height=17
layer=interface_21:12
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Vegetable Batta"

[interface_21:29]
x=12
y=20
type=^IFTYPE_LAYER
width=488
height=36

[interface_21:30]
x=94
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_21:29
graphic="tradebacking,0"

[interface_21:31]
x=182
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_21:29
graphic="tradebacking,0"

[interface_21:32]
x=270
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_21:29
graphic="tradebacking,0"

[interface_21:33]
x=358
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_21:29
graphic="tradebacking,0"

[interface_21:34]
x=394
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_21:29
graphic="tradebacking,0"

[interface_21:35]
x=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_21:29
graphic="tradebacking,0"

[interface_21:36]
x=60
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:37]
x=96
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:38]
x=132
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:39]
x=168
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:40]
x=204
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:41]
x=240
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:42]
x=276
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:43]
x=312
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:44]
x=348
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:45]
x=384
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:46]
x=420
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:47]
x=428
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:48]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_21:29
graphic="steelborder,0"

[interface_21:49]
x=60
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:50]
x=96
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:51]
x=132
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:52]
x=168
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:53]
x=204
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:54]
x=240
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:55]
x=276
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:56]
x=312
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:57]
x=348
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:58]
x=384
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:59]
x=420
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:60]
x=25
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:61]
x=463
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_21:29
graphic="steelborder,1"

[interface_21:62]
x=427
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="steelborder2,0"

[interface_21:63]
x=463
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_21:29
graphic="steelborder,3"

[interface_21:64]
x=25
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_21:29
graphic="miscgraphics,3"

[interface_21:65]
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_21:29
graphic="steelborder,2"

[interface_21:66]
x=75
y=30
type=^IFTYPE_TEXT
width=360
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="The Blurberry Cocktail Guide"
colour=0xFFFF00
shadowed=yes

[interface_21:67]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

