[interface_2156]
type=^IFTYPE_LAYER
width=512
height=334

[interface_2156:2157]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2158]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2159]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2160]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2161]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2162]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2163]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2164]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2165]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2166]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2167]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2168]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2169]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2170]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2171]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2172]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2173]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2174]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2175]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2176]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2177]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2178]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2179]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2180]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2181]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2182]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2183]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2184]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2185]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2186]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2156:2187]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_2156:2188]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2156:2189]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2156:2190]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2156:2191]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2156:2192]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2156:2193]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2156:2194]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2156:2195]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2156:2196]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2156:2197]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2156:2198]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2156:2199]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2156:2200]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2156:2201]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2156:2202]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2203]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2204]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2205]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2206]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2207]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2208]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2209]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2210]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2211]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2212]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2213]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2214]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2215]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2216]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2217]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2218]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2219]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2220]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2221]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2222]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2223]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2224]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2225]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2226]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2227]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_2156:2228]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_2156:2229]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2230]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_2156:2231]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2232]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2233]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2234]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2235]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2236]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2237]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2238]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2239]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2240]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2241]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2242]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2243]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2244]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2245]
x=36
y=20
type=^IFTYPE_LAYER
width=440
height=299

[interface_2156:2248]
x=190
y=31
type=^IFTYPE_TEXT
width=112
height=14
font=^BOLD
text="Party Drop Chest"
colour=0x929CFE
shadowed=yes

[interface_2156:2249]
x=415
y=32
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_2156:2250]
x=39
y=61
type=^IFTYPE_LAYER
width=433
height=170
scrollheight=940

[interface_2250:2273]
x=13
y=18
type=^IFTYPE_INVENTORY
width=9
height=24
layer=interface_2250:2156
invdummy=yes
xof=15
yof=6

[interface_2156:2251]
x=30
y=263
type=^IFTYPE_LAYER
width=453
height=41

[interface_2251:2246]
x=385
y=3
type=^IFTYPE_RECTANGLE
buttontype=^BUTTON
width=68
height=25
layer=interface_2251:2156
fill=yes

[interface_2251:2247]
x=400
y=8
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_2251:2156
font=^PLAIN
text="Accept"
colour=0x929CFE
shadowed=yes

[interface_2251:2266]
x=103
type=^IFTYPE_TEXT
width=24
height=14
layer=interface_2251:2156
font=^PLAIN
text="Text"
colour=0xFFFF00
shadowed=yes

[interface_2251:2274]
x=6
y=1
type=^IFTYPE_INVENTORY
width=8
height=1
layer=interface_2251:2156
xof=15
yof=6
invoption1="Withdraw 1"
invoption2="Withdraw 5"
invoption3="Withdraw 10"
invoption4="Withdraw All"
invoption5="Withdraw X"

[interface_2156:2252]
x=16
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2253]
x=52
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2254]
x=124
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2255]
x=88
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2256]
x=412
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2257]
x=376
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2258]
x=340
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2259]
x=304
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2260]
x=160
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2261]
x=268
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2262]
x=232
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2263]
x=196
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2264]
x=448
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2265]
x=460
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2267]
x=409
y=267
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_2156:2268]
x=409
y=261
type=^IFTYPE_GRAPHIC
width=4
height=29
graphic="steelborder,0"

[interface_2156:2269]
x=463
y=261
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_2156:2270]
x=433
y=276
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2156:2271]
x=463
y=267
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_2156:2272]
x=433
y=246
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2156:2275]
x=87
y=301
type=^IFTYPE_TEXT
width=305
height=11
font=^PLAIN_SMALL
text="(Once you press Accept items can't be taken out of the chest!)"
colour=0x808080

