[interface_24:0]
x=135
y=16
type=^IFTYPE_MODEL
width=35
height=32
model=2778
zoom=624
xan=521
yan=1288

[interface_24:1]
x=4
y=10
type=^IFTYPE_TEXT
width=47
height=14
font=^PLAIN
text="Weapon:"
colour=0xFFFF00
shadowed=yes

[interface_24:2]
x=52
y=10
type=^IFTYPE_TEXT
width=17
height=14
font=^PLAIN
text="%1"
colour=0xFFFF00
shadowed=yes

[interface_24:3]
x=4
y=40
type=^IFTYPE_TEXT
width=114
height=14
font=^PLAIN
text="Choose Attack Style"
colour=0x00C000
shadowed=yes

[interface_24:4]
x=4
y=60
type=^IFTYPE_LAYER
width=145
height=190

[interface_24:5]
x=5
y=5
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_24:4
scriptc1=1
scriptv1=0
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_24:6]
x=5
y=143
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_24:4
scriptc1=1
scriptv1=3
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_24:7]
x=5
y=97
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_24:4
scriptc1=1
scriptv1=2
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_24:8]
x=5
y=51
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_24:4
scriptc1=1
scriptv1=1
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_24:9]
x=22
y=149
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_24:4
graphic="combaticons2,8"

[interface_24:10]
x=22
y=57
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_24:4
graphic="combaticons2,9"

[interface_24:11]
x=22
y=103
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_24:4
graphic="combaticons2,18"

[interface_24:12]
x=24
y=11
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_24:4
graphic="combaticons2,19"

[interface_24:13]
x=78
y=5
type=^IFTYPE_TEXT
width=25
height=11
layer=interface_24:4
font=^PLAIN_SMALL
text="Reap"
colour=0xFFFF00
shadowed=yes

[interface_24:14]
x=78
y=51
type=^IFTYPE_TEXT
width=25
height=11
layer=interface_24:4
font=^PLAIN_SMALL
text="Chop"
colour=0xFFFF00
shadowed=yes

[interface_24:15]
x=78
y=97
type=^IFTYPE_TEXT
width=18
height=11
layer=interface_24:4
font=^PLAIN_SMALL
text="Jab"
colour=0xFFFF00
shadowed=yes

[interface_24:16]
x=78
y=143
type=^IFTYPE_TEXT
width=26
height=11
layer=interface_24:4
font=^PLAIN_SMALL
text="Block"
colour=0xFFFF00
shadowed=yes

[interface_24:17]
x=78
y=18
type=^IFTYPE_TEXT
width=50
height=11
layer=interface_24:4
font=^PLAIN_SMALL
text="(Accurate)"
colour=0xFFFF00

[interface_24:18]
x=78
y=110
type=^IFTYPE_TEXT
width=64
height=11
layer=interface_24:4
font=^PLAIN_SMALL
text="(Aggressive)"
colour=0xFFFF00

[interface_24:19]
x=78
y=64
type=^IFTYPE_TEXT
width=64
height=11
layer=interface_24:4
font=^PLAIN_SMALL
text="(Aggressive)"
colour=0xFFFF00

[interface_24:20]
x=78
y=156
type=^IFTYPE_TEXT
width=58
height=11
layer=interface_24:4
font=^PLAIN_SMALL
text="(Defensive)"
colour=0xFFFF00

[interface_24:21]
x=82
y=90
type=^IFTYPE_TEXT
width=34
height=11
font=^PLAIN_SMALL
text="(Slash)"
colour=0xFFFF00

[interface_24:22]
x=82
y=136
type=^IFTYPE_TEXT
width=29
height=11
font=^PLAIN_SMALL
text="(Stab)"
colour=0xFFFF00

[interface_24:23]
x=82
y=182
type=^IFTYPE_TEXT
width=36
height=11
font=^PLAIN_SMALL
text="(Crush)"
colour=0xFFFF00

[interface_24:24]
x=82
y=228

