[interface_2469]
type=^IFTYPE_LAYER
width=512
height=334

[interface_2469:2470]
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

[interface_2469:2471]
y=23
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option1"
overcolour=0x00C000

[interface_2469:2472]
y=47
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option2"
overcolour=0x00C000

[interface_2469:2473]
y=71
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option3"
overcolour=0x00C000

[interface_2469:2476]
x=126
y=1
type=^IFTYPE_LAYER
width=229
height=13

[interface_2476:2474]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2476:2469
graphic="sworddecor,1"

[interface_2476:2475]
x=172
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2476:2469
graphic="sworddecor,0"

[interface_2469:2479]
x=2
y=1
type=^IFTYPE_LAYER
width=476
height=13
hide=yes

[interface_2479:2477]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2479:2469
graphic="sworddecor,1"

[interface_2479:2478]
x=419
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_2479:2469
graphic="sworddecor,0"

