[interface_26:0]
x=239
y=145
type=^IFTYPE_MODEL
width=35
height=35
model=3035
zoom=525
xan=395

[interface_26:1]
x=34
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_26:2]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_26:1
graphic="leftarrow,0"

[interface_26:3]
x=432
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_26:4]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_26:3
graphic="rightarrow,0"

[interface_26:5]
x=60
y=80
type=^IFTYPE_TEXT
width=175
height=17
font=^QUILL
text="line1"

[interface_26:6]
x=58
y=96
type=^IFTYPE_TEXT
width=177
height=17
font=^QUILL
text="line2"

[interface_26:7]
x=56
y=112
type=^IFTYPE_TEXT
width=179
height=17
font=^QUILL
text="line3"

[interface_26:8]
x=54
y=128
type=^IFTYPE_TEXT
width=181
height=17
font=^QUILL
text="line4"

[interface_26:9]
x=51
y=144
type=^IFTYPE_TEXT
width=184
height=17
font=^QUILL
text="line5"

[interface_26:10]
x=49
y=160
type=^IFTYPE_TEXT
width=186
height=17
font=^QUILL
text="line6"

[interface_26:11]
x=47
y=176
type=^IFTYPE_TEXT
width=188
height=17
font=^QUILL
text="line7"

[interface_26:12]
x=45
y=192
type=^IFTYPE_TEXT
width=190
height=17
font=^QUILL
text="line8"

[interface_26:13]
x=42
y=208
type=^IFTYPE_TEXT
width=193
height=17
font=^QUILL
text="line9"

[interface_26:14]
x=40
y=224
type=^IFTYPE_TEXT
width=195
height=17
font=^QUILL
text="line10"

[interface_26:15]
x=38
y=240
type=^IFTYPE_TEXT
width=197
height=17
font=^QUILL
text="line11"

[interface_26:16]
x=283
y=80
type=^IFTYPE_TEXT
width=175
height=17
font=^QUILL
text="line12"

[interface_26:17]
x=283
y=96
type=^IFTYPE_TEXT
width=177
height=17
font=^QUILL
text="line13"

[interface_26:18]
x=283
y=112
type=^IFTYPE_TEXT
width=179
height=17
font=^QUILL
text="line14"

[interface_26:19]
x=283
y=128
type=^IFTYPE_TEXT
width=181
height=17
font=^QUILL
text="line15"

[interface_26:20]
x=283
y=144
type=^IFTYPE_TEXT
width=183
height=17
font=^QUILL
text="line16"

[interface_26:21]
x=283
y=160
type=^IFTYPE_TEXT
width=185
height=17
font=^QUILL
text="line17"

[interface_26:22]
x=283
y=176
type=^IFTYPE_TEXT
width=187
height=17
font=^QUILL
text="line18"

[interface_26:23]
x=283
y=192
type=^IFTYPE_TEXT
width=189
height=17
font=^QUILL
text="line19"

[interface_26:24]
x=283
y=208
type=^IFTYPE_TEXT
width=191
height=17
font=^QUILL
text="line20"

[interface_26:25]
x=283
y=224
type=^IFTYPE_TEXT
width=193
height=17
font=^QUILL
text="line21"

[interface_26:26]
x=283
y=240

[interface_26:27]
x=12
y=20
type=^IFTYPE_LAYER
width=488
height=36

[interface_26:28]
x=94
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_26:27
graphic="tradebacking,0"

[interface_26:29]
x=182
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_26:27
graphic="tradebacking,0"

[interface_26:30]
x=270
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_26:27
graphic="tradebacking,0"

[interface_26:31]
x=358
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_26:27
graphic="tradebacking,0"

[interface_26:32]
x=394
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_26:27
graphic="tradebacking,0"

[interface_26:33]
x=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_26:27
graphic="tradebacking,0"

[interface_26:34]
x=60
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:35]
x=96
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:36]
x=132
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:37]
x=168
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:38]
x=204
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:39]
x=240
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:40]
x=276
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:41]
x=312
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:42]
x=348
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:43]
x=384
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:44]
x=420
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:45]
x=428
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:46]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_26:27
graphic="steelborder,0"

[interface_26:47]
x=60
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:48]
x=96
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:49]
x=132
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:50]
x=168
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:51]
x=204
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:52]
x=240
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:53]
x=276
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:54]
x=312
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:55]
x=348
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:56]
x=384
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:57]
x=420
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:58]
x=25
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:59]
x=463
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_26:27
graphic="steelborder,1"

[interface_26:60]
x=427
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="steelborder2,0"

[interface_26:61]
x=463
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_26:27
graphic="steelborder,3"

[interface_26:62]
x=25
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_26:27
graphic="miscgraphics,3"

[interface_26:63]
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_26:27
graphic="steelborder,2"

[interface_26:64]
x=422
y=33
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_26:65]
x=248
y=30
type=^IFTYPE_TEXT
width=19
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="%1"
colour=0xFFFF00
shadowed=yes

