[interface_2653]
type=^IFTYPE_LAYER
width=512
height=334

[interface_2653:2654]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2655]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2656]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2657]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2658]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2659]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2660]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2661]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2662]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2663]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2664]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2665]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2666]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2667]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2668]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2669]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2670]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2671]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2672]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2673]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2674]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2675]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2676]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2677]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2678]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2679]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2680]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2681]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2682]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2683]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_2653:2684]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_2653:2685]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2653:2686]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2653:2687]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2653:2688]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2653:2689]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2653:2690]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2653:2691]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_2653:2692]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2653:2693]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2653:2694]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2653:2695]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2653:2696]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2653:2697]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2653:2698]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_2653:2699]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2700]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2701]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2702]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2703]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2704]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2705]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2706]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2707]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2708]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2709]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2710]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2711]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2712]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2713]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2714]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2715]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2716]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2717]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2718]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2719]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2720]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2721]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2722]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2723]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2724]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_2653:2725]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_2653:2726]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2727]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_2653:2728]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_2653:2729]
x=190
y=30
type=^IFTYPE_TEXT
width=130
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Hairdressers' Salon"
colour=0xFFFF00
shadowed=yes

[interface_2653:2730]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_2653:2731]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2732]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2733]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2734]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2735]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2736]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2737]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2738]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2739]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2740]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2741]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2742]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2743]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_2653:2744]
x=65
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=1200
yan=200

[interface_2653:2745]
x=150
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=49
zoom=1200
yan=200

[interface_2653:2746]
x=235
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=52
zoom=1200
yan=200

[interface_2653:2747]
x=320
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=55
zoom=1200
yan=200

[interface_2653:2748]
x=405
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=59
zoom=1200
yan=200

[interface_2653:2749]
x=65
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=53
zoom=1200
yan=200

[interface_2653:2750]
x=150
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=67
zoom=1200
yan=200

[interface_2653:2751]
x=235
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=46
zoom=1200
yan=200

[interface_2653:2752]
x=320
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=45
zoom=1200
yan=200

[interface_2653:2753]
x=390
y=290
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=55
height=14
font=^BOLD
text="CONFIRM"
colour=0x00FF00
overcolour=0xFF0000
shadowed=yes

[interface_2653:2754]
x=134
y=259
type=^IFTYPE_RECTANGLE
width=243
height=23
fill=yes

[interface_2653:2755]
x=135
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x494034

[interface_2653:2756]
x=155
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xD6D1D1

[interface_2653:2757]
x=175
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x76756C

[interface_2653:2758]
x=195
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x2F2A2A

[interface_2653:2759]
x=215
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xCB823E

[interface_2653:2760]
x=235
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xCDAD53

[interface_2653:2761]
x=255
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x885F29

[interface_2653:2762]
x=275
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x50321E

[interface_2653:2763]
x=295
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x008383

[interface_2653:2764]
x=315
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x008300

[interface_2653:2765]
x=335
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x9F2800

[interface_2653:2766]
x=355
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xBE00C0

[interface_2653:2767]
x=198
y=233
type=^IFTYPE_TEXT
width=114
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Please select colour"
colour=0xFFFF00
shadowed=yes

[interface_2653:2768]
x=85
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2653:2769]
x=170
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2653:2770]
x=260
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2653:2771]
x=345
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2653:2772]
x=430
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2653:2773]
x=85
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2653:2774]
x=170
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2653:2775]
x=260
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2653:2776]
x=340
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_2653:2777]
x=135
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=1
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2778]
x=155
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=2
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2779]
x=175
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=3
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2780]
x=195
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=4
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2781]
x=215
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=5
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2782]
x=235
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=6
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2783]
x=255
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=7
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2784]
x=275
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=8
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2785]
x=295
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=9
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2786]
x=315
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=10
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2787]
x=335
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=11
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2788]
x=355
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=12
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_2653:2789]
x=55
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0

[interface_2653:2790]
x=141
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0

[interface_2653:2791]
x=224
y=82
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0

[interface_2653:2792]
x=310
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0

[interface_2653:2793]
x=394
y=84
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0

[interface_2653:2794]
x=54
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0

[interface_2653:2795]
x=137
y=162
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0

[interface_2653:2796]
x=224
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0

[interface_2653:2797]
x=307
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=9
script1op1=5
script1op2=261
script1op3=0

