[interface_3023]
type=^IFTYPE_LAYER
width=512
height=334

[interface_3023:3024]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_3023:3025]
x=239
y=155
type=^IFTYPE_MODEL
width=32
height=32
model=3044
zoom=525

[interface_3023:3026]
x=82
y=82
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3027]
x=82
y=98
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3028]
x=82
y=114
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3029]
x=82
y=131
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3030]
x=82
y=148
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3031]
x=82
y=165
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3032]
x=82
y=182
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3033]
x=82
y=199
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3034]
x=82
y=216
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3035]
x=82
y=233
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3036]
x=82
y=250
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_3023:3037]
x=82
y=267
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

