[interface_3038]
type=^IFTYPE_LAYER
width=512
height=334

[interface_3038:3039]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3040]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3041]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3042]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3043]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3044]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3045]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3046]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3047]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3048]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3049]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3050]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3051]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3052]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3053]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3054]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3055]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3056]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3057]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3058]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3059]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3060]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3061]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3062]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3063]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3064]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3065]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3066]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3067]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3068]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3038:3069]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_3038:3070]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3038:3071]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3038:3072]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3038:3073]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3038:3074]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3038:3075]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3038:3076]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3038:3077]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3038:3078]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3038:3079]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3038:3080]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3038:3081]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3038:3082]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3038:3083]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3038:3084]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3085]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3086]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3087]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3088]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3089]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3090]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3091]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3092]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3093]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3094]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3095]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3096]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3097]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3098]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3099]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3100]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3101]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3102]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3103]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3104]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3105]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3106]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3107]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3108]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3109]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_3038:3110]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_3038:3111]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3112]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_3038:3113]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3038:3114]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3115]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3116]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3117]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3118]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3119]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3120]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3121]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3122]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3123]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3124]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3125]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3126]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3038:3127]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_3038:3128]
x=154
y=30
type=^IFTYPE_TEXT
width=199
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Thessalias' Makeovers (Torso)"
colour=0xFFFF00
shadowed=yes

[interface_3038:3129]
x=59
y=249
type=^IFTYPE_RECTANGLE
width=403
height=28
fill=yes

[interface_3038:3130]
x=60
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=263
script1op3=0
option="Khaki"
fill=yes
colour=0x7B6E32

[interface_3038:3131]
x=85
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=263
script1op3=0
option="Black"
fill=yes
colour=0x262323

[interface_3038:3132]
x=110
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=263
script1op3=0
option="Crimson"
fill=yes
colour=0x752F3B

[interface_3038:3133]
x=135
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=263
script1op3=0
option="Navy"
fill=yes
colour=0x3B3B4E

[interface_3038:3134]
x=160
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=263
script1op3=0
option="Straw"
fill=yes
colour=0xAA9045

[interface_3038:3135]
x=185
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=263
script1op3=0
option="White"
fill=yes
colour=0xBEB89C

[interface_3038:3136]
x=210
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=263
script1op3=0
option="Red"
fill=yes
colour=0x8B3B2A

[interface_3038:3137]
x=235
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=263
script1op3=0
option="Blue"
fill=yes
colour=0x2D5272

[interface_3038:3138]
x=260
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=263
script1op3=0
option="Green"
fill=yes
colour=0x2D723E

[interface_3038:3139]
x=285
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=263
script1op3=0
option="Yellow"
fill=yes
colour=0xA3970D

[interface_3038:3140]
x=310
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=263
script1op3=0
option="Purple"
fill=yes
colour=0x83537B

[interface_3038:3141]
x=335
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=263
script1op3=0
option="Orange"
fill=yes
colour=0x9D642F

[interface_3038:3142]
x=360
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=263
script1op3=0
option="Rose"
fill=yes
colour=0xA17067

[interface_3038:3143]
x=385
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=263
script1op3=0
option="Lime"
fill=yes
colour=0x829472

[interface_3038:3144]
x=410
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=263
script1op3=0
option="Cyan"
fill=yes
colour=0x728C94

[interface_3038:3145]
x=435
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=263
script1op3=0
option="Emerald"
fill=yes
colour=0x1C6135

[interface_3038:3146]
x=197
y=289
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=127
height=14
font=^BOLD
text="CONFIRM (500 gold)"
colour=0x00FF00
overcolour=0xFF0000
shadowed=yes

[interface_3038:3147]
x=59
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3148]
x=84
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3149]
x=109
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3150]
x=134
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3151]
x=160
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3152]
x=185
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3153]
x=210
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3154]
x=235
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3155]
x=260
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3156]
x=285
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3157]
x=310
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3158]
x=335
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3159]
x=360
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3160]
x=385
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3161]
x=410
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3162]
x=435
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_3038:3163]
x=208
y=64
type=^IFTYPE_TEXT
width=98
height=14
font=^PLAIN
text="Select body style"
colour=0xFFFF00
shadowed=yes

[interface_3038:3164]
x=207
y=148
type=^IFTYPE_TEXT
width=98
height=14
font=^PLAIN
text="Select arms style"
colour=0xFFFF00
shadowed=yes

[interface_3038:3165]
x=220
y=225
type=^IFTYPE_TEXT
width=73
height=14
font=^PLAIN
text="Select colour"
colour=0xFFFF00
shadowed=yes

[interface_3038:3166]
x=50
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=456
zoom=800

[interface_3038:3167]
x=145
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=469
zoom=800

[interface_3038:3168]
x=240
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=470
zoom=800

[interface_3038:3169]
x=325
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=471
zoom=800

[interface_3038:3170]
x=420
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=474
zoom=800

[interface_3038:3171]
x=50
y=260
type=^IFTYPE_MODEL
width=32
height=32
model=456
zoom=800

[interface_3038:3172]
x=145
y=260
type=^IFTYPE_MODEL
width=32
height=32
model=456
zoom=800

[interface_3038:3173]
x=240
y=260
type=^IFTYPE_MODEL
width=32
height=32
model=456
zoom=800

[interface_3038:3174]
x=325
y=260
type=^IFTYPE_MODEL
width=32
height=32
model=456
zoom=800

[interface_3038:3175]
x=420
y=260
type=^IFTYPE_MODEL
width=32
height=32
model=456
zoom=800

[interface_3038:3176]
x=50
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=332
zoom=800

[interface_3038:3177]
x=145
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=332
zoom=800

[interface_3038:3178]
x=240
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=332
zoom=800

[interface_3038:3179]
x=325
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=332
zoom=800

[interface_3038:3180]
x=420
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=332
zoom=800

[interface_3038:3181]
x=50
y=260
type=^IFTYPE_MODEL
width=32
height=32
model=332
zoom=800

[interface_3038:3182]
x=145
y=260
type=^IFTYPE_MODEL
width=32
height=32
model=351
zoom=800

[interface_3038:3183]
x=240
y=260
type=^IFTYPE_MODEL
width=32
height=32
model=346
zoom=800

[interface_3038:3184]
x=325
y=260
type=^IFTYPE_MODEL
width=32
height=32
model=348
zoom=800

[interface_3038:3185]
x=420
y=260
type=^IFTYPE_MODEL
width=32
height=32
model=343
zoom=800

[interface_3038:3186]
x=53
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
option="Plain"
activegraphic="headicons,1"

[interface_3038:3187]
x=148
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
option="Crop-top"
activegraphic="headicons,1"

[interface_3038:3188]
x=243
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
option="Polo-neck"
activegraphic="headicons,1"

[interface_3038:3189]
x=328
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
option="Simple"
activegraphic="headicons,1"

[interface_3038:3190]
x=423
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
option="Torn"
activegraphic="headicons,1"

[interface_3038:3191]
x=52
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=262
script1op3=0
option="Short sleeves"
activegraphic="headicons,1"

[interface_3038:3192]
x=148
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=262
script1op3=0
option="Bare arms"
activegraphic="headicons,1"

[interface_3038:3193]
x=243
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=262
script1op3=0
option="Muscley"
activegraphic="headicons,1"

[interface_3038:3194]
x=328
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=262
script1op3=0
option="Long sleeved"
activegraphic="headicons,1"

[interface_3038:3195]
x=423
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=262
script1op3=0
option="Large cuffs"
activegraphic="headicons,1"

