[interface_32:0]
x=414
y=34
type=^IFTYPE_MODEL
width=32
height=32
zoom=796
xan=40
yan=166

[interface_32:1]
x=20
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Name"
colour=0x800000

[interface_32:2]
x=20
y=16
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_32:3]
x=20
y=32
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_32:4]
x=20
y=48
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line3"

[interface_32:5]
x=20
y=64
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line4"

[interface_32:6]
x=20
y=80
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

