[interface_328]
type=^IFTYPE_LAYER
width=512
height=334

[interface_328:329]
x=139
y=22
type=^IFTYPE_MODEL
width=35
height=32
model=2778
zoom=624
xan=521
yan=1288

[interface_328:330]
x=4
y=10
type=^IFTYPE_TEXT
width=47
height=14
font=^PLAIN
text="Weapon:"
colour=0xFFFF00
shadowed=yes

[interface_328:331]
x=52
y=10
type=^IFTYPE_TEXT
width=17
height=14
font=^PLAIN
text="%1"
colour=0xFFFF00
shadowed=yes

[interface_328:332]
x=4
y=31
type=^IFTYPE_TEXT
width=114
height=14
font=^PLAIN
text="Choose Attack Style"
colour=0x00C000
shadowed=yes

[interface_328:333]
x=4
y=51
type=^IFTYPE_LAYER
width=145
height=202

[interface_333:334]
x=5
y=97
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_333:328
scriptc1=1
scriptv1=2
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_333:335]
x=5
y=51
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_333:328
scriptc1=1
scriptv1=1
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_333:336]
x=5
y=5
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_333:328
scriptc1=1
scriptv1=0
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_333:337]
x=22
y=103
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_333:328
graphic="combaticons,19"

[interface_333:338]
x=21
y=11
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_333:328
graphic="combaticons2,13"

[interface_333:339]
x=22
y=57
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_333:328
graphic="combaticons2,14"

[interface_333:340]
x=78
y=5
type=^IFTYPE_TEXT
width=18
height=11
layer=interface_333:328
font=^PLAIN_SMALL
text="Jab"
colour=0xFFFF00
shadowed=yes

[interface_333:341]
x=78
y=51
type=^IFTYPE_TEXT
width=31
height=11
layer=interface_333:328
font=^PLAIN_SMALL
text="Pound"
colour=0xFFFF00
shadowed=yes

[interface_333:342]
x=78
y=97
type=^IFTYPE_TEXT
width=65
height=11
layer=interface_333:328
font=^PLAIN_SMALL
text="Focus - Block"
colour=0xFFFF00
shadowed=yes

[interface_333:343]
x=78
y=64
type=^IFTYPE_TEXT
width=64
height=11
layer=interface_333:328
font=^PLAIN_SMALL
text="(Aggressive)"
colour=0xFFFF00

[interface_333:344]
x=78
y=18
type=^IFTYPE_TEXT
width=50
height=11
layer=interface_333:328
font=^PLAIN_SMALL
text="(Accurate)"
colour=0xFFFF00

[interface_333:345]
x=78
y=110
type=^IFTYPE_TEXT
width=58
height=11
layer=interface_333:328
font=^PLAIN_SMALL
text="(Defensive)"
colour=0xFFFF00

[interface_333:349]
x=6
y=162
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_333:328
scriptc1=1
scriptv1=1
script1op1=13
script1op2=108
script1op3=0
script1op4=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_333:350]
x=24
y=165
type=^IFTYPE_GRAPHIC
width=30
height=30
layer=interface_333:328
graphic="prayeron,12"

[interface_333:351]
x=79
y=168
type=^IFTYPE_TEXT
width=54
height=11
layer=interface_333:328
scriptc1=2
scriptv1=2
script1op1=5
script1op2=108
script1op3=0
font=^PLAIN_SMALL
text="Attack with"
activetext=Attack with
colour=0xFFFF00
activecolour=0xB0A392
shadowed=yes

[interface_328:346]
x=82
y=81
type=^IFTYPE_TEXT
width=36
height=11
font=^PLAIN_SMALL
text="(Crush)"
colour=0xFFFF00

[interface_328:347]
x=81
y=129
type=^IFTYPE_TEXT
width=36
height=11
font=^PLAIN_SMALL
text="(Crush)"
colour=0xFFFF00

[interface_328:348]
x=82
y=174
type=^IFTYPE_TEXT
width=36
height=11
font=^PLAIN_SMALL
text="(Crush)"
colour=0xFFFF00

[interface_328:352]
x=83
y=233
type=^IFTYPE_TEXT
width=49
height=11
scriptc1=2
scriptv1=2
script1op1=5
script1op2=108
script1op3=0
font=^PLAIN_SMALL
text="(none set)"
activetext=(none set)
colour=0xFFFF00
activecolour=0xB0A392
shadowed=yes

[interface_328:353]
x=151
y=191
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=35
height=57
model=2543
zoom=625
xan=264
yan=124

[interface_328:354]
x=147
y=234
type=^IFTYPE_TEXT
width=37
height=11
scriptc1=2
scriptv1=2
script1op1=5
script1op2=108
script1op3=0
font=^PLAIN_SMALL
text="Choose"
colour=0xB0A392
activecolour=0xFFFF00
shadowed=yes

[interface_328:355]
x=153
y=244
type=^IFTYPE_TEXT
width=25
height=11
scriptc1=2
scriptv1=2
script1op1=5
script1op2=108
script1op3=0
font=^PLAIN_SMALL
text="Spell"
colour=0xB0A392
activecolour=0xFFFF00
shadowed=yes

