[interface_33:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_33:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_33:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_33:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_33:33]
y=121

[interface_33:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_33:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_33:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_33:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_33:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_33:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_33:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_33:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_33:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_33:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_33:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_33:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:50]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:57]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:58]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:61]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_33:71]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_33:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_33:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_33:75]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:76]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:77]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:78]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:79]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:80]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:81]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:82]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:83]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:84]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:85]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:86]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:87]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_33:88]
x=116
y=191
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=9
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Warhammer"
activecolour=0xFFFFFF

[interface_33:89]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_33:90]
x=18
y=141
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=4
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Sword"
activecolour=0xFFFFFF

[interface_33:91]
x=18
y=241
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=6
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Long sword"
activecolour=0xFFFFFF

[interface_33:92]
x=18
y=191
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=5
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Scimitar"
activecolour=0xFFFFFF

[interface_33:93]
x=18
y=291
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=14
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="2 hand sword"
activecolour=0xFFFFFF

[interface_33:94]
x=73
y=219
type=^IFTYPE_TEXT
width=34
height=14
scriptc1=3
scriptv1=1
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="2bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:95]
x=73
y=269
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:96]
x=116
y=91
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=1
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Axe"
activecolour=0xFFFFFF

[interface_33:97]
x=116
y=241
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=10
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Battle axe"
activecolour=0xFFFFFF

[interface_33:98]
x=116
y=141
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Mace"
activecolour=0xFFFFFF

[interface_33:99]
x=18
y=91
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Dagger"
activecolour=0xFFFFFF

[interface_33:100]
x=171
y=219
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:101]
x=410
y=209
type=^IFTYPE_LAYER
width=80
height=46

[interface_33:102]
y=32
type=^IFTYPE_TEXT
width=80
height=14
layer=interface_33:101
scriptc1=3
scriptv1=4
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="other"
activecolour=0xFFFFFF

[interface_33:103]
x=55
y=10
type=^IFTYPE_TEXT
width=25
height=14
layer=interface_33:101
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:104]
x=214
y=91
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=11
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Chain body"
activecolour=0xFFFFFF

[interface_33:105]
x=214
y=141
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=16
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Plate legs"
activecolour=0xFFFFFF

[interface_33:106]
x=214
y=191
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=16
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Plate skirt"
activecolour=0xFFFFFF

[interface_33:107]
x=214
y=241
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=18
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Plate body"
activecolour=0xFFFFFF

[interface_33:108]
x=312
y=91
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=3
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Medium helm"
activecolour=0xFFFFFF

[interface_33:109]
x=312
y=141
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=7
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Full helm"
activecolour=0xFFFFFF

[interface_33:110]
x=312
y=191
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=8
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Square shield"
activecolour=0xFFFFFF

[interface_33:111]
x=312
y=241
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=12
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Kite shield"
activecolour=0xFFFFFF

[interface_33:112]
x=406
y=191
type=^IFTYPE_TEXT
width=88
height=14
scriptc1=3
scriptv1=7
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Throwing knives"
activecolour=0xFFFFFF

[interface_33:113]
x=410
y=91
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=4
scriptc2=1
scriptv2=1
script1op1=5
script1op2=211
script1op3=0
script2op1=5
script2op2=261
script2op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Dart tips"
activecolour=0xFFFFFF

[interface_33:114]
x=410
y=141
type=^IFTYPE_TEXT
width=80
height=14
scriptc1=3
scriptv1=5
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Arrow heads"
activecolour=0xFFFFFF

[interface_33:115]
x=269
y=69
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:116]
x=269
y=119
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:117]
x=269
y=169
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:118]
x=269
y=219
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=4
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="5bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:119]
x=367
y=119
type=^IFTYPE_TEXT
width=34
height=14
scriptc1=3
scriptv1=1
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="2bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:120]
x=367
y=169
type=^IFTYPE_TEXT
width=34
height=14
scriptc1=3
scriptv1=1
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="2bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:121]
x=367
y=219
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:122]
x=73
y=169
type=^IFTYPE_TEXT
width=34
height=14
scriptc1=3
scriptv1=1
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="2bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:123]
x=12
y=30
type=^IFTYPE_TEXT
width=488
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="What would you like to make?"
colour=0xFFFF00
shadowed=yes

[interface_33:124]
x=171
y=169
type=^IFTYPE_TEXT
width=33
height=14
scriptc1=3
scriptv1=2
script1op1=5
script1op2=210
script1op3=0
font=^PLAIN
text="3bars"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:125]
x=42
y=60
type=^IFTYPE_INVENTORY
width=1
height=5
xof=66
yof=18
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_33:126]
x=140
y=60
type=^IFTYPE_INVENTORY
width=1
height=5
xof=66
yof=18
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_33:127]
x=238
y=60
type=^IFTYPE_INVENTORY
width=1
height=5
xof=66
yof=18
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_33:128]
x=336
y=60
type=^IFTYPE_INVENTORY
width=1
height=5
xof=66
yof=18
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_33:129]
x=434
y=60
type=^IFTYPE_INVENTORY
width=1
height=5
xof=66
yof=18
invoption1="Make set"
invoption2="Make 5 sets"
invoption3="Make 10 sets"

[interface_33:130]
x=73
y=119
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:131]
x=73
y=69
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:132]
x=171
y=69
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:133]
x=367
y=69
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:134]
x=465
y=69
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:135]
x=171
y=119
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:136]
x=465
y=119
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:137]
x=465
y=169
type=^IFTYPE_TEXT
width=25
height=14
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

[interface_33:138]
x=410
y=259
type=^IFTYPE_LAYER
width=80
height=46

[interface_33:139]
y=32
type=^IFTYPE_TEXT
width=80
height=14
layer=interface_33:138
scriptc1=3
scriptv1=4
script1op1=5
script1op2=211
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Studs"
activecolour=0xFFFFFF

[interface_33:140]
x=55
y=10
type=^IFTYPE_TEXT
width=25
height=14
layer=interface_33:138
scriptc1=3
scriptv1=0
script1op1=5
script1op2=210
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="1bar"
colour=0xC00000
activecolour=0x00C000
shadowed=yes

