[interface_3323]
type=^IFTYPE_LAYER
width=512
height=334

[interface_3323:3324]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3325]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3326]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3327]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3328]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3329]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3330]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3331]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3332]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3333]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3334]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3335]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3336]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3337]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3338]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3339]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3340]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3341]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3342]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3343]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3344]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3345]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3346]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3347]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3348]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3349]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3350]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3351]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3352]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3353]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_3323:3354]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_3323:3355]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3323:3356]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3323:3357]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3323:3358]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3323:3359]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3323:3360]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3323:3361]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_3323:3362]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3323:3363]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3323:3364]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3323:3365]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3323:3366]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3323:3367]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3323:3368]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_3323:3369]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3370]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3371]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3372]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3373]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3374]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3375]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3376]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3377]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3378]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3379]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3380]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3381]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3382]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3383]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3384]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3385]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3386]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3387]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3388]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3389]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3390]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3391]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3392]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3393]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3394]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_3323:3395]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_3323:3396]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3397]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_3323:3398]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_3323:3399]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3400]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3401]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3402]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3403]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3404]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3405]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3406]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3407]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3408]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3409]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3410]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3411]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3412]
x=36
y=20
type=^IFTYPE_LAYER
width=440
height=299

[interface_3412:3424]
x=203
y=71
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3412:3323
graphic="miscgraphics,2"

[interface_3412:3425]
x=203
y=35
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3412:3323
graphic="miscgraphics,2"

[interface_3412:3426]
x=203
y=143
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3412:3323
graphic="miscgraphics,2"

[interface_3412:3428]
x=203
y=185
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3412:3323
graphic="miscgraphics,2"

[interface_3412:3429]
x=203
y=107
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3412:3323
graphic="miscgraphics,2"

[interface_3412:3432]
x=204
y=242
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3412:3323
graphic="miscgraphics,3"

[interface_3412:3440]
x=203
y=169
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_3412:3323
graphic="miscgraphics,3"

[interface_3323:3413]
x=19
y=55
type=^IFTYPE_LAYER
width=230
height=248

[interface_3413:3415]
x=13
y=16
type=^IFTYPE_INVENTORY
width=4
height=7
layer=interface_3413:3323
xof=10
yof=1
invoption1="Remove 1"
invoption2="Remove 5"
invoption3="Remove 10"
invoption4="Remove All"
invoption5="Remove X"

[interface_3323:3414]
x=261
y=56
type=^IFTYPE_LAYER
width=230
height=248

[interface_3414:3416]
x=60
y=13
type=^IFTYPE_INVENTORY
width=4
height=7
layer=interface_3414:3323
xof=10
yof=1

[interface_3323:3417]
x=21
y=29
type=^IFTYPE_TEXT
width=84
height=14
font=^BOLD
text="Trading With:"
colour=0xFFFF00
shadowed=yes

[interface_3323:3418]
x=328
y=54
type=^IFTYPE_TEXT
width=97
height=14
font=^PLAIN
text="Opponents Offer"
colour=0xFFFF00
shadowed=yes

[interface_3323:3419]
x=103
y=54
type=^IFTYPE_TEXT
width=61
height=14
font=^PLAIN
text="Your Offer"
colour=0xFFFF00
shadowed=yes

[interface_3323:3420]
x=224
y=173
type=^IFTYPE_RECTANGLE
buttontype=^BUTTON
width=66
height=31
fill=yes

[interface_3323:3421]
x=239
y=181
type=^IFTYPE_TEXT
width=39
height=14
font=^PLAIN
text="Accept"
colour=0x00C000
shadowed=yes

[interface_3323:3422]
x=224
y=246
type=^IFTYPE_RECTANGLE
buttontype=^CLOSE
width=66
height=31
fill=yes

[interface_3323:3423]
x=238
y=254
type=^IFTYPE_TEXT
width=40
height=14
font=^PLAIN
text="Decline"
colour=0xC00000
shadowed=yes

[interface_3323:3427]
x=239
y=152
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3430]
x=239
y=225
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_3323:3431]
x=157
y=297
type=^IFTYPE_TEXT
width=200
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Waiting for other player"
colour=0xFFFFFF
shadowed=yes

[interface_3323:3433]
x=218
y=167
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_3323:3434]
x=218
y=240
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_3323:3435]
x=271
y=167
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_3323:3436]
x=271
y=240
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_3323:3437]
x=218
y=180
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_3323:3438]
x=218
y=253
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_3323:3439]
x=271
y=180
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_3323:3441]
x=271
y=253
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_3323:3442]
x=423
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

