[interface_34:0]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_34:1]
x=239
y=155
type=^IFTYPE_MODEL
width=32
height=32
model=3033
zoom=525
xan=490

[interface_34:2]
x=82
y=82
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:3]
x=82
y=98
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:4]
x=82
y=114
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:5]
x=82
y=131
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:6]
x=82
y=148
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:7]
x=82
y=165
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:8]
x=82
y=182
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:9]
x=82
y=199
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:10]
x=82
y=216
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:11]
x=82
y=233
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:12]
x=82
y=250
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

[interface_34:13]
x=82
y=267
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFF00

