[interface_36:0]
x=78
y=39
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_36:1]
x=78
y=68
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_36:2]
x=78
y=105
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_36:3]
x=78
y=146
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_36:4]
x=22
y=118
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_36:5]
x=22
y=154
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_36:6]
x=134
y=118
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_36:7]
x=134
y=154
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_36:8]
x=48
y=81
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_36:9]
x=107
y=81
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_36:10]
x=58
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_36:11]
x=112
y=41
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_36:12]
x=78
y=4
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:13]
x=37
y=43
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:14]
x=78
y=43
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:15]
x=119
y=43
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:16]
x=22
y=82
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:17]
x=78
y=82
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:18]
x=134
y=82
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:19]
x=78
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:20]
x=78
y=162
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:21]
x=22
y=162
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:22]
x=134
y=162
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,0"

[interface_36:23]
x=8
y=200
type=^IFTYPE_LAYER
width=161
height=57
scrollheight=110

[interface_36:24]
x=2
y=2
type=^IFTYPE_RECTANGLE
width=173
height=130
layer=interface_36:23
fill=yes

[interface_36:25]
x=10
y=3
type=^IFTYPE_TEXT
width=64
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Attack bonus"
colour=0xFFFF00
shadowed=yes

[interface_36:26]
x=84
y=3
type=^IFTYPE_TEXT
width=74
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Defence bonus"
colour=0xFFFF00
shadowed=yes

[interface_36:27]
x=16
y=15
type=^IFTYPE_TEXT
width=54
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Stab: +120"
colour=0x6B6F33
shadowed=yes

[interface_36:28]
x=15
y=27
type=^IFTYPE_TEXT
width=56
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Slash:+120"
colour=0x6B6F33
shadowed=yes

[interface_36:29]
x=14
y=39
type=^IFTYPE_TEXT
width=58
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Crush:+120"
colour=0x6B6F33
shadowed=yes

[interface_36:30]
x=13
y=51
type=^IFTYPE_TEXT
width=59
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Magic: +120"
colour=0x6B6F33
shadowed=yes

[interface_36:31]
x=12
y=63
type=^IFTYPE_TEXT
width=62
height=15
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Range: +120"
colour=0x6B6F33
shadowed=yes

[interface_36:32]
x=96
y=15
type=^IFTYPE_TEXT
width=54
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Stab: +120"
colour=0x6B6F33
shadowed=yes

[interface_36:33]
x=93
y=27
type=^IFTYPE_TEXT
width=59
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Slash: +120"
colour=0x6B6F33
shadowed=yes

[interface_36:34]
x=92
y=39
type=^IFTYPE_TEXT
width=61
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Crush: +120"
colour=0x6B6F33
shadowed=yes

[interface_36:35]
x=92
y=51
type=^IFTYPE_TEXT
width=59
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Magic: +120"
colour=0x6B6F33
shadowed=yes

[interface_36:36]
x=91
y=63

[interface_36:37]
x=48
y=80
type=^IFTYPE_TEXT
width=73
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Other bonuses"
colour=0xFFFF00
shadowed=yes

[interface_36:38]
x=9
y=92
type=^IFTYPE_TEXT
width=75
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Strength: +120"
colour=0x6B6F33
shadowed=yes

[interface_36:39]
x=90
y=92
type=^IFTYPE_TEXT
width=66
height=11
layer=interface_36:23
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN_SMALL
text="Prayer: +120"
colour=0x6B6F33
shadowed=yes

[interface_36:40]
x=8
y=200
type=^IFTYPE_RECTANGLE
width=161
height=57
colour=0x726451

[interface_36:41]
x=9
y=201
type=^IFTYPE_RECTANGLE
width=161
height=55
colour=0x726451

[interface_36:42]
x=9
y=201
type=^IFTYPE_RECTANGLE
width=161
height=56
colour=0x2E2B23

[interface_36:43]
x=24
y=44
type=^IFTYPE_INVENTORY
width=3
height=5
xof=24
yof=8
invsprite1=wornicons,0
xof1=56
yof1=-38
invsprite2=wornicons,1
xof2=-41
yof2=1
invsprite3=wornicons,2
xof3=-56
yof3=1
invsprite4=wornicons,3
invsprite5=wornicons,5
invsprite6=wornicons,6
invsprite8=wornicons,7
invsprite10=wornicons,8
invsprite11=wornicons,9
xof12=-55
yof12=40
invsprite13=wornicons,4
xof13=112
yof13=-40
invsprite14=wornicons,10
xof14=41
yof14=-159
invoption1="Remove"

