[interface_374]
type=^IFTYPE_LAYER
width=512
height=334

[interface_374:375]
x=21
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_374:376]
x=21
y=16
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_374:377]
x=21
y=32
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line3"

[interface_374:378]
x=21
y=48
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line4"

[interface_374:379]
x=21
y=64
type=^IFTYPE_TEXT
width=441
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line5"

[interface_374:380]
x=65
y=80
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

