[interface_381]
type=^IFTYPE_LAYER
width=512
height=334

[interface_381:382]
x=164
y=178
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_381:383]
y=178
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_381:384]
x=5
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=201
width=45
height=36
option="Add friend"
graphic="leftarrow,0"

[interface_381:385]
x=141
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=202
width=45
height=36
option="Delete friend"
graphic="rightarrow,0"

[interface_381:386]
x=73
y=236
type=^IFTYPE_TEXT
width=42
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="%1/%2"
colour=0xFFFF00
shadowed=yes

[interface_381:387]
x=5
y=4
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_381:388]
x=160
y=4
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_381:389]
x=5
y=192
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_381:390]
x=160
y=192
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_381:391]
x=30
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_381:392]
x=66
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_381:393]
x=102
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_381:394]
x=138
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_381:395]
x=164
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_381:396]
x=164
y=70
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_381:397]
x=164
y=106
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_381:398]
x=164
y=142
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_381:399]
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_381:400]
y=70
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_381:401]
y=106
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_381:402]
y=142
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_381:403]
x=16
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_381:404]
x=52
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_381:405]
x=88
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_381:406]
x=124
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_381:407]
x=13
y=148
type=^IFTYPE_LAYER
width=165
height=65

[interface_407:408]
y=4
type=^IFTYPE_RECTANGLE
width=9
height=9
layer=interface_407:381
fill=yes

[interface_407:409]
x=16
type=^IFTYPE_TEXT
width=36
height=14
layer=interface_407:381
font=^PLAIN
text="part1c"
colour=0xFFFF00
shadowed=yes

[interface_407:410]
x=16
y=16
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_407:381
font=^PLAIN
text="part2c"
colour=0xFFFF00
shadowed=yes

[interface_407:412]
x=16
y=32
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_407:381
font=^PLAIN
text="part3c"
colour=0xFFFF00
shadowed=yes

[interface_407:413]
x=16
y=48
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_407:381
font=^PLAIN
text="part4c"
colour=0xFFFF00
shadowed=yes

[interface_381:411]
x=13
y=12
type=^IFTYPE_LAYER
width=165
height=65

[interface_411:414]
y=4
type=^IFTYPE_RECTANGLE
width=9
height=9
layer=interface_411:381
fill=yes

[interface_411:415]
x=16
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_411:381
font=^PLAIN
text="part1a"
colour=0xFFFF00
shadowed=yes

[interface_411:416]
x=16
y=16
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_411:381
font=^PLAIN
text="part2a"
colour=0xFFFF00
shadowed=yes

[interface_411:417]
x=16
y=32
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_411:381
font=^PLAIN
text="part3a"
colour=0xFFFF00
shadowed=yes

[interface_411:418]
x=16
y=48
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_411:381
font=^PLAIN
text="part4a"
colour=0xFFFF00
shadowed=yes

[interface_381:419]
x=13
y=80
type=^IFTYPE_LAYER
width=165
height=65

[interface_419:420]
y=4
type=^IFTYPE_RECTANGLE
width=9
height=9
layer=interface_419:381
fill=yes

[interface_419:421]
x=16
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_419:381
font=^PLAIN
text="part1b"
colour=0xFFFF00
shadowed=yes

[interface_419:422]
x=16
y=16
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_419:381
font=^PLAIN
text="part2b"
colour=0xFFFF00
shadowed=yes

[interface_419:423]
x=16
y=32
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_419:381
font=^PLAIN
text="part3b"
colour=0xFFFF00
shadowed=yes

[interface_419:424]
x=16
y=48
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_419:381
font=^PLAIN
text="part4b"
colour=0xFFFF00
shadowed=yes

