[interface_42:0]
x=239
y=145
type=^IFTYPE_MODEL
width=35
height=35
model=3035
zoom=525
xan=395

[interface_42:1]
x=45
y=185
type=^IFTYPE_TEXT
width=200
height=77
font=^QUILL
text="line1\nline2\nline3\nline4\nline5"

[interface_42:2]
x=125
y=145
type=^IFTYPE_MODEL
width=32
height=32
zoom=283
xan=124
yan=1916

[interface_42:3]
x=68
y=80
type=^IFTYPE_TEXT
width=163
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="title1"
colour=0x800000

[interface_42:4]
x=285
y=80
type=^IFTYPE_TEXT
width=200
height=182
font=^QUILL
text="line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8\nline9\nline10\nline11\nline12"

[interface_42:5]
x=34
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_42:6]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_42:5
graphic="leftarrow,0"

[interface_42:7]
x=432
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_42:8]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_42:7
graphic="rightarrow,0"

[interface_42:9]
x=12
y=20
type=^IFTYPE_LAYER
width=488
height=36

[interface_42:10]
x=94
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_42:9
graphic="tradebacking,0"

[interface_42:11]
x=182
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_42:9
graphic="tradebacking,0"

[interface_42:12]
x=270
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_42:9
graphic="tradebacking,0"

[interface_42:13]
x=358
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_42:9
graphic="tradebacking,0"

[interface_42:14]
x=394
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_42:9
graphic="tradebacking,0"

[interface_42:15]
x=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_42:9
graphic="tradebacking,0"

[interface_42:16]
x=60
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:17]
x=96
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:18]
x=132
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:19]
x=168
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:20]
x=204
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:21]
x=240
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:22]
x=276
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:23]
x=312
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:24]
x=348
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:25]
x=384
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:26]
x=420
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:27]
x=428
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:28]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_42:9
graphic="steelborder,0"

[interface_42:29]
x=60
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:30]
x=96
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:31]
x=132
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:32]
x=168
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:33]
x=204
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:34]
x=240
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:35]
x=276
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:36]
x=312
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:37]
x=348
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:38]
x=384
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:39]
x=420
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:40]
x=25
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="steelborder2,0"

[interface_42:41]
x=463
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_42:9
graphic="steelborder,1"

[interface_42:42]
x=427

[interface_42:43]
x=463
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_42:9
graphic="steelborder,3"

[interface_42:44]
x=25
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_42:9
graphic="miscgraphics,3"

[interface_42:45]
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_42:9
graphic="steelborder,2"

[interface_42:46]
x=75
y=30
type=^IFTYPE_TEXT
width=360
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Gianne's cook book"
colour=0xFFFF00
shadowed=yes

[interface_42:47]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_42:48]
x=20
y=28
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=28
height=11
font=^PLAIN_SMALL
text="Index"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

