[interface_44:0]
x=14
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:1]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:2]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:3]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:4]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:5]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:6]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:7]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:8]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:9]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:10]
x=412
y=46
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:11]
x=361
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:12]
x=274
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:13]
x=187
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:14]
x=100
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:15]
x=13
y=45
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:16]
x=409
y=232
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:17]
x=272
y=231
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:18]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:19]
x=359
y=235
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:20]
x=185
y=235
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:21]
x=98
y=233
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:22]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:23]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:24]
x=12
y=231
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:25]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:26]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:27]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:28]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:29]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_44:30]
x=12
y=42
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_44:31]
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_44:32]
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_44:33]
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_44:34]
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_44:35]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_44:36]
x=479
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_44:37]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_44:38]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_44:39]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_44:40]
x=31
y=49
type=^IFTYPE_MODEL
width=437
height=242
zoom=606
xan=1551
yan=1020

[interface_44:41]
x=55
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:42]
x=125
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:43]
x=160
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:44]
x=195
y=274

[interface_44:45]
x=230
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:46]
x=265
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:47]
x=300
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:48]
x=335
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:49]
x=370
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:50]
x=405
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:51]
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_44:52]
x=90
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:53]
x=71
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:54]
x=106
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:55]
x=141
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:56]
x=176
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:57]
x=211
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:58]
x=246
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:59]
x=281
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:60]
x=316
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:61]
x=479
y=61
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_44:62]
x=351
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:63]
x=386
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:64]
y=67
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_44:65]
x=421
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:66]
x=248
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:67]
x=36
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:68]
x=20
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:69]
x=475
y=42
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_44:70]
x=456
y=27
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:71]
x=475
y=265
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_44:72]
x=440
y=274
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_44:73]
x=421
y=54
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_44:74]
x=283
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:75]
x=318
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:76]
x=353
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:77]
x=388
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:78]
x=423
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:79]
x=458
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:80]
x=213
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:81]
x=178
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:82]
x=143
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:83]
x=108
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:84]
x=73
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:85]
x=12
y=265
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_44:86]
x=38
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:87]
x=17
y=64
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_44:88]
x=42
y=127
type=^IFTYPE_TEXT
width=438
height=26
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Proceed with caution. If you go much further north you will enter the\nwilderness. This is a very dangerous area where other players can attack you!"
colour=0xFFFFFF
shadowed=yes

[interface_44:89]
x=206
y=55
type=^IFTYPE_TEXT
width=102
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="WARNING !!!"
colour=0xFF0000
shadowed=yes

[interface_44:90]
x=45
y=171
type=^IFTYPE_TEXT
width=423
height=26
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="The further north you go the more dangerous it becomes, but there is more\ntreasure to be found."
colour=0xFFFFFF
shadowed=yes

[interface_44:91]
x=79
y=215
type=^IFTYPE_TEXT
width=358
height=26
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="In the wilderness an indicator at the bottom-right of the screen\nwill show the current level of danger."
colour=0xFFFF00
shadowed=yes

