[interface_446]
type=^IFTYPE_LAYER
width=512
height=334

[interface_446:447]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:448]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:449]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:450]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:451]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:452]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:453]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:454]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:455]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:456]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:457]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:458]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:459]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:460]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:461]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:462]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:463]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:464]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:465]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:466]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:467]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:468]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:469]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:470]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:471]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:472]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:473]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:474]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:475]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:476]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_446:477]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_446:478]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_446:479]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_446:480]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_446:481]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_446:482]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_446:483]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_446:484]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_446:485]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_446:486]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_446:487]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_446:488]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_446:489]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_446:490]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_446:491]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_446:492]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:493]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:494]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:495]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:496]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:497]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:498]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:499]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:500]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:501]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:502]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:503]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:504]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:505]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:506]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:507]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:508]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:509]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:510]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:511]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:512]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:513]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:514]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:515]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:516]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:517]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_446:518]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_446:519]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:520]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_446:521]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_446:522]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:523]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:524]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:525]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:526]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:527]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:528]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:529]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:530]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:531]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:532]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:533]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:534]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_446:535]
x=244
y=296
type=^IFTYPE_MODEL
width=32
height=32
model=1451
zoom=360
xan=100
yan=1000

[interface_446:536]
x=253
y=172
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=0
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:537]
x=221
y=29
type=^IFTYPE_TEXT
width=79
height=14
font=^BOLD
text="Target View."
colour=0xFFFF00
shadowed=yes

[interface_446:538]
x=60
y=114
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=11
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_446:539]
x=256
y=131
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:540]
x=290
y=193
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:541]
x=247
y=233
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:542]
x=193
y=189
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:543]
x=191
y=90
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:544]
x=215
y=126
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:545]
x=298
y=101
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:546]
x=294
y=144
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:547]
x=328
y=163
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:548]
x=275
y=61
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=158
script1op3=0
model=1105
activemodel=2379
zoom=400
xan=100
yan=150

[interface_446:549]
x=54
y=86
type=^IFTYPE_TEXT
width=33
height=14
font=^PLAIN
text="Shots"
colour=0xFFFF00
shadowed=yes

[interface_446:550]
x=411
y=147
type=^IFTYPE_TEXT
width=35
height=14
font=^PLAIN
text="Score:"
colour=0xFFFF00
shadowed=yes

[interface_446:551]
x=420
y=169
type=^IFTYPE_TEXT
width=17
height=14
script1op1=5
script1op2=157
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="%1"
colour=0x00FF99
shadowed=yes

[interface_446:552]
x=90
y=86
type=^IFTYPE_TEXT
width=27
height=14
font=^PLAIN
text="Left:"
colour=0xFFFF00
shadowed=yes

[interface_446:553]
x=158
y=156
type=^IFTYPE_TEXT
width=14
height=14
font=^PLAIN
text="10"
colour=0x00FF99
shadowed=yes

[interface_446:554]
x=183
y=156
type=^IFTYPE_TEXT
width=16
height=14
font=^PLAIN
text="20"
colour=0x00CCFF
shadowed=yes

[interface_446:555]
x=207
y=156
type=^IFTYPE_TEXT
width=15
height=14
font=^PLAIN
text="30"
colour=0x00CC00
shadowed=yes

[interface_446:556]
x=231
y=156
type=^IFTYPE_TEXT
width=15
height=14
font=^PLAIN
text="50"
colour=0x0088FF
shadowed=yes

[interface_446:557]
x=90
y=114
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=10
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_446:558]
x=251
y=156
type=^IFTYPE_TEXT
width=22
height=14
font=^PLAIN
text="100"
colour=0xFF0000
shadowed=yes

[interface_446:559]
x=60
y=145
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=9
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_446:560]
x=90
y=145
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=8
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_446:561]
x=60
y=175
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=7
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_446:562]
x=90
y=175
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=6
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_446:563]
x=60
y=205
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=5
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_446:564]
x=90
y=205
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=4
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_446:565]
x=60
y=235
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=3
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_446:566]
x=90
y=235
type=^IFTYPE_MODEL
width=25
height=25
scriptc1=2
scriptv1=2
script1op1=5
script1op2=156
script1op3=0
activemodel=3142
zoom=800
xan=150
yan=1200

[interface_446:567]
x=241
y=114
type=^IFTYPE_TEXT
width=50
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Missed!"
colour=0xFFFF00
shadowed=yes

[interface_446:568]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

