[interface_4461]
type=^IFTYPE_LAYER
width=512
height=334

[interface_4461:4462]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4463]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4464]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4465]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4466]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4467]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4468]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4469]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4470]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4471]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4472]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4473]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4474]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4475]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4476]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4477]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4478]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4479]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4480]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4481]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4482]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4483]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4484]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4485]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4486]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4487]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4488]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4489]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4490]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4491]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4461:4492]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_4461:4493]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4461:4494]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4461:4495]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4461:4496]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4461:4497]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4461:4498]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4461:4499]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4461:4500]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4461:4501]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4461:4502]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4461:4503]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4461:4504]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4461:4505]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4461:4506]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4461:4507]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4508]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4509]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4510]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4511]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4512]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4513]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4514]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4515]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4516]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4517]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4518]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4519]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4520]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4521]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4522]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4523]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4524]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4525]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4526]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4527]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4528]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4529]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4530]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4531]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4532]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_4461:4533]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_4461:4534]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4535]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_4461:4536]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4461:4537]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4538]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4539]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4540]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4541]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4542]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4543]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4544]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4545]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4546]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4547]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4548]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4549]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4461:4550]
x=101
y=107
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=32
height=32
option="Buy for 140 tickets:"
model=2445
zoom=311
xan=258
yan=206

[interface_4461:4551]
x=232
y=104
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=32
height=32
option="Buy for 150 tickets:"
model=2565
zoom=400
xan=500
yan=100

[interface_4461:4552]
x=372
y=104
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=32
height=32
option="Buy for 2,000 tickets:"
model=2711
zoom=700
xan=600
yan=200

[interface_4461:4553]
x=202
y=163
type=^IFTYPE_TEXT
width=96
height=17
scriptc1=3
scriptv1=149
script1op1=4
script1op2=3214
script1op3=1464
script1op4=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Studded Body"
activetext=Studded Body
colour=0x808080
activecolour=0x00FF00
shadowed=yes

[interface_4461:4554]
x=103
y=240
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=32
height=32
option="Buy for 100 tickets:"
model=2541
zoom=350
xan=150
yan=100

[interface_4461:4555]
x=60
y=163
type=^IFTYPE_TEXT
width=118
height=17
scriptc1=3
scriptv1=139
script1op1=4
script1op2=3214
script1op3=1464
script1op4=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="30 Barb BoltTips"
activetext=30 Barb BoltTips
colour=0x808080
activecolour=0x00FF00
shadowed=yes

[interface_4461:4556]
x=327
y=164
type=^IFTYPE_TEXT
width=115
height=17
scriptc1=3
scriptv1=1999
script1op1=4
script1op2=3214
script1op3=1464
script1op4=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="50 Rune Arrows"
activetext=50 Rune Arrows
colour=0x808080
activecolour=0x00FF00
shadowed=yes

[interface_4461:4557]
x=223
y=227
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=32
height=32
option="Buy for 2,400 tickets:"
model=2745
zoom=400
xan=500
yan=100

[interface_4461:4558]
x=90
y=29
type=^IFTYPE_TEXT
width=314
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="What would you like to buy with your tickets?"
colour=0xFFFF00

[interface_4461:4559]
x=359
y=226
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=32
height=32
option="Buy for 2,000 tickets:"
model=2763
zoom=700
xan=600

[interface_4461:4560]
x=104
y=282
type=^IFTYPE_TEXT
width=25
height=17
scriptc1=3
scriptv1=99
script1op1=4
script1op2=3214
script1op3=1464
script1op4=0
font=^QUILL
text="Coif"
activetext=Coif
colour=0x808080
activecolour=0x00FF00
shadowed=yes

[interface_4461:4561]
x=171
y=282
type=^IFTYPE_TEXT
width=118
height=17
scriptc1=3
scriptv1=2399
script1op1=4
script1op2=3214
script1op3=1464
script1op4=0
font=^QUILL
text="Dragonhide Body"
activetext=Dragonhide Body
colour=0x808080
activecolour=0x00FF00
shadowed=yes

[interface_4461:4562]
x=311
y=281
type=^IFTYPE_TEXT
width=139
height=17
scriptc1=3
scriptv1=1999
script1op1=4
script1op2=3214
script1op3=1464
script1op4=0
font=^QUILL
text="20 Adamant Javelins"
activetext=20 Adamant Javelins
colour=0x808080
activecolour=0x00FF00
shadowed=yes

[interface_4461:4563]
x=415
y=29
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=72
height=14
font=^PLAIN
text="Close window"
colour=0x808080
shadowed=yes

[interface_4461:5991]
x=22
y=175
type=^IFTYPE_MODEL
width=37
height=151
model=3181
zoom=692
xan=1549
yan=1

[interface_4461:5992]
x=455
y=178
type=^IFTYPE_MODEL
width=36
height=151
model=3181
zoom=692
xan=1551
yan=2047

