[interface_46:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_46:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_46:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_46:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_46:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_46:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_46:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_46:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_46:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_46:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_46:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_46:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_46:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_46:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_46:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_46:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_46:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:46]
x=109
y=299

[interface_46:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:50]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:57]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:58]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:61]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_46:71]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_46:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_46:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_46:75]
x=190
y=30
type=^IFTYPE_TEXT
width=130
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Hairdressers' Salon"
colour=0xFFFF00
shadowed=yes

[interface_46:76]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_46:77]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:78]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:79]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:80]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:81]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:82]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:83]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:84]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:85]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:86]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:87]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:88]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:89]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_46:90]
x=65
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=1200
yan=200

[interface_46:91]
x=150
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=1200
yan=200

[interface_46:92]
x=235
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=1200
yan=200

[interface_46:93]
x=320
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=1200
yan=200

[interface_46:94]
x=405
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=1200
yan=200

[interface_46:95]
x=150
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=1200
yan=200

[interface_46:96]
x=235
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=1200
yan=200

[interface_46:97]
x=320
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=1200
yan=200

[interface_46:98]
x=65
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=82
zoom=1200
yan=200

[interface_46:99]
x=150
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=81
zoom=1200
yan=200

[interface_46:100]
x=235
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=79
zoom=1200
yan=200

[interface_46:101]
x=320
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=80
zoom=1200
yan=200

[interface_46:102]
x=405
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=84
zoom=1200
yan=200

[interface_46:103]
x=150
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=83
zoom=1200
yan=200

[interface_46:104]
x=320
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=85
zoom=1200
yan=200

[interface_46:105]
x=390
y=290
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=55
height=14
font=^BOLD
text="CONFIRM"
colour=0x00FF00
overcolour=0xFF0000
shadowed=yes

[interface_46:106]
x=134
y=259
type=^IFTYPE_RECTANGLE
width=243
height=23
fill=yes

[interface_46:107]
x=135
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x494034

[interface_46:108]
x=155
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xD6D1D1

[interface_46:109]
x=175
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x76756C

[interface_46:110]
x=195
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x2F2A2A

[interface_46:111]
x=215
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xCB823E

[interface_46:112]
x=235
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xCDAD53

[interface_46:113]
x=255
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x885F29

[interface_46:114]
x=275
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x50321E

[interface_46:115]
x=295
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x008383

[interface_46:116]
x=315
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x008300

[interface_46:117]
x=335
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x9F2800

[interface_46:118]
x=355
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xBE00C0

[interface_46:119]
x=198
y=233
type=^IFTYPE_TEXT
width=114
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Please select colour"
colour=0xFFFF00
shadowed=yes

[interface_46:120]
x=85
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_46:121]
x=170
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_46:122]
x=260
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_46:123]
x=345
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_46:124]
x=430
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_46:125]
x=170
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_46:126]
x=260
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_46:127]
x=345
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_46:128]
x=135
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=1
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:129]
x=155
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=2
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:130]
x=175
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=3
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:131]
x=195
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=4
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:132]
x=215
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=5
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:133]
x=235
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=6
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:134]
x=255
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=7
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:135]
x=275
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=8
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:136]
x=295
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=9
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:137]
x=315
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=10
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:138]
x=335
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=11
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:139]
x=355
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=12
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_46:140]
x=55
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0

[interface_46:141]
x=141
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0

[interface_46:142]
x=224
y=82
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0

[interface_46:143]
x=310
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0

[interface_46:144]
x=394
y=84
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0

[interface_46:145]
x=141
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0

[interface_46:146]
x=224
y=162
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0

[interface_46:147]
x=310
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0

