[interface_4667]
type=^IFTYPE_LAYER
width=512
height=334

[interface_4667:4668]
x=2
y=5
type=^IFTYPE_GRAPHIC
width=57
height=13
graphic="sworddecor,1"

[interface_4667:4669]
x=421
y=5
type=^IFTYPE_GRAPHIC
width=57
height=13
graphic="sworddecor,0"

[interface_4667:4670]
x=28
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_4667:4671]
x=148
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_4667:4672]
x=268
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_4667:4673]
x=388
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_4667:4674]
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=120
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_4667:4675]
x=120
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=120
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_4667:4676]
x=240
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=120
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_4667:4677]
x=360
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=120
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_4667:4678]
x=8
y=3
type=^IFTYPE_TEXT
width=464
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

