[interface_4679]
type=^IFTYPE_LAYER
width=512
height=334

[interface_4679:4680]
x=135
y=16
type=^IFTYPE_MODEL
width=35
height=32
model=2778
zoom=624
xan=521
yan=1288

[interface_4679:4681]
x=4
y=2
type=^IFTYPE_TEXT
width=47
height=14
font=^PLAIN
text="Weapon:"
colour=0xFFFF00
shadowed=yes

[interface_4679:4682]
x=52
y=2
type=^IFTYPE_TEXT
width=17
height=14
font=^PLAIN
text="%1"
colour=0xFFFF00
shadowed=yes

[interface_4679:4683]
x=4
y=18
type=^IFTYPE_TEXT
width=114
height=14
font=^PLAIN
text="Choose Attack Style"
colour=0x00C000
shadowed=yes

[interface_4679:4684]
x=4
y=60
type=^IFTYPE_LAYER
width=145
height=190

[interface_4684:4685]
x=5
y=5
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_4684:4679
scriptc1=1
scriptv1=0
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_4684:4686]
x=5
y=143
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_4684:4679
scriptc1=1
scriptv1=3
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_4684:4687]
x=5
y=97
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_4684:4679
scriptc1=1
scriptv1=2
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_4684:4688]
x=5
y=51
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=72
height=36
layer=interface_4684:4679
scriptc1=1
scriptv1=1
script1op1=5
script1op2=43
script1op3=0
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_4684:4689]
x=22
y=149
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_4684:4679
graphic="combaticons,17"

[interface_4684:4690]
x=22
y=11
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_4684:4679
graphic="combaticons,8"

[interface_4684:4691]
x=21
y=57
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_4684:4679
graphic="combaticons,18"

[interface_4684:4692]
x=22
y=103
type=^IFTYPE_GRAPHIC
width=34
height=24
layer=interface_4684:4679
graphic="combaticons,9"

[interface_4684:4693]
x=78
y=5
type=^IFTYPE_TEXT
width=29
height=11
layer=interface_4684:4679
font=^PLAIN_SMALL
text="Lunge"
colour=0xFFFF00
shadowed=yes

[interface_4684:4694]
x=78
y=51
type=^IFTYPE_TEXT
width=29
height=11
layer=interface_4684:4679
font=^PLAIN_SMALL
text="Swipe"
colour=0xFFFF00
shadowed=yes

[interface_4684:4695]
x=78
y=97
type=^IFTYPE_TEXT
width=31
height=11
layer=interface_4684:4679
font=^PLAIN_SMALL
text="Pound"
colour=0xFFFF00
shadowed=yes

[interface_4684:4696]
x=78
y=143
type=^IFTYPE_TEXT
width=26
height=11
layer=interface_4684:4679
font=^PLAIN_SMALL
text="Block"
colour=0xFFFF00
shadowed=yes

[interface_4684:4697]
x=78
y=18
type=^IFTYPE_TEXT
width=58
height=11
layer=interface_4684:4679
font=^PLAIN_SMALL
text="(Controlled)"
colour=0xFFFF00

[interface_4684:4698]
x=78
y=110
type=^IFTYPE_TEXT
width=58
height=11
layer=interface_4684:4679
font=^PLAIN_SMALL
text="(Controlled)"
colour=0xFFFF00

[interface_4684:4699]
x=78
y=64
type=^IFTYPE_TEXT
width=58
height=11
layer=interface_4684:4679
font=^PLAIN_SMALL
text="(Controlled)"
colour=0xFFFF00

[interface_4684:4700]
x=78
y=156
type=^IFTYPE_TEXT
width=58
height=11
layer=interface_4684:4679
font=^PLAIN_SMALL
text="(Defensive)"
colour=0xFFFF00

[interface_4679:4701]
x=82
y=90
type=^IFTYPE_TEXT
width=29
height=11
font=^PLAIN_SMALL
text="(Stab)"
colour=0xFFFF00

[interface_4679:4702]
x=82
y=136
type=^IFTYPE_TEXT
width=34
height=11
font=^PLAIN_SMALL
text="(Slash)"
colour=0xFFFF00

[interface_4679:4703]
x=82
y=228
type=^IFTYPE_TEXT
width=29
height=11
font=^PLAIN_SMALL
text="(Stab)"
colour=0xFFFF00

[interface_4679:4704]
x=82
y=182
type=^IFTYPE_TEXT
width=36
height=11
font=^PLAIN_SMALL
text="(Crush)"
colour=0xFFFF00

