[interface_4731]
type=^IFTYPE_LAYER
width=512
height=334

[interface_4731:4732]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4733]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4734]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4735]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4736]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4737]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4738]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4739]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4740]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4741]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4742]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4743]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4744]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4745]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4746]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4747]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4748]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4749]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4750]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4751]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4752]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4753]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4754]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4755]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4756]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4757]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4758]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4759]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4760]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4761]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_4731:4762]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_4731:4763]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4731:4764]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4731:4765]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4731:4766]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4731:4767]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4731:4768]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4731:4769]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_4731:4770]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4731:4771]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4731:4772]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4731:4773]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4731:4774]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4731:4775]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4731:4776]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_4731:4777]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4778]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4779]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4780]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4781]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4782]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4783]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4784]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4785]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4786]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4787]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4788]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4789]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4790]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4791]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4792]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4793]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4794]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4795]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4796]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4797]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4798]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4799]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4800]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4801]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4802]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_4731:4803]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_4731:4804]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4805]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_4731:4806]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_4731:4807]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4808]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4809]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4810]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4811]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4812]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4813]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4814]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4815]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4816]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4817]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4818]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4819]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_4731:4820]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_4731:4821]
x=154
y=30
type=^IFTYPE_TEXT
width=194
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Thessalias' Makeovers (Legs)"
colour=0xFFFF00
shadowed=yes

[interface_4731:4822]
x=59
y=249
type=^IFTYPE_RECTANGLE
width=403
height=28
fill=yes

[interface_4731:4823]
x=85
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=263
script1op3=0
option="Khaki"
fill=yes
colour=0x7B6E32

[interface_4731:4824]
x=110
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=263
script1op3=0
option="Black"
fill=yes
colour=0x262323

[interface_4731:4825]
x=135
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=263
script1op3=0
option="Crimson"
fill=yes
colour=0x752F3B

[interface_4731:4826]
x=160
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=263
script1op3=0
option="Navy"
fill=yes
colour=0x3B3B4E

[interface_4731:4827]
x=185
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=263
script1op3=0
option="Straw"
fill=yes
colour=0xAA9045

[interface_4731:4828]
x=210
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=263
script1op3=0
option="White"
fill=yes
colour=0xBEB89C

[interface_4731:4829]
x=235
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=263
script1op3=0
option="Red"
fill=yes
colour=0x8B3B2A

[interface_4731:4830]
x=260
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=263
script1op3=0
option="Blue"
fill=yes
colour=0x2D5272

[interface_4731:4831]
x=285
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=263
script1op3=0
option="Green"
fill=yes
colour=0x2D723E

[interface_4731:4832]
x=310
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=263
script1op3=0
option="Yellow"
fill=yes
colour=0xA3970D

[interface_4731:4833]
x=335
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=263
script1op3=0
option="Purple"
fill=yes
colour=0x83537B

[interface_4731:4834]
x=360
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=263
script1op3=0
option="Orange"
fill=yes
colour=0x9D642F

[interface_4731:4835]
x=385
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=263
script1op3=0
option="Rose"
fill=yes
colour=0xA17067

[interface_4731:4836]
x=410
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=263
script1op3=0
option="Lime"
fill=yes
colour=0x829472

[interface_4731:4837]
x=435
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=263
script1op3=0
option="Cyan"
fill=yes
colour=0x728C94

[interface_4731:4838]
x=60
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=263
script1op3=0
option="Emerald"
fill=yes
colour=0x1C6135

[interface_4731:4839]
x=197
y=289
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=127
height=14
font=^BOLD
text="CONFIRM (500 gold)"
colour=0x00FF00
overcolour=0xFF0000
shadowed=yes

[interface_4731:4840]
x=59
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4841]
x=84
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4842]
x=109
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4843]
x=134
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4844]
x=160
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4845]
x=185
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4846]
x=210
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4847]
x=235
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4848]
x=260
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4849]
x=285
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4850]
x=310
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4851]
x=335
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4852]
x=360
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4853]
x=385
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4854]
x=410
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4855]
x=435
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_4731:4856]
x=220
y=225
type=^IFTYPE_TEXT
width=73
height=14
font=^PLAIN
text="Select colour"
colour=0xFFFF00
shadowed=yes

[interface_4731:4857]
x=50
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=419
zoom=600

[interface_4731:4858]
x=100
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=433
zoom=600

[interface_4731:4859]
x=150
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=431
zoom=600

[interface_4731:4860]
x=200
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=421
zoom=600

[interface_4731:4861]
x=250
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=428
zoom=600

[interface_4731:4862]
x=300
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=438
zoom=600

[interface_4731:4863]
x=350
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=437
zoom=600

[interface_4731:4864]
x=400
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=429
zoom=600

[interface_4731:4865]
x=50
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
option="Plain"

[interface_4731:4866]
x=100
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
option="Shorts"

[interface_4731:4867]
x=150
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
option="Flares"

[interface_4731:4868]
x=200
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_4731:4869]
x=250
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_4731:4870]
x=300
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_4731:4871]
x=350
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_4731:4872]
x=400
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_4731:4873]
x=50
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_4731:4874]
x=100
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_4731:4875]
x=150
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_4731:4876]
x=250
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_4731:4877]
x=200
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_4731:4878]
x=300
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_4731:4879]
x=350
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_4731:4880]
x=400
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_4731:4881]
x=211
y=62
type=^IFTYPE_TEXT
width=87
height=14
font=^PLAIN
text="Select leg style"
colour=0xFFFF00
shadowed=yes

