[interface_4887]
type=^IFTYPE_LAYER
width=512
height=334

[interface_4887:4888]
x=34
y=34
type=^IFTYPE_MODEL
width=32
height=32
zoom=796
xan=40
yan=1882

[interface_4887:4889]
x=111
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Name"
colour=0x800000

[interface_4887:4890]
x=111
y=28
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_4887:4891]
x=111
y=56
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_4887:4892]
x=111
y=80
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

