[interface_4893]
type=^IFTYPE_LAYER
width=512
height=334

[interface_4893:4894]
x=34
y=34
type=^IFTYPE_MODEL
width=32
height=32
zoom=796
xan=40
yan=1882

[interface_4893:4895]
x=111
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Name"
colour=0x800000

[interface_4893:4896]
x=111
y=20
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_4893:4897]
x=111
y=40
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_4893:4898]
x=111
y=60
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line3"

[interface_4893:4899]
x=111
y=80
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

