[interface_5:0]
x=12
y=20
type=^IFTYPE_LAYER
width=488
height=36

[interface_5:1]
x=94
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5:0
graphic="tradebacking,0"

[interface_5:2]
x=182
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5:0
graphic="tradebacking,0"

[interface_5:3]
x=270
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5:0
graphic="tradebacking,0"

[interface_5:4]
x=358
y=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5:0
graphic="tradebacking,0"

[interface_5:5]
x=394
y=6

[interface_5:6]
x=6
type=^IFTYPE_GRAPHIC
width=88
height=60
layer=interface_5:0
graphic="tradebacking,0"

[interface_5:7]
x=60
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:8]
x=96
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:9]
x=132
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:10]
x=168
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:11]
x=204
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:12]
x=240
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:13]
x=276
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:14]
x=312
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:15]
x=348
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:16]
x=384
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:17]
x=420
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:18]
x=428
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:19]
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_5:0
graphic="steelborder,0"

[interface_5:20]
x=60
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:21]
x=96
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:22]
x=132
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:23]
x=168
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:24]
x=204
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:25]
x=240
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:26]
x=276
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:27]
x=312
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:28]
x=348
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:29]
x=384
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:30]
x=420
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:31]
x=25
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:32]
x=463
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_5:0
graphic="steelborder,1"

[interface_5:33]
x=427
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="steelborder2,0"

[interface_5:34]
x=463
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_5:0
graphic="steelborder,3"

[interface_5:35]
x=25
y=16
type=^IFTYPE_GRAPHIC
width=36
height=36
layer=interface_5:0
graphic="miscgraphics,3"

[interface_5:36]
y=7
type=^IFTYPE_GRAPHIC
width=25
height=30
layer=interface_5:0
graphic="steelborder,2"

[interface_5:37]
x=239
y=145
type=^IFTYPE_MODEL
width=35
height=35
model=3035
zoom=525
xan=395

[interface_5:38]
x=75
y=30
type=^IFTYPE_TEXT
width=360
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="The Blurberry Cocktail Guide"
colour=0xFFFF00
shadowed=yes

[interface_5:39]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_5:40]
x=125
y=120
type=^IFTYPE_TEXT
width=125
height=122
font=^QUILL
text="line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8"

[interface_5:41]
x=75
y=200
type=^IFTYPE_MODEL
width=32
height=32
zoom=283
xan=124
yan=1916

[interface_5:42]
x=75
y=80
type=^IFTYPE_TEXT
width=150
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="title1"
colour=0x800000

[interface_5:43]
x=285
y=80
type=^IFTYPE_TEXT
width=200
height=182
font=^QUILL
text="line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8\nline9\nline10\nline11\nline12"

[interface_5:44]
x=34
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_5:45]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_5:44
graphic="leftarrow,0"

[interface_5:46]
x=432
y=259
type=^IFTYPE_LAYER
width=45
height=36

[interface_5:47]
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=45
height=36
layer=interface_5:46
graphic="rightarrow,0"

[interface_5:48]
x=20
y=28
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=28
height=11
font=^PLAIN_SMALL
text="Index"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

