[interface_50:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_50:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_50:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_50:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_50:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_50:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_50:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_50:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_50:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_50:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_50:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_50:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_50:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_50:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_50:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_50:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_50:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:50]
x=253
y=299

[interface_50:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:57]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:58]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:61]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_50:71]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_50:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_50:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_50:75]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:76]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:77]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:78]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:79]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:80]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:81]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:82]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:83]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:84]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:85]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:86]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:87]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_50:88]
x=26
y=56
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=13
script1op1=1
script1op2=12
script1op3=0
model=2540
activemodel=2540
zoom=400
xan=500

[interface_50:89]
x=154
y=48
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=0
script1op1=1
script1op2=12
script1op3=0
model=2649
activemodel=2649
zoom=500
xan=500

[interface_50:90]
x=282
y=72
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=6
script1op1=1
script1op2=12
script1op3=0
model=2837
activemodel=2837
zoom=400
xan=100
yan=100

[interface_50:91]
x=426
y=59
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=10
script1op1=1
script1op2=12
script1op3=0
model=2656
activemodel=2656
zoom=350
xan=600

[interface_50:92]
x=33
y=159
type=^IFTYPE_TEXT
width=51
height=17
scriptc1=3
scriptv1=13
script1op1=1
script1op2=12
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Armour"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_50:93]
x=164
y=160
type=^IFTYPE_TEXT
width=41
height=17
scriptc1=3
scriptv1=0
script1op1=1
script1op2=12
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Gloves"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_50:94]
x=295
y=159
type=^IFTYPE_TEXT
width=36
height=17
scriptc1=3
scriptv1=6
script1op1=1
script1op2=12
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Boots"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_50:95]
x=404
y=158
type=^IFTYPE_TEXT
width=71
height=17
scriptc1=3
scriptv1=10
script1op1=1
script1op2=12
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Vambraces"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_50:96]
x=150
y=27
type=^IFTYPE_TEXT
width=211
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="What would you like to make ?"
colour=0xFFFF00

[interface_50:97]
x=91
y=195
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=17
script1op1=1
script1op2=12
script1op3=0
model=2555
activemodel=2555
zoom=700
xan=500

[interface_50:98]
x=105
y=287
type=^IFTYPE_TEXT
width=35
height=14
scriptc1=3
scriptv1=17
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
text="Chaps"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_50:99]
x=220
y=204
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
scriptc1=3
scriptv1=37
script1op1=1
script1op2=12
script1op3=0
model=2541
activemodel=2541
zoom=350
xan=150
yan=100

[interface_50:100]
x=348
y=202
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=350
xan=150
yan=100

[interface_50:101]
x=237
y=288
type=^IFTYPE_TEXT
width=23
height=14
scriptc1=3
scriptv1=37
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
text="Coif"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_50:102]
x=365
y=288
type=^IFTYPE_TEXT
width=24
height=14
scriptc1=3
scriptv1=8
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
text="Cowl"
colour=0xCC0000
activecolour=0x0099FF
shadowed=yes

[interface_50:103]
x=21
y=98
type=^IFTYPE_TEXT
width=4
height=2
scriptc1=2
scriptv1=14
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_50:104]
x=147
y=99
type=^IFTYPE_TEXT
width=4
height=4
scriptc1=2
scriptv1=1
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_50:105]
x=276
y=99
type=^IFTYPE_TEXT
width=4
height=4
scriptc1=2
scriptv1=7
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_50:106]
x=401
y=100
type=^IFTYPE_TEXT
width=4
height=2
scriptc1=2
scriptv1=11
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_50:107]
x=86
y=229
type=^IFTYPE_TEXT
width=4
height=4
scriptc1=2
scriptv1=18
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_50:108]
x=215
y=229
type=^IFTYPE_TEXT
width=4
height=4
scriptc1=2
scriptv1=38
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_50:109]
x=341
y=229
type=^IFTYPE_TEXT
width=4
height=4
scriptc1=2
scriptv1=9
script1op1=1
script1op2=12
script1op3=0
font=^PLAIN
activetext=Not Available
activecolour=0xCC0000

[interface_50:110]
x=415
y=29
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=72
height=14
font=^PLAIN
text="Close window"
colour=0xCC0000
shadowed=yes

