[interface_53:0]
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

[interface_53:1]
y=31
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option1"
overcolour=0x00C000

[interface_53:2]
y=63
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option2"
overcolour=0x00C000

[interface_53:3]
x=126
y=1
type=^IFTYPE_LAYER
width=229
height=13

[interface_53:4]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_53:3
graphic="sworddecor,1"

[interface_53:5]
x=172
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_53:3
graphic="sworddecor,0"

[interface_53:6]
x=2
y=1
type=^IFTYPE_LAYER
width=476
height=13
hide=yes

[interface_53:7]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_53:6
graphic="sworddecor,1"

[interface_53:8]
x=419
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_53:6
graphic="sworddecor,0"

