[interface_55:0]
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

[interface_55:1]
y=16
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option1"
overcolour=0x00C000

[interface_55:2]
y=36
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option2"
overcolour=0x00C000

[interface_55:3]
y=56
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option3"
overcolour=0x00C000

[interface_55:4]
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option4"
overcolour=0x00C000

[interface_55:5]
x=126
y=1
type=^IFTYPE_LAYER
width=229
height=13

[interface_55:6]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_55:5
graphic="sworddecor,1"

[interface_55:7]
x=172
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_55:5
graphic="sworddecor,0"

[interface_55:8]
x=2
y=1
type=^IFTYPE_LAYER
width=476
height=13
hide=yes

[interface_55:9]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_55:8
graphic="sworddecor,1"

[interface_55:10]
x=419
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_55:8
graphic="sworddecor,0"

