[interface_5596]
type=^IFTYPE_LAYER
width=512
height=334

[interface_5596:5597]
x=240
y=141
type=^IFTYPE_MODEL
width=32
height=32
model=3033
zoom=491
xan=484
yan=3

[interface_5596:5598]
x=96
y=97
type=^IFTYPE_MODEL
width=32
height=32
model=1842
zoom=591
xan=155
yan=2037

[interface_5596:5599]
x=98
y=154
type=^IFTYPE_MODEL
width=32
height=32
model=2386
zoom=385
xan=218
yan=115

[interface_5596:5600]
x=93
y=254
type=^IFTYPE_MODEL
width=32
height=32
model=2504
zoom=478
xan=148
yan=1752

[interface_5596:5601]
x=163
y=92
type=^IFTYPE_TEXT
width=256
height=17
font=^QUILL
text="Use rope to repair the Trawler's nets."
colour=0x4A4028

[interface_5596:5602]
x=160
y=152
type=^IFTYPE_TEXT
width=221
height=17
font=^QUILL
text="Use Swamp Paste to repair leaks"
colour=0x4A4028

[interface_5596:5603]
x=161
y=174
type=^IFTYPE_TEXT
width=113
height=17
font=^QUILL
text="in the Ship's hull."
colour=0x4A4028

[interface_5596:5604]
x=161
y=227
type=^IFTYPE_TEXT
width=232
height=17
font=^QUILL
text="If all else fails you can always try"
colour=0x4A4028

[interface_5596:5605]
x=162
y=249
type=^IFTYPE_TEXT
width=202
height=17
font=^QUILL
text="and bail the water out as well!"
colour=0x4A4028

[interface_5596:5606]
x=219
y=60
type=^IFTYPE_TEXT
width=85
height=17
font=^QUILL
text="How to play:"
colour=0xE5BD5D
shadowed=yes

[interface_5596:5607]
x=430
y=7
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=74
height=14
font=^PLAIN
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

