[interface_56:0]
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

[interface_56:1]
y=15
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=16
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option1"
overcolour=0x00C000

[interface_56:2]
y=31
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=16
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option2"
overcolour=0x00C000

[interface_56:3]
y=47
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=16
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option3"
overcolour=0x00C000

[interface_56:4]
y=63
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=16
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option4"
overcolour=0x00C000

[interface_56:5]
y=79
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=480
height=16
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="option5"
overcolour=0x00C000

[interface_56:6]
x=126
y=1
type=^IFTYPE_LAYER
width=229
height=13

[interface_56:7]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_56:6
graphic="sworddecor,1"

[interface_56:8]
x=172
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_56:6
graphic="sworddecor,0"

[interface_56:9]
x=2
y=1
type=^IFTYPE_LAYER
width=476
height=13
hide=yes

[interface_56:10]
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_56:9
graphic="sworddecor,1"

[interface_56:11]
x=419
type=^IFTYPE_GRAPHIC
width=57
height=13
layer=interface_56:9
graphic="sworddecor,0"

