[interface_57:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_57:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_57:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_57:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_57:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_57:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_57:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_57:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_57:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_57:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_57:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_57:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_57:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_57:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_57:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_57:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_57:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:50]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:57]
x=108
y=5

[interface_57:58]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:61]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_57:71]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_57:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_57:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_57:75]
x=65
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=120
zoom=1200
yan=200

[interface_57:76]
x=190
y=30
type=^IFTYPE_TEXT
width=130
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Hairdressers' Salon"
colour=0xFFFF00
shadowed=yes

[interface_57:77]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_57:78]
x=150
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=103
zoom=1200
yan=200

[interface_57:79]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:80]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:81]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:82]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:83]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:84]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:85]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:86]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:87]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:88]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:89]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:90]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:91]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_57:92]
x=235
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=110
zoom=1200
yan=200

[interface_57:93]
x=320
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=113
zoom=1200
yan=200

[interface_57:94]
x=65
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=118
zoom=1200
yan=200

[interface_57:95]
x=150
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=114
zoom=1200
yan=200

[interface_57:96]
x=235
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=125
zoom=1200
yan=200

[interface_57:97]
x=320
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=105
zoom=1200
yan=200

[interface_57:98]
x=405
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=115
zoom=1200
yan=200

[interface_57:99]
x=405
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=104
zoom=1200
yan=200

[interface_57:100]
x=390
y=290
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=55
height=14
font=^BOLD
text="CONFIRM"
colour=0x00FF00
overcolour=0xFF0000
shadowed=yes

[interface_57:101]
x=134
y=259
type=^IFTYPE_RECTANGLE
width=243
height=23
fill=yes

[interface_57:102]
x=135
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x494034

[interface_57:103]
x=155
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xD6D1D1

[interface_57:104]
x=175
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x76756C

[interface_57:105]
x=195
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x2F2A2A

[interface_57:106]
x=215
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xCB823E

[interface_57:107]
x=235
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xCDAD53

[interface_57:108]
x=255
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x885F29

[interface_57:109]
x=275
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x50321E

[interface_57:110]
x=295
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x008383

[interface_57:111]
x=315
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x008300

[interface_57:112]
x=335
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x9F2800

[interface_57:113]
x=355
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xBE00C0

[interface_57:114]
x=198
y=233
type=^IFTYPE_TEXT
width=114
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Please select colour"
colour=0xFFFF00
shadowed=yes

[interface_57:115]
x=85
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_57:116]
x=170
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_57:117]
x=260
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_57:118]
x=345
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_57:119]
x=430
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_57:120]
x=85
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_57:121]
x=170
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_57:122]
x=260
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_57:123]
x=340
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_57:124]
x=430
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_57:125]
x=135
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=1
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:126]
x=155
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=2
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:127]
x=175
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=3
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:128]
x=195
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=4
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:129]
x=215
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=5
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:130]
x=235
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=6
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:131]
x=255
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=7
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:132]
x=275
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=8
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:133]
x=295
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=9
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:134]
x=315
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=10
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:135]
x=335
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=11
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:136]
x=355
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=12
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_57:137]
x=55
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0

[interface_57:138]
x=141
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0

[interface_57:139]
x=224
y=82
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0

[interface_57:140]
x=310
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0

[interface_57:141]
x=394
y=84
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0

[interface_57:142]
x=54
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0

[interface_57:143]
x=137
y=162
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0

[interface_57:144]
x=224
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0

[interface_57:145]
x=307
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=9
script1op1=5
script1op2=261
script1op3=0

[interface_57:146]
x=394
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=10
script1op1=5
script1op2=261
script1op3=0

