[interface_5710]
type=^IFTYPE_LAYER
width=512
height=334

[interface_5710:5711]
x=40
y=60
type=^IFTYPE_MODEL
width=32
height=32
zoom=400
xan=40
yan=1882

[interface_5710:5712]
x=111
y=45
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_5710:5713]
x=111
y=13
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_5710:5714]
x=111
y=80
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

