[interface_58:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_58:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_58:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_58:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_58:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_58:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_58:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_58:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_58:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_58:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_58:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_58:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_58:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_58:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_58:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_58:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_58:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:50]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:57]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:58]
x=144
y=5

[interface_58:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:61]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_58:71]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_58:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_58:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_58:75]
x=190
y=30
type=^IFTYPE_TEXT
width=130
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Hairdressers' Salon"
colour=0xFFFF00
shadowed=yes

[interface_58:76]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_58:77]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:78]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:79]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:80]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:81]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:82]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:83]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:84]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:85]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:86]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:87]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:88]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:89]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_58:90]
x=65
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=63
zoom=1200
yan=200

[interface_58:91]
x=150
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=49
zoom=1200
yan=200

[interface_58:92]
x=235
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=52
zoom=1200
yan=200

[interface_58:93]
x=320
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=55
zoom=1200
yan=200

[interface_58:94]
x=405
y=95
type=^IFTYPE_MODEL
width=32
height=32
model=59
zoom=1200
yan=200

[interface_58:95]
x=65
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=53
zoom=1200
yan=200

[interface_58:96]
x=150
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=67
zoom=1200
yan=200

[interface_58:97]
x=235
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=46
zoom=1200
yan=200

[interface_58:98]
x=320
y=175
type=^IFTYPE_MODEL
width=32
height=32
model=45
zoom=1200
yan=200

[interface_58:99]
x=390
y=290
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=55
height=14
font=^BOLD
text="CONFIRM"
colour=0x00FF00
overcolour=0xFF0000
shadowed=yes

[interface_58:100]
x=134
y=259
type=^IFTYPE_RECTANGLE
width=243
height=23
fill=yes

[interface_58:101]
x=135
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x494034

[interface_58:102]
x=155
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xD6D1D1

[interface_58:103]
x=175
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x76756C

[interface_58:104]
x=195
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x2F2A2A

[interface_58:105]
x=215
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xCB823E

[interface_58:106]
x=235
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xCDAD53

[interface_58:107]
x=255
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x885F29

[interface_58:108]
x=275
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x50321E

[interface_58:109]
x=295
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x008383

[interface_58:110]
x=315
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x008300

[interface_58:111]
x=335
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0x9F2800

[interface_58:112]
x=355
y=260
type=^IFTYPE_RECTANGLE
width=20
height=20
fill=yes
colour=0xBE00C0

[interface_58:113]
x=198
y=233
type=^IFTYPE_TEXT
width=114
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Please select colour"
colour=0xFFFF00
shadowed=yes

[interface_58:114]
x=85
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_58:115]
x=170
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_58:116]
x=260
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_58:117]
x=345
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_58:118]
x=430
y=115
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_58:119]
x=85
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_58:120]
x=170
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_58:121]
x=260
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_58:122]
x=340
y=195
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_58:123]
x=135
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=1
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:124]
x=155
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=2
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:125]
x=175
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=3
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:126]
x=195
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=4
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:127]
x=215
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=5
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:128]
x=235
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=6
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:129]
x=255
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=7
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:130]
x=275
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=8
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:131]
x=295
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=9
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:132]
x=315
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=10
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:133]
x=335
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=11
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:134]
x=355
y=260
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=20
height=20
scriptc1=1
scriptv1=12
script1op1=5
script1op2=262
script1op3=0
activegraphic="headicons,1"

[interface_58:135]
x=55
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0

[interface_58:136]
x=141
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0

[interface_58:137]
x=224
y=82
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0

[interface_58:138]
x=310
y=83
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0

[interface_58:139]
x=394
y=84
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0

[interface_58:140]
x=54
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0

[interface_58:141]
x=137
y=162
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0

[interface_58:142]
x=224
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0

[interface_58:143]
x=307
y=163
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=50
height=50
scriptc1=1
scriptv1=9
script1op1=5
script1op2=261
script1op3=0

