[interface_5875]
type=^IFTYPE_LAYER
width=512
height=334

[interface_5875:5876]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5877]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5878]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5879]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5880]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5881]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5882]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5883]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5884]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5885]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5886]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5887]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5888]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5889]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5890]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5891]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5892]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5893]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5894]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5895]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5896]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5897]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5898]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5899]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5900]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5901]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5902]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5903]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5904]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5905]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_5875:5906]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_5875:5907]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5875:5908]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5875:5909]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5875:5910]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5875:5911]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5875:5912]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5875:5913]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_5875:5914]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5875:5915]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5875:5916]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5875:5917]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5875:5918]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5875:5919]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5875:5920]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_5875:5921]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5922]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5923]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5924]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5925]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5926]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5927]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5928]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5929]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5930]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5931]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5932]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5933]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5934]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5935]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5936]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5937]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5938]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5939]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5940]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5941]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5942]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5943]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5944]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5945]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5946]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_5875:5947]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_5875:5948]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5949]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_5875:5950]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_5875:5951]
x=216
y=28
type=^IFTYPE_TEXT
width=88
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Report abuse"
colour=0xFFFF00
shadowed=yes

[interface_5875:5952]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_5875:5953]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5954]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5955]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5956]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5957]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5958]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5959]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5960]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5961]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5962]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5963]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5964]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5965]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_5875:5966]
x=84
y=55
type=^IFTYPE_TEXT
width=343
height=14
font=^PLAIN
text="This form is for reporting players who are breaking our rules."
colour=0xFFFFFF
shadowed=yes

[interface_5875:5967]
x=74
y=70
type=^IFTYPE_TEXT
width=357
height=14
font=^PLAIN
text="Using it sends a snapshot of the last 60 secs of activity to us."
colour=0xFFFFFF
shadowed=yes

[interface_5875:5968]
x=130
y=85
type=^IFTYPE_TEXT
width=242
height=14
font=^PLAIN
text="If you misuse this form, you will be banned."
colour=0xFF8000
shadowed=yes

[interface_5875:5969]
x=75
y=180
type=^IFTYPE_TEXT
width=362
height=14
font=^PLAIN
text="Then click below to indicate which of our 12 rules is being broken."
colour=0xFFFF00
shadowed=yes

[interface_5875:5970]
x=39
y=196
type=^IFTYPE_TEXT
width=441
height=14
font=^PLAIN
text="For a detailed explanation of each rule please read the manual on our website."
colour=0xFFFF00
shadowed=yes

[interface_5875:5971]
x=59
y=220
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=601
width=125
height=14
font=^PLAIN
text="1: Offensive language"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5972]
x=57
y=235
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=602
width=96
height=14
font=^PLAIN
text="2: Item scamming"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5973]
x=58
y=250
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=603
width=125
height=14
font=^PLAIN
text="3: Password scamming"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5974]
x=58
y=265
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=604
width=72
height=14
font=^PLAIN
text="4: Bug abuse"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5975]
x=58
y=280
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=605
width=166
height=14
font=^PLAIN
text="5: Jagex staff impersonation"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5976]
x=58
y=295
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=606
width=153
height=14
font=^PLAIN
text="6: Account sharing/trading"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5977]
x=276
y=220
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=607
width=63
height=14
font=^PLAIN
text="7: Macroing"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5978]
x=274
y=235
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=608
width=115
height=14
font=^PLAIN
text="8: Multiple logging in"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5979]
x=274
y=250
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=609
width=206
height=14
font=^PLAIN
text="9: Encouraging others to break rules"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5980]
x=268
y=265
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=610
width=180
height=14
font=^PLAIN
text="10: Misuse of customer support"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5981]
x=270
y=280
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=611
width=139
height=14
font=^PLAIN
text="11: Advertising / website"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5982]
x=268
y=295
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=612
width=147
height=14
font=^PLAIN
text="12: Real world item trading"
colour=0xFFFFFF
overcolour=0xFF0000
shadowed=yes

[interface_5875:5983]
x=91
y=118
type=^IFTYPE_TEXT
width=330
height=14
font=^PLAIN
text="First please enter the name of the offending player below:"
colour=0xFFFF00
shadowed=yes

[interface_5875:5984]
x=233
y=137
type=^IFTYPE_TEXT
clientcode=600
width=58
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Andrew*"
colour=0xFFFFFF
shadowed=yes

[interface_5875:5985]
x=118
y=154
type=^IFTYPE_TEXT
buttontype=^BUTTON
clientcode=613
width=284
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Moderator option: Mute player for 48 hours: <OFF>"
colour=0xFFFFFF
shadowed=yes

[interface_5875:5986]
x=27
y=213
type=^IFTYPE_MODEL
width=31
height=34
model=3180
zoom=578
xan=1489
yan=1024

[interface_5875:5987]
x=437
y=213
type=^IFTYPE_MODEL
width=32
height=32
model=3180
zoom=578
xan=1489
yan=1024

