[interface_59:0]
x=2
y=5
type=^IFTYPE_GRAPHIC
width=57
height=13
graphic="sworddecor,1"

[interface_59:1]
x=56
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=64
zoom=100
xan=100
yan=100

[interface_59:2]
x=207
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=64
zoom=400

[interface_59:3]
x=360
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=64
zoom=400

[interface_59:4]
x=12
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=152
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_59:5]
x=164
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=152
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_59:6]
x=316
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=152
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_59:7]
x=8
y=3
type=^IFTYPE_TEXT
width=464
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

[interface_59:8]
x=396
y=5
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=72
height=14
font=^PLAIN
text="Close window"
colour=0xFFFF00
shadowed=yes

