[interface_60:0]
x=244
y=152
type=^IFTYPE_MODEL
width=35
height=35
model=3044
zoom=651
xan=2041
yan=6

[interface_60:1]
x=120
y=110
type=^IFTYPE_TEXT
width=276
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Choose the stat you wish to be advanced!"
colour=0xFFFF00
shadowed=yes

[interface_60:2]
x=433
y=12
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0x808080
overcolour=0xFFFFFF
shadowed=yes

[interface_60:3]
x=148
y=140
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=79
script1op3=0
option="Advance Attack"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:4]
x=180
y=140
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=79
script1op3=0
option="Advance Strength"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:5]
x=212
y=140
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=79
script1op3=0
option="Advance Ranged"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:6]
x=244
y=140
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=79
script1op3=0
option="Advance Magic"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:7]
x=276
y=140
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=79
script1op3=0
option="Advance Defence"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:8]
x=308
y=140
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=79
script1op3=0
option="Advance Hitpoints"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:9]
x=340
y=140
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=79
script1op3=0
option="Advance Prayer"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:10]
x=180
y=176
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=79
script1op3=0
option="Advance Agility"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:11]
x=212
y=176
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=79
script1op3=0
option="Advance Herblore"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:12]
x=244
y=176
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=79
script1op3=0
option="Advance Thieving"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:13]
x=276
y=176
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=79
script1op3=0
option="Advance Crafting"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:14]
x=308
y=176
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=79
script1op3=0
option="Advance Runecraft"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:15]
x=148
y=212
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=79
script1op3=0
option="Advance Mining"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:16]
x=180
y=212
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=79
script1op3=0
option="Advance Smithing"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:17]
x=212
y=212
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=79
script1op3=0
option="Advance Fishing"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:18]
x=244
y=212
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=79
script1op3=0
option="Advance Cooking"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:19]
x=276
y=212
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=17
script1op1=5
script1op2=79
script1op3=0
option="Advance Firemaking"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:20]
x=308
y=212
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=18
script1op1=5
script1op2=79
script1op3=0
option="Advance Woodcutting"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:21]
x=340
y=212
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
width=25
height=25
scriptc1=1
scriptv1=19
script1op1=5
script1op2=79
script1op3=0
option="Advance Fletching"
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_60:22]
x=232
y=244
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=44
height=14
font=^PLAIN
text="Confirm"
colour=0x00C000
shadowed=yes

[interface_60:23]
x=148
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,0"

[interface_60:24]
x=180
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,1"

[interface_60:25]
x=212
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,3"

[interface_60:26]
x=244
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,5"

[interface_60:27]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,2"

[interface_60:28]
x=308
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,6"

[interface_60:29]
x=340
y=140
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,4"

[interface_60:30]
x=180
y=176
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,7"

[interface_60:31]
x=212
y=176
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,8"

[interface_60:32]
x=244
y=176
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,9"

[interface_60:33]
x=276
y=176
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,10"

[interface_60:34]
x=308
y=176
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons2,0"

[interface_60:35]
x=148
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,12"

[interface_60:36]
x=180
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,13"

[interface_60:37]
x=212
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,14"

[interface_60:38]
x=244
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,15"

[interface_60:39]
x=276
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,16"

[interface_60:40]
x=308
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,17"

[interface_60:41]
x=340
y=212
type=^IFTYPE_GRAPHIC
width=25
height=25
graphic="staticons,11"

