[interface_61:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_61:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_61:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_61:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_61:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_61:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_61:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_61:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_61:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_61:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_61:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_61:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_61:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_61:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_61:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_61:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_61:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:50]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:57]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:58]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:61]
x=252
y=5

[interface_61:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_61:71]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_61:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_61:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_61:75]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:76]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:77]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:78]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:79]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:80]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:81]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:82]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:83]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:84]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:85]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:86]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:87]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_61:88]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_61:89]
x=154
y=30
type=^IFTYPE_TEXT
width=199
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Thessalias' Makeovers (Torso)"
colour=0xFFFF00
shadowed=yes

[interface_61:90]
x=59
y=249
type=^IFTYPE_RECTANGLE
width=403
height=28
fill=yes

[interface_61:91]
x=60
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=263
script1op3=0
option="Khaki"
fill=yes
colour=0x7B6E32

[interface_61:92]
x=85
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=263
script1op3=0
option="Black"
fill=yes
colour=0x262323

[interface_61:93]
x=110
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=263
script1op3=0
option="Crimson"
fill=yes
colour=0x752F3B

[interface_61:94]
x=135
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=263
script1op3=0
option="Navy"
fill=yes
colour=0x3B3B4E

[interface_61:95]
x=160
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=263
script1op3=0
option="Straw"
fill=yes
colour=0xAA9045

[interface_61:96]
x=185
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=263
script1op3=0
option="White"
fill=yes
colour=0xBEB89C

[interface_61:97]
x=210
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=263
script1op3=0
option="Red"
fill=yes
colour=0x8B3B2A

[interface_61:98]
x=235
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=263
script1op3=0
option="Blue"
fill=yes
colour=0x2D5272

[interface_61:99]
x=260
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=263
script1op3=0
option="Green"
fill=yes
colour=0x2D723E

[interface_61:100]
x=285
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=263
script1op3=0
option="Yellow"
fill=yes
colour=0xA3970D

[interface_61:101]
x=310
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=263
script1op3=0
option="Purple"
fill=yes
colour=0x83537B

[interface_61:102]
x=335
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=263
script1op3=0
option="Orange"
fill=yes
colour=0x9D642F

[interface_61:103]
x=360
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=263
script1op3=0
option="Rose"
fill=yes
colour=0xA17067

[interface_61:104]
x=385
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=263
script1op3=0
option="Lime"
fill=yes
colour=0x829472

[interface_61:105]
x=410
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=263
script1op3=0
option="Cyan"
fill=yes
colour=0x728C94

[interface_61:106]
x=435
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=263
script1op3=0
option="Emerald"
fill=yes
colour=0x1C6135

[interface_61:107]
x=197
y=289
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=127
height=14
font=^BOLD
text="CONFIRM (500 gold)"
colour=0x00FF00
overcolour=0xFF0000
shadowed=yes

[interface_61:108]
x=59
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:109]
x=84
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:110]
x=109
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:111]
x=134
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:112]
x=160
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:113]
x=185
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:114]
x=210
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:115]
x=235
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:116]
x=260
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:117]
x=285
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:118]
x=310
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:119]
x=335
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:120]
x=360
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:121]
x=385
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:122]
x=410
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:123]
x=435
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_61:124]
x=208
y=64
type=^IFTYPE_TEXT
width=98
height=14
font=^PLAIN
text="Select body style"
colour=0xFFFF00
shadowed=yes

[interface_61:125]
x=207
y=148
type=^IFTYPE_TEXT
width=98
height=14
font=^PLAIN
text="Select arms style"
colour=0xFFFF00
shadowed=yes

[interface_61:126]
x=220
y=225
type=^IFTYPE_TEXT
width=73
height=14
font=^PLAIN
text="Select colour"
colour=0xFFFF00
shadowed=yes

[interface_61:127]
x=50
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:128]
x=114
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:129]
x=176
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:130]
x=240
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:131]
x=302
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:132]
x=358
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:133]
x=420
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=297
zoom=800

[interface_61:134]
x=50
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:135]
x=114
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:136]
x=176
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:137]
x=240
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:138]
x=302
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:139]
x=358
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=292
zoom=800

[interface_61:140]
x=50
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=173
zoom=800

[interface_61:141]
x=114
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=173
zoom=800

[interface_61:142]
x=176
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=173
zoom=800

[interface_61:143]
x=240
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=173
zoom=800

[interface_61:144]
x=302
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=173
zoom=800

[interface_61:145]
x=358
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=173
zoom=800

[interface_61:146]
x=420
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=173
zoom=800

[interface_61:147]
x=50
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=151
zoom=800

[interface_61:148]
x=114
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=167
zoom=800

[interface_61:149]
x=176
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=170
zoom=800

[interface_61:150]
x=240
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=162
zoom=800

[interface_61:151]
x=302
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=163
zoom=800

[interface_61:152]
x=358
y=265
type=^IFTYPE_MODEL
width=32
height=32
model=158
zoom=800

[interface_61:153]
x=113
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=322
zoom=800

[interface_61:154]
x=175
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=320
zoom=800

[interface_61:155]
x=239
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=326
zoom=800

[interface_61:156]
x=301
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=324
zoom=800

[interface_61:157]
x=357
y=185
type=^IFTYPE_MODEL
width=32
height=32
model=327
zoom=800

[interface_61:158]
x=53
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
option="Plain"
activegraphic="headicons,1"

[interface_61:159]
x=117
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
option="Light buttons"
activegraphic="headicons,1"

[interface_61:160]
x=179
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
option="Jacket"
activegraphic="headicons,1"

[interface_61:161]
x=243
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
option="Dark buttons"
activegraphic="headicons,1"

[interface_61:162]
x=305
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
option="Stitching"
activegraphic="headicons,1"

[interface_61:163]
x=361
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0
option="Shirt"
activegraphic="headicons,1"

[interface_61:164]
x=422
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0
option="Two-toned"
activegraphic="headicons,1"

[interface_61:165]
x=52
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=262
script1op3=0
option="Regular"
activegraphic="headicons,1"

[interface_61:166]
x=116
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=262
script1op3=0
option="Musclebound"
activegraphic="headicons,1"

[interface_61:167]
x=178
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=262
script1op3=0
option="Loose sleeved"
activegraphic="headicons,1"

[interface_61:168]
x=242
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=262
script1op3=0
option="Large cuffed"
activegraphic="headicons,1"

[interface_61:169]
x=304
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=262
script1op3=0
option="Thin sleeved"
activegraphic="headicons,1"

[interface_61:170]
x=360
y=180
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=262
script1op3=0
option="Shoulder pads"
activegraphic="headicons,1"

