[interface_6173]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6173:6174]
x=34
y=34
type=^IFTYPE_MODEL
width=32
height=32
zoom=796
xan=40
yan=1882

[interface_6173:6175]
x=111
y=16
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_6173:6176]
x=111
y=32
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_6173:6177]
x=111
y=48
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line3"

[interface_6173:6178]
x=111
y=64
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line4"

