[interface_6179]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6179:6180]
y=5
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Title"
colour=0x0000FF

[interface_6179:6181]
y=26
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_6179:6182]
y=42
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_6179:6183]
y=58
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line3"

[interface_6179:6184]
y=74
type=^IFTYPE_TEXT
width=480
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line4"

