[interface_62:0]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_62:1]
x=239
y=155
type=^IFTYPE_MODEL
width=32
height=32
model=3044
zoom=525

[interface_62:2]
x=82
y=82
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:3]
x=82
y=98
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:4]
x=82
y=114
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:5]
x=82
y=131
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:6]
x=82
y=148
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:7]
x=82
y=165
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:8]
x=82
y=182
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:9]
x=82
y=199
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:10]
x=82
y=216
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:11]
x=82
y=233
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:12]
x=82
y=250
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

[interface_62:13]
x=82
y=267
type=^IFTYPE_TEXT
width=354
height=14
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFF0000
shadowed=yes

