[interface_638]
type=^IFTYPE_LAYER
width=512
height=334

[interface_638:639]
x=5
y=20
type=^IFTYPE_LAYER
width=168
height=229
scrollheight=875

[interface_639:663]
x=5
y=8
type=^IFTYPE_TEXT
width=84
height=14
layer=interface_639:638
font=^BOLD
text="FREE QUESTS:"
colour=0xF99B15
shadowed=yes

[interface_639:7332]
x=10
y=23
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=130
height=14
layer=interface_639:638
font=^PLAIN
text="Black Knight's Fortress"
colour=0xFF0000
shadowed=yes

[interface_639:7333]
x=10
y=39
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=96
height=14
layer=interface_639:638
font=^PLAIN
text="Cook's Assistant"
colour=0xFF0000
shadowed=yes

[interface_639:7334]
x=10
y=55
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=76
height=14
layer=interface_639:638
font=^PLAIN
text="Demon Slayer"
colour=0xFF0000
shadowed=yes

[interface_639:7335]
x=10
y=223
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=125
height=14
layer=interface_639:638
font=^PLAIN
text="Rune Mysteries Quest"
colour=0xFF0000
shadowed=yes

[interface_639:7336]
x=10
y=71
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=75
height=14
layer=interface_639:638
font=^PLAIN
text="Doric's Quest"
colour=0xFF0000
shadowed=yes

[interface_639:7337]
x=10
y=192
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=109
height=14
layer=interface_639:638
font=^PLAIN
text="The Restless Ghost"
colour=0xFF0000
shadowed=yes

[interface_639:7338]
x=10
y=117
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=94
height=14
layer=interface_639:638
font=^PLAIN
text="Goblin Diplomacy"
colour=0xFF0000
shadowed=yes

[interface_639:7339]
x=10
y=102
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=105
height=14
layer=interface_639:638
font=^PLAIN
text="Ernest the Chicken"
colour=0xFF0000
shadowed=yes

[interface_639:7340]
x=10
y=147
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=66
height=14
layer=interface_639:638
font=^PLAIN
text="Imp Catcher"
colour=0xFF0000
shadowed=yes

[interface_639:7341]
x=10
y=162
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=97
height=13
layer=interface_639:638
font=^PLAIN
text="Pirate's Treasure"
colour=0xFF0000
shadowed=yes

[interface_639:7342]
x=10
y=177
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=96
height=14
layer=interface_639:638
font=^PLAIN
text="Prince Ali Rescue"
colour=0xFF0000
shadowed=yes

[interface_639:7343]
x=10
y=208
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=86
height=14
layer=interface_639:638
font=^PLAIN
text="Romeo & Juliet"
colour=0xFF0000
shadowed=yes

[interface_639:7344]
x=10
y=239
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=83
height=14
layer=interface_639:638
font=^PLAIN
text="Sheep Shearer"
colour=0xFF0000
shadowed=yes

[interface_639:7345]
x=10
y=255
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=85
height=14
layer=interface_639:638
font=^PLAIN
text="Shield of Arrav"
colour=0xFF0000
shadowed=yes

[interface_639:7346]
x=10
y=132
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=104
height=14
layer=interface_639:638
font=^PLAIN
text="The Knight's Sword"
colour=0xFF0000
shadowed=yes

[interface_639:7347]
x=10
y=270
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=84
height=14
layer=interface_639:638
font=^PLAIN
text="Vampire Slayer"
colour=0xFF0000
shadowed=yes

[interface_639:7348]
x=10
y=287
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=79
height=14
layer=interface_639:638
font=^PLAIN
text="Witch's Potion"
colour=0xFF0000
shadowed=yes

[interface_639:7349]
x=10
y=816
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=68
height=14
layer=interface_639:638
font=^PLAIN
text="Watch Tower"
colour=0xFF0000
shadowed=yes

[interface_639:682]
x=10
y=306
type=^IFTYPE_TEXT
width=113
height=14
layer=interface_639:638
font=^BOLD
text="MEMBERS QUESTS:"
colour=0xF99B15
shadowed=yes

[interface_639:7350]
x=10
y=831
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=89
height=14
layer=interface_639:638
font=^PLAIN
text="Waterfall Quest"
colour=0xFF0000
shadowed=yes

[interface_639:7351]
x=10
y=846
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=82
height=14
layer=interface_639:638
font=^PLAIN
text="Witches House"
colour=0xFF0000
shadowed=yes

[interface_639:7352]
x=10
y=339
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=57
height=14
layer=interface_639:638
font=^PLAIN
text="Biohazard"
colour=0xFF0000
shadowed=yes

[interface_639:7353]
x=10
y=354
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=63
height=14
layer=interface_639:638
font=^PLAIN
text="Clock Tower"
colour=0xFF0000
shadowed=yes

[interface_639:7354]
x=10
y=369
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=76
height=14
layer=interface_639:638
font=^PLAIN
text="Digsite Quest"
colour=0xFF0000
shadowed=yes

[interface_639:7355]
x=10
y=385
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=73
height=14
layer=interface_639:638
font=^PLAIN
text="Druidic Ritual"
colour=0xFF0000
shadowed=yes

[interface_639:7356]
x=10
y=401
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=77
height=14
layer=interface_639:638
font=^PLAIN
text="Dwarf Cannon"
colour=0xFF0000
shadowed=yes

[interface_639:7357]
x=10
y=416
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=69
height=14
layer=interface_639:638
font=^PLAIN
text="Family Crest"
colour=0xFF0000
shadowed=yes

[interface_639:7358]
x=10
y=432
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=65
height=14
layer=interface_639:638
font=^PLAIN
text="Fight Arena"
colour=0xFF0000
shadowed=yes

[interface_639:7359]
x=10
y=448
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=88
height=14
layer=interface_639:638
font=^PLAIN
text="Fishing Contest"
colour=0xFF0000
shadowed=yes

[interface_639:7360]
x=10
y=465
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=83
height=14
layer=interface_639:638
font=^PLAIN
text="Gertrude's Cat"
colour=0xFF0000
shadowed=yes

[interface_639:7361]
x=10
y=481
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=83
height=14
layer=interface_639:638
font=^PLAIN
text="The Grand Tree"
colour=0xFF0000
shadowed=yes

[interface_639:7362]
x=10
y=497
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=63
height=14
layer=interface_639:638
font=^PLAIN
text="Hazeel Cult"
colour=0xFF0000
shadowed=yes

[interface_639:7363]
x=10
y=513
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=73
height=14
layer=interface_639:638
font=^PLAIN
text="Hero's Quest"
colour=0xFF0000
shadowed=yes

[interface_639:7364]
x=10
y=530
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=53
height=14
layer=interface_639:638
font=^PLAIN
text="Holy Grail"
colour=0xFF0000
shadowed=yes

[interface_639:7365]
x=10
y=546
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=77
height=14
layer=interface_639:638
font=^PLAIN
text="Jungle Potion"
colour=0xFF0000
shadowed=yes

[interface_639:7366]
x=10
y=562
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=85
height=14
layer=interface_639:638
font=^PLAIN
text="Legends Quest"
colour=0xFF0000
shadowed=yes

[interface_639:7367]
x=10
y=578
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=50
height=14
layer=interface_639:638
font=^PLAIN
text="Lost City"
colour=0xFF0000
shadowed=yes

[interface_639:7368]
x=10
y=594
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=88
height=14
layer=interface_639:638
font=^PLAIN
text="Merlin's Crystal"
colour=0xFF0000
shadowed=yes

[interface_639:7369]
x=10
y=610
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=77
height=14
layer=interface_639:638
font=^PLAIN
text="Monk's Friend"
colour=0xFF0000
shadowed=yes

[interface_639:7370]
x=10
y=626
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=90
height=14
layer=interface_639:638
font=^PLAIN
text="Murder Mystery"
colour=0xFF0000
shadowed=yes

[interface_639:7371]
x=10
y=641
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=109
height=14
layer=interface_639:638
font=^PLAIN
text="Observatory Quest"
colour=0xFF0000
shadowed=yes

[interface_639:7372]
x=10
y=657
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=63
height=14
layer=interface_639:638
font=^PLAIN
text="Plague City"
colour=0xFF0000
shadowed=yes

[interface_639:7373]
x=10
y=672
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=96
height=14
layer=interface_639:638
font=^PLAIN
text="Scorpion Catcher"
colour=0xFF0000
shadowed=yes

[interface_639:7374]
x=10
y=688
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=85
height=14
layer=interface_639:638
font=^PLAIN
text="Sea Slug Quest"
colour=0xFF0000
shadowed=yes

[interface_639:7375]
x=10
y=704
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=76
height=14
layer=interface_639:638
font=^PLAIN
text="Sheep Herder"
colour=0xFF0000
shadowed=yes

[interface_639:7376]
x=10
y=720
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=67
height=14
layer=interface_639:638
font=^PLAIN
text="Shilo Village"
colour=0xFF0000
shadowed=yes

[interface_639:7378]
x=10
y=736
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=80
height=14
layer=interface_639:638
font=^PLAIN
text="Temple of Ikov"
colour=0xFF0000
shadowed=yes

[interface_639:7379]
x=10
y=753
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=88
height=14
layer=interface_639:638
font=^PLAIN
text="The Tourist Trap"
colour=0xFF0000
shadowed=yes

[interface_639:7380]
x=10
y=769
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=105
height=14
layer=interface_639:638
font=^PLAIN
text="Tree Gnome Village"
colour=0xFF0000
shadowed=yes

[interface_639:7381]
x=10
y=785
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=66
height=14
layer=interface_639:638
font=^PLAIN
text="Tribal Totem"
colour=0xFF0000
shadowed=yes

[interface_639:7382]
x=10
y=801
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=105
height=14
layer=interface_639:638
font=^PLAIN
text="Underground Pass"
colour=0xFF0000
shadowed=yes

[interface_639:7383]
x=10
y=86
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=79
height=14
layer=interface_639:638
font=^PLAIN
text="Dragon Slayer"
colour=0xFF0000
shadowed=yes

[interface_639:673]
x=10
y=323
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=135
height=14
layer=interface_639:638
font=^PLAIN
text="Big Chompy Bird Hunting"
colour=0xFF0000
shadowed=yes

[interface_638:640]
x=41
y=4
type=^IFTYPE_TEXT
width=93
height=14
font=^BOLD
text="Quest Journal"
colour=0xFFFF00
shadowed=yes

[interface_638:641]
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_638:642]
x=150
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_638:643]
x=3
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_638:644]
x=146
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_638:645]
x=3
y=219
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_638:646]
x=146
y=219
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_638:647]
x=28
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_638:648]
x=64
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_638:649]
x=100
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_638:650]
x=112
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_638:651]
x=150
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_638:652]
x=150
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_638:653]
x=150
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_638:654]
x=150
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_638:655]
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_638:656]
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_638:657]
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_638:658]
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_638:659]
x=28
y=228
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_638:660]
x=64
y=228
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_638:661]
x=98
y=228
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_638:662]
x=124
y=228
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

