[interface_64:0]
x=181
y=8
type=^IFTYPE_TEXT
width=134
height=14
font=^PLAIN
text="The Region Of Misthalin."
colour=0xFFFF00
shadowed=yes

[interface_64:1]
x=8
y=17
type=^IFTYPE_MODEL
width=500
height=300
zoom=490
xan=500

[interface_64:2]
x=345
y=63
type=^IFTYPE_TEXT
width=76
height=14
font=^PLAIN
text="You Are Here:"
colour=0xFFFF00
shadowed=yes

[interface_64:3]
x=371
y=81
type=^IFTYPE_MODEL
width=20
height=20
model=3042
zoom=1200
xan=500

