[interface_6960]
type=^IFTYPE_LAYER
width=512
height=334

[interface_6960:6961]
x=430
y=8
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=74
height=14
font=^PLAIN
text="Close Window"
colour=0xFAD782
overcolour=0xFFFFFF
shadowed=yes

[interface_6960:6962]
x=232
y=158
type=^IFTYPE_MODEL
width=32
height=32
model=3395
zoom=639
xan=511
yan=2047

[interface_6960:6963]
x=239
y=89
type=^IFTYPE_INVENTORY
width=3
height=2

[interface_6960:6964]
x=174
y=212
type=^IFTYPE_MODEL
width=32
height=32
model=1226
zoom=914
xan=104
yan=761

