[interface_7:0]
x=243
y=138
type=^IFTYPE_MODEL
width=35
height=35
model=3032
zoom=650
xan=400

[interface_7:1]
x=209
y=108
type=^IFTYPE_TEXT
width=106
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Congratulations!"
colour=0xFFFF00
shadowed=yes

[interface_7:2]
x=424
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_7:3]
y=134
type=^IFTYPE_TEXT
width=512
height=2
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
colour=0xFFFF00
shadowed=yes

[interface_7:4]
x=117
y=169
type=^IFTYPE_MODEL
width=85
height=105
zoom=1500
xan=11
yan=1849

[interface_7:5]
x=212
y=241
type=^IFTYPE_TEXT
width=69
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Total Points:"
colour=0x0099FF
shadowed=yes

[interface_7:6]
x=285
y=241
type=^IFTYPE_TEXT
width=17
height=14
script1op1=5
script1op2=101
script1op3=0
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="%1"
colour=0x0099FF
shadowed=yes

[interface_7:7]
x=341
y=195

[interface_7:8]
x=212
y=180
type=^IFTYPE_TEXT
width=93
height=14
font=^PLAIN
text="You are awarded"
colour=0x00C000
shadowed=yes

[interface_7:9]
x=256
y=198
type=^IFTYPE_TEXT
width=8
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="0"
colour=0xFF0000
shadowed=yes

[interface_7:10]
x=222
y=214
type=^IFTYPE_TEXT
width=76
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Quest points."
colour=0x00C000
shadowed=yes

