[interface_70:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_70:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_70:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_70:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_70:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_70:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_70:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_70:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_70:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_70:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:48]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:49]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:50]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:51]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:52]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:53]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:54]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:55]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:56]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:57]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:58]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:59]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:60]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:61]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:62]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:63]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:64]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:65]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:66]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:67]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_70:68]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_70:69]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:70]
x=475
y=290

[interface_70:71]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:72]
x=288
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:73]
x=324
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:74]
x=182
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_70:75]
x=396
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:76]
x=252
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:77]
x=432
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:78]
x=458
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:79]
x=216
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:80]
x=180
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:81]
x=144
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:82]
x=108
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:83]
x=72
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:84]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:85]
x=37
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:86]
x=360
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:87]
x=18
y=42
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:88]
x=377
y=96
type=^IFTYPE_INVENTORY_TEXT
width=1
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
colour=0xFFFFFF
shadowed=yes
marginy=2

[interface_70:89]
x=60
y=62
type=^IFTYPE_TEXT
width=146
height=14
font=^BOLD
text="You are about to give:"
colour=0xFFFF00
shadowed=yes

[interface_70:90]
x=290
y=62
type=^IFTYPE_TEXT
width=168
height=14
font=^BOLD
text="In return you will receive:"
colour=0xFFFF00
shadowed=yes

[interface_70:91]
x=139
y=27
type=^IFTYPE_TEXT
width=240
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Are you sure you want to make this trade?"
colour=0x00FFFF
shadowed=yes

[interface_70:92]
x=107
y=43
type=^IFTYPE_TEXT
width=298
height=11
font=^PLAIN_SMALL
text="There is NO WAY to reverse a trade if you change your mind"
colour=0xFFFFFF
shadowed=yes

[interface_70:93]
x=239
y=243
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:94]
x=77
y=96
type=^IFTYPE_INVENTORY_TEXT
width=2
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFFFF
shadowed=yes
marginy=2

[interface_70:95]
x=317
y=96
type=^IFTYPE_INVENTORY_TEXT
width=2
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
colour=0xFFFFFF
shadowed=yes
marginy=2

[interface_70:96]
x=239
y=278
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:97]
x=241
y=275
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:98]
x=136
y=96
type=^IFTYPE_INVENTORY_TEXT
width=1
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
colour=0xFFFFFF
shadowed=yes
marginy=2

[interface_70:99]
x=425
y=27
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_70:100]
x=307
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_70:101]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_70:102]
x=188
y=296
type=^IFTYPE_RECTANGLE
buttontype=^BUTTON
width=66
height=18
fill=yes

[interface_70:103]
x=203
y=297
type=^IFTYPE_TEXT
width=39
height=14
font=^PLAIN
text="Accept"
colour=0x00C000
shadowed=yes

[interface_70:104]
x=260
y=296
type=^IFTYPE_RECTANGLE
buttontype=^CLOSE
width=66
height=18
fill=yes

[interface_70:105]
x=274
y=297
type=^IFTYPE_TEXT
width=40
height=14
font=^PLAIN
text="Decline"
colour=0xC00000
shadowed=yes

[interface_70:106]
x=239
y=99
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:107]
x=239
y=63
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:108]
x=239
y=171
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:109]
x=207
y=275
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:110]
x=239
y=207
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:111]
x=239
y=135
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_70:112]
x=271
y=275
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_70:113]
x=72
y=83
type=^IFTYPE_TEXT
width=129
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Absolutely nothing!"
colour=0xFFFFFF
shadowed=yes

[interface_70:114]
x=311
y=84
type=^IFTYPE_TEXT
width=129
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Absolutely nothing!"
colour=0xFFFFFF
shadowed=yes

