[interface_71:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_71:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_71:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_71:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_71:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_71:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_71:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_71:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_71:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_71:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_71:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_71:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_71:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_71:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_71:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_71:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_71:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:50]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:57]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:58]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:61]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_71:71]
x=475
y=20

[interface_71:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_71:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:75]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:76]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:77]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:78]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:79]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:80]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:81]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:82]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:83]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:84]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:85]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:86]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:87]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:88]
x=36
y=20
type=^IFTYPE_LAYER
width=440
height=299

[interface_71:89]
x=28
y=29
type=^IFTYPE_TEXT
width=457
height=14
font=^BOLD
text="Welcome to RuneScape - Use the buttons below to design your player"
colour=0xFFFF00
shadowed=yes

[interface_71:90]
x=190
y=155
type=^IFTYPE_MODEL
clientcode=327
width=136
height=168
model=2930
zoom=650
xan=150

[interface_71:91]
x=223
y=266
type=^IFTYPE_RECTANGLE
buttontype=^BUTTON
clientcode=326
width=66
height=31
option="Accept"
fill=yes

[interface_71:92]
x=237
y=274
type=^IFTYPE_TEXT
width=39
height=14
font=^PLAIN
text="Accept"
colour=0x00C000
shadowed=yes

[interface_71:93]
x=217
y=260
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_71:94]
x=270
y=260
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_71:95]
x=217
y=273
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_71:96]
x=270
y=273
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_71:97]
x=326
y=74
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=314
width=45
height=36
option="Recolour hair"
graphic="leftarrow,0"

[interface_71:98]
x=90
y=151
type=^IFTYPE_TEXT
width=31
height=14
font=^PLAIN
text="Torso"
colour=0xFFFF00
shadowed=yes

[interface_71:99]
x=27
y=68
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=300
width=45
height=36
option="Change head"
graphic="leftarrow,0"

[interface_71:100]
x=27
y=103
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=302
width=45
height=36
option="Change jaw"
graphic="leftarrow,0"

[interface_71:101]
x=27
y=138
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=304
width=45
height=36
option="Change torso"
graphic="leftarrow,0"

[interface_71:102]
x=27
y=173
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=306
width=45
height=36
option="Change arms"
graphic="leftarrow,0"

[interface_71:103]
x=27
y=208
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=308
width=45
height=36
option="Change hands"
graphic="leftarrow,0"

[interface_71:104]
x=27
y=243
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=310
width=45
height=36
option="Change legs"
graphic="leftarrow,0"

[interface_71:105]
x=27
y=278
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=312
width=45
height=36
option="Change feet"
graphic="leftarrow,0"

[interface_71:106]
x=140
y=68
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=301
width=45
height=36
option="Change head"
graphic="rightarrow,0"

[interface_71:107]
x=140
y=103
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=303
width=45
height=36
option="Change jaw"
graphic="rightarrow,0"

[interface_71:108]
x=140
y=138
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=305
width=45
height=36
option="Change torso"
graphic="rightarrow,0"

[interface_71:109]
x=140
y=173
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=307
width=45
height=36
option="Change arms"
graphic="rightarrow,0"

[interface_71:110]
x=140
y=208
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=309
width=45
height=36
option="Change hands"
graphic="rightarrow,0"

[interface_71:111]
x=140
y=243
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=311
width=45
height=36
option="Change legs"
graphic="rightarrow,0"

[interface_71:112]
x=140
y=278
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=313
width=45
height=36
option="Change feet"
graphic="rightarrow,0"

[interface_71:113]
x=90
y=184
type=^IFTYPE_TEXT
width=29
height=14
font=^PLAIN
text="Arms"
colour=0xFFFF00
shadowed=yes

[interface_71:114]
x=91
y=254
type=^IFTYPE_TEXT
width=27
height=14
font=^PLAIN
text="Legs"
colour=0xFFFF00
shadowed=yes

[interface_71:115]
x=91
y=79
type=^IFTYPE_TEXT
width=28
height=14
font=^PLAIN
text="Head"
colour=0xFFFF00
shadowed=yes

[interface_71:116]
x=88
y=219
type=^IFTYPE_TEXT
width=35
height=14
font=^PLAIN
text="Hands"
colour=0xFFFF00
shadowed=yes

[interface_71:117]
x=91
y=288
type=^IFTYPE_TEXT
width=25
height=14
font=^PLAIN
text="Feet"
colour=0xFFFF00
shadowed=yes

[interface_71:118]
x=94
y=114
type=^IFTYPE_TEXT
width=21
height=14
font=^PLAIN
text="Jaw"
colour=0xFFFF00
shadowed=yes

[interface_71:119]
x=440
y=74
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=315
width=45
height=36
option="Recolour hair"
graphic="rightarrow,0"

[interface_71:120]
x=326
y=144
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=318
width=45
height=36
option="Recolour legs"
graphic="leftarrow,0"

[interface_71:121]
x=326
y=109
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=316
width=45
height=36
option="Recolour torso"
graphic="leftarrow,0"

[interface_71:122]
x=326
y=179
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=320
width=45
height=36
option="Recolour feet"
graphic="leftarrow,0"

[interface_71:123]
x=326
y=214
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=322
width=45
height=36
option="Recolour skin"
graphic="leftarrow,0"

[interface_71:124]
x=87
y=55
type=^IFTYPE_TEXT
width=34
height=11
font=^PLAIN_SMALL
text="Design"
colour=0xFFFFFF
shadowed=yes

[interface_71:125]
x=440
y=109
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=317
width=45
height=36
option="Recolour torso"
graphic="rightarrow,0"

[interface_71:126]
x=391
y=55
type=^IFTYPE_TEXT
width=33
height=11
font=^PLAIN_SMALL
text="Colour"
colour=0xFFFFFF
shadowed=yes

[interface_71:127]
x=440
y=144
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=319
width=45
height=36
option="Recolour legs"
graphic="rightarrow,0"

[interface_71:128]
x=440
y=179
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=321
width=45
height=36
option="Recolour feet"
graphic="rightarrow,0"

[interface_71:129]
x=440
y=214
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=323
width=45
height=36
option="Recolour skin"
graphic="rightarrow,0"

[interface_71:130]
x=394
y=86
type=^IFTYPE_TEXT
width=22
height=14
font=^PLAIN
text="Hair"
colour=0xFFFF00
shadowed=yes

[interface_71:131]
x=390
y=121
type=^IFTYPE_TEXT
width=31
height=14
font=^PLAIN
text="Torso"
colour=0xFFFF00
shadowed=yes

[interface_71:132]
x=392
y=155
type=^IFTYPE_TEXT
width=27
height=14
font=^PLAIN
text="Legs"
colour=0xFFFF00
shadowed=yes

[interface_71:133]
x=393
y=225
type=^IFTYPE_TEXT
width=23
height=14
font=^PLAIN
text="Skin"
colour=0xFFFF00
shadowed=yes

[interface_71:134]
x=393
y=191
type=^IFTYPE_TEXT
width=25
height=14
font=^PLAIN
text="Feet"
colour=0xFFFF00
shadowed=yes

[interface_71:135]
x=235
y=245
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_71:136]
x=236
y=282
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_71:137]
x=390
y=258
type=^IFTYPE_TEXT
width=36
height=11
font=^PLAIN_SMALL
text="Gender"
colour=0xFFFFFF
shadowed=yes

[interface_71:138]
x=325
y=271
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=324
width=72
height=36
option="Male"
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_71:139]
x=417
y=271
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=325
width=72
height=36
option="Female"
graphic="combatboxes,0"
activegraphic="combatboxes,1"

[interface_71:140]
x=348
y=281
type=^IFTYPE_TEXT
width=26
height=14
font=^PLAIN
text="Male"
colour=0xFFFF00
shadowed=yes

[interface_71:141]
x=435
y=281
type=^IFTYPE_TEXT
width=39
height=14
font=^PLAIN
text="Female"
colour=0xFFFF00
shadowed=yes

