[interface_75:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_75:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_75:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_75:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_75:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_75:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_75:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_75:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_75:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_75:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_75:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_75:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_75:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_75:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_75:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_75:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_75:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:50]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:57]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:58]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:61]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_75:71]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_75:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_75:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_75:75]
x=76
y=65

[interface_75:76]
x=225
y=29
type=^IFTYPE_TEXT
width=61
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Axe Shop"
colour=0xFFFF00
shadowed=yes

[interface_75:77]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_75:78]
x=63
y=291
type=^IFTYPE_TEXT
width=384
height=14
font=^PLAIN
text="Right-click on shop to buy item - Right-click on inventory to sell item"
colour=0xFFFF00
shadowed=yes

[interface_75:79]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:80]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:81]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:82]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:83]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:84]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:85]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:86]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:87]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:88]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:89]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:90]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_75:91]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

