[interface_77:0]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:1]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:2]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:3]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:4]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:5]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:6]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:7]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:8]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:9]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:10]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:11]
x=324
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:12]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:13]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:14]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:15]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:16]
x=324
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:17]
x=324
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:18]
x=324
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:19]
x=324
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_77:20]
x=96
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_77:21]
x=81
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_77:22]
x=81
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_77:23]
x=81
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_77:24]
x=81
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_77:25]
x=81
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_77:26]
x=81
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_77:27]
x=81
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_77:28]
x=397
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_77:29]
x=397
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_77:30]
x=397
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_77:31]
x=397
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_77:32]
x=397
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_77:33]
x=397
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_77:34]
x=397
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_77:35]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_77:36]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_77:37]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_77:38]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_77:39]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_77:40]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_77:41]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_77:42]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_77:43]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:44]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:45]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:46]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:47]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:48]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:49]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:50]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:51]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:52]
x=96
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_77:53]
x=393
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_77:54]
x=393
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_77:55]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:56]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:57]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:58]
x=377
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:59]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:60]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:61]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:62]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:63]
x=101
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_77:64]
x=127
y=30
type=^IFTYPE_TEXT
width=192
height=14
font=^BOLD
text="What would you like to make?"
colour=0xFFFF00
shadowed=yes

[interface_77:65]
x=341
y=28
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xC00000
overcolour=0xFFFFFF
shadowed=yes

[interface_77:66]
x=56
y=74
type=^IFTYPE_LAYER
width=400
height=66

[interface_77:67]
x=184
y=5
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:66
model=2666
zoom=571
xan=300
yan=302

[interface_77:68]
y=40
type=^IFTYPE_TEXT
width=400
height=14
layer=interface_77:66
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="You need a ring mould to craft rings."
colour=0xFFFFFF
shadowed=yes

[interface_77:69]
x=90
y=59
type=^IFTYPE_TEXT
width=332
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Rings"
colour=0xFFFF00
shadowed=yes

[interface_77:70]
x=56
y=84
type=^IFTYPE_LAYER
width=400
height=38

[interface_77:71]
x=66
y=3
type=^IFTYPE_INVENTORY
width=6
height=1
layer=interface_77:70
xof=15
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_77:72]
x=115
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:70
zoom=100

[interface_77:73]
x=162
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:70
zoom=100

[interface_77:74]
x=209
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:70
zoom=100

[interface_77:75]
x=256
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:70
zoom=100

[interface_77:76]
x=303
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:70
zoom=100

[interface_77:77]
x=56
y=162

[interface_77:78]
x=184
y=7
type=^IFTYPE_MODEL
width=32
height=32
model=2729
zoom=571
xan=300
yan=302

[interface_77:79]
y=40
type=^IFTYPE_TEXT
width=400
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="You need a necklace mould to craft necklaces."
colour=0xFFFFFF
shadowed=yes

[interface_77:80]
x=90
y=147
type=^IFTYPE_TEXT
width=332
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Necklaces"
colour=0xFFFF00
shadowed=yes

[interface_77:81]
x=56
y=172
type=^IFTYPE_LAYER
width=400
height=38

[interface_77:82]
x=66
y=3
type=^IFTYPE_INVENTORY
width=6
height=1
layer=interface_77:81
xof=15
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_77:83]
x=119
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:81
zoom=400

[interface_77:84]
x=165
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:81
zoom=200

[interface_77:85]
x=212
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:81
zoom=400

[interface_77:86]
x=259
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:81
zoom=400

[interface_77:87]
x=306
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:81
zoom=400

[interface_77:88]
x=56
y=250
type=^IFTYPE_LAYER
width=400
height=66

[interface_77:89]
x=184
y=6
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:88
model=2368
zoom=571
xan=300
yan=302

[interface_77:90]
y=40
type=^IFTYPE_TEXT
width=400
height=14
layer=interface_77:88
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="You need an amulet mould to craft amulets."
colour=0xFFFFFF
shadowed=yes

[interface_77:91]
x=90
y=235
type=^IFTYPE_TEXT
width=332
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Amulets"
colour=0xFFFF00
shadowed=yes

[interface_77:92]
x=56
y=260
type=^IFTYPE_LAYER
width=400
height=38

[interface_77:93]
x=66
y=3
type=^IFTYPE_INVENTORY
width=6
height=1
layer=interface_77:92
xof=15
invoption1="Make"
invoption2="Make 5"
invoption3="Make 10"

[interface_77:94]
x=123
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:92
zoom=400

[interface_77:95]
x=169
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:92
zoom=400

[interface_77:96]
x=216
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:92
zoom=400

[interface_77:97]
x=263
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:92
zoom=400

[interface_77:98]
x=309
type=^IFTYPE_MODEL
width=32
height=32
layer=interface_77:92
zoom=400

