[interface_89:0]
x=2
y=5
type=^IFTYPE_GRAPHIC
width=57
height=13
graphic="sworddecor,1"

[interface_89:1]
x=421
y=5
type=^IFTYPE_GRAPHIC
width=57
height=13
graphic="sworddecor,0"

[interface_89:2]
x=56
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_89:3]
x=207
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_89:4]
x=360
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_89:5]
x=12
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=152
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_89:6]
x=164
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=152
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_89:7]
x=316
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=152
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_89:8]
x=8
y=3
type=^IFTYPE_TEXT
width=464
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

