[interface_90:0]
x=2
y=5
type=^IFTYPE_GRAPHIC
width=57
height=13
graphic="sworddecor,1"

[interface_90:1]
x=421
y=5
type=^IFTYPE_GRAPHIC
width=57
height=13
graphic="sworddecor,0"

[interface_90:2]
x=28
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_90:3]
x=148
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_90:4]
x=268
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_90:5]
x=388
y=13
type=^IFTYPE_MODEL
buttontype=^BUTTON
width=64
height=96
zoom=400

[interface_90:6]
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=120
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_90:7]
x=120
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=120
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_90:8]
x=240
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=120
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_90:9]
x=360
y=76
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=120
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL

[interface_90:10]
x=8
y=3
type=^IFTYPE_TEXT
width=464
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Select an Option"
colour=0x800000

