[interface_904]
type=^IFTYPE_LAYER
width=512
height=334

[interface_904:905]
y=40
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=1
script1op1=5
script1op2=166
script1op3=0
graphic="miscgraphics,4"
activegraphic="miscgraphics,7"

[interface_904:906]
x=11
y=40
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=1
script1op1=5
script1op2=166
script1op3=0
graphic="miscgraphics,6"
activegraphic="miscgraphics,8"

[interface_904:907]
x=46
y=40
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=2
script1op1=5
script1op2=166
script1op3=0
graphic="miscgraphics,4"
activegraphic="miscgraphics,7"

[interface_904:908]
x=57
y=40
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=2
script1op1=5
script1op2=166
script1op3=0
graphic="miscgraphics,6"
activegraphic="miscgraphics,8"

[interface_904:909]
x=92
y=40
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=3
script1op1=5
script1op2=166
script1op3=0
graphic="miscgraphics,4"
activegraphic="miscgraphics,7"

[interface_904:910]
x=103
y=40
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=3
script1op1=5
script1op2=166
script1op3=0
graphic="miscgraphics,6"
activegraphic="miscgraphics,8"

[interface_904:911]
x=139
y=40
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=4
script1op1=5
script1op2=166
script1op3=0
graphic="miscgraphics,4"
activegraphic="miscgraphics,7"

[interface_904:912]
x=153
y=40
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=4
script1op1=5
script1op2=166
script1op3=0
graphic="miscgraphics,6"
activegraphic="miscgraphics,8"

[interface_904:913]
x=48
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=0
script1op1=5
script1op2=170
script1op3=0
graphic="miscgraphics,0"
activegraphic="miscgraphics,9"

[interface_904:914]
x=10
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=1
script1op1=5
script1op2=170
script1op3=0
graphic="miscgraphics,0"
activegraphic="miscgraphics,9"

[interface_904:915]
x=105
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=0
script1op1=5
script1op2=171
script1op3=0
graphic="miscgraphics,0"
activegraphic="miscgraphics,9"

[interface_904:916]
x=143
y=100
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=1
script1op1=5
script1op2=171
script1op3=0
graphic="miscgraphics,0"
activegraphic="miscgraphics,9"

[interface_904:917]
x=49
y=4
type=^IFTYPE_TEXT
width=90
height=14
font=^BOLD
text="Game Options"
colour=0x00FFFF
shadowed=yes

[interface_904:918]
x=41
y=24
type=^IFTYPE_TEXT
width=104
height=14
font=^PLAIN
text="Screen Brightness"
colour=0xFFFFFF
shadowed=yes

[interface_904:919]
x=12
y=53
type=^IFTYPE_TEXT
width=23
height=11
font=^PLAIN_SMALL
text="Dark"
colour=0xFFFF00
activecolour=0xFF8000
shadowed=yes

[interface_904:920]
x=52
y=53
type=^IFTYPE_TEXT
width=34
height=11
font=^PLAIN_SMALL
text="Normal"
colour=0xFFFF00
activecolour=0xFF8000
shadowed=yes

[interface_904:921]
x=100
y=53
type=^IFTYPE_TEXT
width=31
height=11
font=^PLAIN_SMALL
text="Bright"
colour=0xFFFF00
activecolour=0xFF8000
shadowed=yes

[interface_904:922]
x=142
y=53
type=^IFTYPE_TEXT
width=43
height=11
font=^PLAIN_SMALL
text="V-Bright"
colour=0xFFFF00
activecolour=0xFF8000
shadowed=yes

[interface_904:923]
x=6
y=82
type=^IFTYPE_TEXT
width=85
height=14
font=^PLAIN
text="Mouse Buttons"
colour=0xFFFFFF
shadowed=yes

[interface_904:924]
x=56
y=110
type=^IFTYPE_TEXT
width=19
height=14
font=^PLAIN
text="Two"
colour=0xFFFF00
activecolour=0xFF8000
shadowed=yes

[interface_904:925]
x=17
y=110
type=^IFTYPE_TEXT
width=22
height=14
font=^PLAIN
text="One"
colour=0xFFFF00
activecolour=0xFF8000
shadowed=yes

[interface_904:926]
x=106
y=82
type=^IFTYPE_TEXT
width=72
height=14
font=^PLAIN
text="Chat Effects"
colour=0xFFFFFF
shadowed=yes

[interface_904:927]
x=151
y=110
type=^IFTYPE_TEXT
width=20
height=14
font=^PLAIN
text="Off"
colour=0xFFFF00
activecolour=0xFF8000
shadowed=yes

[interface_904:928]
x=115
y=110
type=^IFTYPE_TEXT
width=15
height=14
font=^PLAIN
text="On"
colour=0xFFFF00
activecolour=0xFF8000
shadowed=yes

[interface_904:929]
x=6
y=196
type=^IFTYPE_TEXT
width=40
height=26
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Music\nVolume"
colour=0xFFFFFF
shadowed=yes

[interface_904:930]
x=52
y=197
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=168
script1op3=0
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_904:931]
x=78
y=197
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=168
script1op3=0
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_904:932]
x=104
y=197
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=168
script1op3=0
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_904:933]
x=130
y=197
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=168
script1op3=0
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_904:934]
x=156
y=197
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=0
script1op1=5
script1op2=168
script1op3=0
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_904:935]
x=56
y=204
type=^IFTYPE_TEXT
width=17
height=11
font=^PLAIN_SMALL
text="Off"
colour=0xFFFF00
activecolour=0xFF8000
shadowed=yes

[interface_904:936]
x=88
y=204
type=^IFTYPE_TEXT
width=4
height=11
font=^PLAIN_SMALL
text="1"
colour=0xFFFF00
shadowed=yes

[interface_904:937]
x=113
y=204
type=^IFTYPE_TEXT
width=7
height=11
font=^PLAIN_SMALL
text="2"
colour=0xFFFF00
shadowed=yes

[interface_904:938]
x=139
y=204
type=^IFTYPE_TEXT
width=6
height=11
font=^PLAIN_SMALL
text="3"
colour=0xFFFF00
shadowed=yes

[interface_904:939]
x=166
y=204
type=^IFTYPE_TEXT
width=5
height=11
font=^PLAIN_SMALL
text="4"
colour=0xFFFF00
shadowed=yes

[interface_904:940]
x=6
y=226
type=^IFTYPE_TEXT
width=40
height=26
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="Effect\nVolume"
colour=0xFFFFFF
shadowed=yes

[interface_904:941]
x=52
y=227
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=169
script1op3=0
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_904:942]
x=78
y=227
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=169
script1op3=0
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_904:943]
x=104
y=227
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=169
script1op3=0
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_904:944]
x=130
y=227
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=169
script1op3=0
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_904:945]
x=156
y=227
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=0
script1op1=5
script1op2=169
script1op3=0
graphic="miscgraphics3,0"
activegraphic="miscgraphics3,1"

[interface_904:946]
x=56
y=234
type=^IFTYPE_TEXT
width=17
height=11
font=^PLAIN_SMALL
text="Off"
colour=0xFFFF00
activecolour=0xFF8000
shadowed=yes

[interface_904:947]
x=88
y=234
type=^IFTYPE_TEXT
width=4
height=11
font=^PLAIN_SMALL
text="1"
colour=0xFFFF00
shadowed=yes

[interface_904:948]
x=113
y=234
type=^IFTYPE_TEXT
width=7
height=11
font=^PLAIN_SMALL
text="2"
colour=0xFFFF00
shadowed=yes

[interface_904:949]
x=139
y=234
type=^IFTYPE_TEXT
width=6
height=11
font=^PLAIN_SMALL
text="3"
colour=0xFFFF00
shadowed=yes

[interface_904:950]
x=166
y=234
type=^IFTYPE_TEXT
width=5
height=11
font=^PLAIN_SMALL
text="4"
colour=0xFFFF00
shadowed=yes

[interface_904:956]
x=46
y=138
type=^IFTYPE_TEXT
width=100
height=14
font=^PLAIN
text="Split Private-chat"
colour=0xFFFFFF
shadowed=yes

[interface_904:957]
x=56
y=154
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=1
script1op1=5
script1op2=287
script1op3=0
graphic="miscgraphics,0"
activegraphic="miscgraphics,9"

[interface_904:958]
x=98
y=154
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=36
height=36
scriptc1=1
scriptv1=0
script1op1=5
script1op2=287
script1op3=0
graphic="miscgraphics,0"
activegraphic="miscgraphics,9"

[interface_904:959]
x=66
y=165
type=^IFTYPE_TEXT
width=15
height=14
font=^PLAIN
text="On"
colour=0xFFFF00
shadowed=yes

[interface_904:960]
x=106
y=164
type=^IFTYPE_TEXT
width=20
height=14
font=^PLAIN
text="Off"
colour=0xFFFF00
shadowed=yes

