[interface_93:0]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:1]
x=12
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:2]
x=12
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:3]
x=12
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:4]
x=12
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:5]
x=100
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:6]
x=100
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:7]
x=100
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:8]
x=100
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:9]
x=188
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:10]
x=100
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:11]
x=188
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:12]
x=188
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:13]
x=188
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:14]
x=188
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:15]
x=276
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:16]
x=364
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:17]
x=276
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:18]
x=276
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:19]
x=276
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:20]
x=276
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:21]
x=364
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:22]
x=364
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:23]
x=364
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:24]
x=364
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:25]
x=412
y=20
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:26]
x=412
y=80
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:27]
x=412
y=140
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:28]
x=412
y=200
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:29]
x=412
y=260
type=^IFTYPE_GRAPHIC
width=88
height=60
graphic="tradebacking,0"

[interface_93:30]
x=12
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_93:31]
y=49
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_93:32]
y=85
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_93:33]
y=121
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_93:34]
y=157
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_93:35]
y=193
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_93:36]
y=229
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_93:37]
y=265
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_93:38]
x=479
y=50
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_93:39]
x=479
y=86
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_93:40]
x=479
y=122
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_93:41]
x=479
y=158
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_93:42]
x=479
y=194
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_93:43]
x=479
y=230
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_93:44]
x=479
y=266
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_93:45]
x=73
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:46]
x=109
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:47]
x=145
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:48]
x=181
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:49]
x=217
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:50]
x=253
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:51]
x=289
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:52]
x=325
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:53]
x=361
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:54]
x=397
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:55]
x=433
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:56]
x=72
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:57]
x=108
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:58]
x=144
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:59]
x=180
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:60]
x=216
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:61]
x=252
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:62]
x=288
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:63]
x=324
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:64]
x=360
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:65]
x=396
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:66]
x=432
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:67]
x=252
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:68]
x=37
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:69]
x=37
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:70]
x=12
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_93:71]
x=475
y=20
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_93:72]
x=439
y=5
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:73]
x=475
y=290
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_93:74]
x=439
y=299
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_93:75]
x=288
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:76]
x=324
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:77]
x=360
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:78]
x=396
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:79]
x=432
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:80]
x=459
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:81]
x=216
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:82]
x=180
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:83]
x=144
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:84]
x=108
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:85]
x=72
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:86]
x=36
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:87]
x=17
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_93:88]
x=420
y=29
type=^IFTYPE_TEXT
buttontype=^CLOSE
width=68
height=11
font=^PLAIN_SMALL
text="Close Window"
colour=0xFF0000
overcolour=0xFFFFFF
shadowed=yes

[interface_93:89]
x=154
y=30
type=^IFTYPE_TEXT
width=194
height=14
halign=^SETTEXTALIGN_CENTRE
font=^BOLD
text="Thessalias' Makeovers (Legs)"
colour=0xFFFF00
shadowed=yes

[interface_93:90]
x=59
y=249
type=^IFTYPE_RECTANGLE
width=403
height=28
fill=yes

[interface_93:91]
x=85
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=263
script1op3=0
option="Khaki"
fill=yes
colour=0x7B6E32

[interface_93:92]
x=110
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=263
script1op3=0
option="Black"
fill=yes
colour=0x262323

[interface_93:93]
x=135
y=250

[interface_93:94]
x=160
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=263
script1op3=0
option="Navy"
fill=yes
colour=0x3B3B4E

[interface_93:95]
x=185
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=263
script1op3=0
option="Straw"
fill=yes
colour=0xAA9045

[interface_93:96]
x=210
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=263
script1op3=0
option="White"
fill=yes
colour=0xBEB89C

[interface_93:97]
x=235
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=263
script1op3=0
option="Red"
fill=yes
colour=0x8B3B2A

[interface_93:98]
x=260
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=263
script1op3=0
option="Blue"
fill=yes
colour=0x2D5272

[interface_93:99]
x=285
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=263
script1op3=0
option="Green"
fill=yes
colour=0x2D723E

[interface_93:100]
x=310
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=263
script1op3=0
option="Yellow"
fill=yes
colour=0xA3970D

[interface_93:101]
x=335
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=263
script1op3=0
option="Purple"
fill=yes
colour=0x83537B

[interface_93:102]
x=360
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=263
script1op3=0
option="Orange"
fill=yes
colour=0x9D642F

[interface_93:103]
x=385
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=263
script1op3=0
option="Rose"
fill=yes
colour=0xA17067

[interface_93:104]
x=410
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=263
script1op3=0
option="Lime"
fill=yes
colour=0x829472

[interface_93:105]
x=435
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=263
script1op3=0
option="Cyan"
fill=yes
colour=0x728C94

[interface_93:106]
x=60
y=250
type=^IFTYPE_RECTANGLE
buttontype=^SELECT
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=263
script1op3=0
option="Emerald"
fill=yes
colour=0x1C6135

[interface_93:107]
x=197
y=289
type=^IFTYPE_TEXT
buttontype=^BUTTON
width=127
height=14
font=^BOLD
text="CONFIRM (500 gold)"
colour=0x00FF00
overcolour=0xFF0000
shadowed=yes

[interface_93:108]
x=59
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:109]
x=84
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:110]
x=109
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:111]
x=134
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:112]
x=160
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:113]
x=185
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:114]
x=210
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:115]
x=235
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:116]
x=260
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=9
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:117]
x=285
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=10
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:118]
x=310
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=11
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:119]
x=335
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=12
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:120]
x=360
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=13
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:121]
x=385
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=14
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:122]
x=410
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=15
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:123]
x=435
y=250
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=16
script1op1=5
script1op2=263
script1op3=0
activegraphic="headicons,1"

[interface_93:124]
x=220
y=225
type=^IFTYPE_TEXT
width=73
height=14
font=^PLAIN
text="Select colour"
colour=0xFFFF00
shadowed=yes

[interface_93:125]
x=50
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=419
zoom=600

[interface_93:126]
x=100
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=433
zoom=600

[interface_93:127]
x=150
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=431
zoom=600

[interface_93:128]
x=200
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=421
zoom=600

[interface_93:129]
x=250
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=428
zoom=600

[interface_93:130]
x=300
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=438
zoom=600

[interface_93:131]
x=350
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=437
zoom=600

[interface_93:132]
x=400
y=180
type=^IFTYPE_MODEL
width=32
height=32
model=429
zoom=600

[interface_93:133]
x=50
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
option="Plain"

[interface_93:134]
x=100
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
option="Shorts"

[interface_93:135]
x=150
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
option="Flares"

[interface_93:136]
x=200
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_93:137]
x=250
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_93:138]
x=300
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_93:139]
x=350
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_93:140]
x=400
y=90
type=^IFTYPE_GRAPHIC
buttontype=^SELECT
width=30
height=100
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0
option="Turn-ups"

[interface_93:141]
x=50
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=1
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_93:142]
x=100
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=2
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_93:143]
x=150
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=3
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_93:144]
x=250
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=5
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_93:145]
x=200
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=4
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_93:146]
x=300
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=6
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_93:147]
x=350
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=7
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_93:148]
x=400
y=100
type=^IFTYPE_GRAPHIC
width=25
height=25
scriptc1=1
scriptv1=8
script1op1=5
script1op2=261
script1op3=0
activegraphic="headicons,1"

[interface_93:149]
x=211
y=62
type=^IFTYPE_TEXT
width=87
height=14
font=^PLAIN
text="Select leg style"
colour=0xFFFF00
shadowed=yes

