[interface_973]
type=^IFTYPE_LAYER
width=512
height=334

[interface_973:974]
x=414
y=34
type=^IFTYPE_MODEL
width=32
height=32
zoom=796
xan=40
yan=166

[interface_973:975]
x=20
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Name"
colour=0x800000

[interface_973:976]
x=20
y=28
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line1"

[interface_973:977]
x=20
y=56
type=^IFTYPE_TEXT
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Line2"

[interface_973:978]
x=20
y=80
type=^IFTYPE_TEXT
buttontype=^PAUSE
width=350
height=17
halign=^SETTEXTALIGN_CENTRE
font=^QUILL
text="Click here to continue"
colour=0xFFFF00
overcolour=0x00C000

