[interface_98:0]
x=164
y=178
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_98:1]
y=178
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_98:2]
x=5
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=201
width=45
height=36
option="Add friend"
graphic="leftarrow,0"

[interface_98:3]
x=141
y=224
type=^IFTYPE_GRAPHIC
buttontype=^BUTTON
clientcode=202
width=45
height=36
option="Delete friend"
graphic="rightarrow,0"

[interface_98:4]
x=73
y=236
type=^IFTYPE_TEXT
width=42
height=14
halign=^SETTEXTALIGN_CENTRE
font=^PLAIN
text="%1/%2"
colour=0xFFFF00
shadowed=yes

[interface_98:5]
x=13
y=12
type=^IFTYPE_MODEL
width=65
height=65
zoom=400

[interface_98:6]
x=5
y=4
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,0"

[interface_98:7]
x=160
y=4
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,1"

[interface_98:8]
x=5
y=192
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,2"

[interface_98:9]
x=160
y=192
type=^IFTYPE_GRAPHIC
width=25
height=30
graphic="steelborder,3"

[interface_98:10]
x=30
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_98:11]
x=66
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_98:12]
x=102
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_98:13]
x=138
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,0"

[interface_98:14]
x=164
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_98:15]
x=164
y=70
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_98:16]
x=164
y=106
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_98:17]
x=164
y=142
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="steelborder2,1"

[interface_98:18]
y=34
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_98:19]
y=70
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_98:20]
y=106
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_98:21]
y=142
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,2"

[interface_98:22]
x=16
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_98:23]
x=52
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_98:24]
x=88
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_98:25]
x=124
y=201
type=^IFTYPE_GRAPHIC
width=36
height=36
graphic="miscgraphics,3"

[interface_98:26]
x=81
y=16
type=^IFTYPE_TEXT
width=28
height=17
font=^QUILL
text="line1"
colour=0x00C000
shadowed=yes

[interface_98:27]
x=81
y=36
type=^IFTYPE_TEXT
width=28
height=17
font=^QUILL
text="line2"
colour=0x00C000
shadowed=yes

[interface_98:28]
x=81
y=56
type=^IFTYPE_TEXT
width=28
height=17
font=^QUILL
text="line3"
colour=0x00C000
shadowed=yes

[interface_98:29]
x=13
y=80
type=^IFTYPE_LAYER
width=165
height=65

[interface_98:30]
y=4
type=^IFTYPE_RECTANGLE
width=9
height=9
layer=interface_98:29
fill=yes

[interface_98:31]
x=16
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_98:29
font=^PLAIN
text="part1a"
colour=0xFFFF00
shadowed=yes

[interface_98:32]
x=16
y=16
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_98:29
font=^PLAIN
text="part2a"
colour=0xFFFF00
shadowed=yes

[interface_98:33]
x=16
y=32
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_98:29
font=^PLAIN
text="part3a"
colour=0xFFFF00
shadowed=yes

[interface_98:34]
x=16
y=48
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_98:29
font=^PLAIN
text="part4a"
colour=0xFFFF00
shadowed=yes

[interface_98:35]
x=13
y=148
type=^IFTYPE_LAYER
width=165
height=65

[interface_98:36]
y=4
type=^IFTYPE_RECTANGLE
width=9
height=9
layer=interface_98:35
fill=yes

[interface_98:37]
x=16
type=^IFTYPE_TEXT
width=37
height=14
layer=interface_98:35
font=^PLAIN
text="part1b"
colour=0xFFFF00
shadowed=yes

[interface_98:38]
x=16
y=16
type=^IFTYPE_TEXT
width=39
height=14
layer=interface_98:35
font=^PLAIN
text="part2b"
colour=0xFFFF00
shadowed=yes

[interface_98:39]
x=16
y=32
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_98:35
font=^PLAIN
text="part3b"
colour=0xFFFF00
shadowed=yes

[interface_98:40]
x=16
y=48
type=^IFTYPE_TEXT
width=38
height=14
layer=interface_98:35
font=^PLAIN
text="part4b"
colour=0xFFFF00
shadowed=yes

